{% extends "main/main.html" %}
{% block page_title %}
    {% if not SUBJECT %}
        Admin Workbench
    {% else %}
        {{ SUBJECT }}
    {% endif %}
{% endblock %}
{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}
{% load template_simplify %}
{% load intro_selections %}
{% block content %}
    {# STYLES #}
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/elements/navbar-secondary.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/admin_workbenches/admin-workbench.css' %}"/>
    <!-- Toast draw here -->
    <div id="toastStack" aria-live="assertive" aria-atomic="true" style="position: absolute;z-index: 1">
        <!-- Position it -->
        {% comment %}<div id="toastStack" style="position: absolute; top: 0; left: 0;">
            <div id="toastStack" style="position: absolute;z-index: 2"></div>
        </div>{% endcomment %}
    </div>
    <!-- Workbench navbar -->
    <nav class="navbar navbar-light test-report-navbar">
    {% spaceless %}
        <!-- Navbar content -->
        <!-- Navbar left part content -->
        <div class="nav-reports-left">
            <!-- Digest levels breadcrumbs: -->
            <div class="digest-breadcrumbs">
                <nav class="nav nav-pills">
                    <div class="btn-group btn-group-sm" role="group">
                        <a class="btn btn-sm btn-info" href="{% url 'admin_workbench' %}" title="You are here..."><i class="fas fa-play"></i> Admin Workbench</a>
                    </div>
                </nav>
            </div>
            <!-- Change branch here: -->
            <div class="digest-branch"></div>
            <div class="selection-state"></div>
        </div>
        <!-- Navbar right part content -->
        <div class="nav-reports-right digest-test-log-levels">
        </div>
    {% endspaceless %}
    </nav>
    {# CONTENT #}
    <div class="admin-content">
        <div class="card-deck">
            <div class="card">
                <div class="card-header">Celery</div>
                <div class="card-body">
                    <div class="general-celery-workbench">
                        <div class="alert alert-light general-celery-workbench text-center" role="alert">
                            <h4 class="alert-heading">General Celery workbench</h4>
                            <div class="card-text">Inspecting celery workers, restart, cancel, revoke etc.</div>
                            <hr>
                            <a class="btn btn-sm btn-outline-secondary" href="{% url 'celery_workbench' %}">Celery workbench</a>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Used to manage running tasks, see statuses.</small>
                </div>
            </div>
            <div class="card">
                <div class="card-header">ADDM</div>
                <div class="card-body">
                    <div class="general-addm-workbench">
                        <div class="alert alert-light general-celery-workbench text-center" role="alert">
                            <h4 class="alert-heading">General ADDM workbench</h4>
                            <div class="card-text">Service tasks, views and actions on ADDM test machines.</div>
                            <hr>
                            <a class="btn btn-sm btn-outline-info" href="{% url 'addm_workbench' %}">ADDM Workbench</a>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">To view, change and control ADDM test machines</small>
                </div>
            </div>
            <div class="card border-primary">
                <div class="card-header">Current workbench</div>
                <div class="card-body">
                    <div class="general-addm-workbench">
                        <div class="alert alert-light general-celery-workbench text-center" role="alert">
                            <h4 class="alert-heading">Admin workbench</h4>
                            <div class="card-text">Octopus administration tasks, options, models, tables.</div>
                            <hr>
                            <a class="btn btn-sm btn-outline-info active" href="{% url 'admin_workbench' %}">Admin Workbench</a>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Current dashboard, include most common options.</small>
                </div>
            </div>
        </div>
        <div class="admin-buttons">
            <div class="card">
                <div class="card-header">Octopus Internal</div>
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header"></div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <span class="card-text fl-left">Perforce operations:</span>
                                        <div class="btn-group fl-right">
                                            <a class="btn btn-sm btn-outline-info disabled" id="p4_info" data-operation_key="p4_info" href="#">P4 Info</a>
                                            <a class="btn btn-sm btn-outline-info disabled" id="p4_sync" data-operation_key="p4_sync" href="#">P4 Sync and parse</a>
                                            <a class="btn btn-sm btn-outline-info disabled" id="p4_sync_force" data-operation_key="p4_sync_force" href="#">P4 Sync force</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header"></div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <span class="card-text fl-left">Local operations:</span>
                                        <div class="btn-group fl-right">
                                            <a class="btn btn-sm btn-outline-info disabled" id="parse_full" data-operation_key="parse_full" href="#">Parse local test data</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header"></div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <span class="card-text fl-left">Statistical:</span>
                                        <div class="btn-group fl-right">
                                            <a class="btn btn-sm btn-outline-info disabled" id="cases_weight" data-operation_key="cases_weight" href="#">Calculate cases weight</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-text"><h3>Admin views:</h3></div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">Options and users</div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <span class="card-text fl-left">Options table:</span>
                                        <div class="btn-group fl-right">
                                            <a class="btn btn-sm btn-outline-primary" href="{% url 'admin:index' %}run_core/options/">Options</a>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="card-text fl-left">Auth Users Groups</span>
                                        <div class="btn-group fl-right">
                                            <a class="btn btn-sm btn-outline-primary" href="{% url 'admin:index' %}auth/group/">Groups</a>
                                            <a class="btn btn-sm btn-outline-primary" href="{% url 'admin:index' %}auth/user/">Users</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">Test result admin views</div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <span class="card-text fl-left">Test cases:</span>
                                        <div class="btn-group fl-right">
                                            <a class="btn btn-sm btn-outline-primary" href="{% url 'admin:index' %}octo_tku_patterns/testcases/">Cases</a>
                                            <a class="btn btn-sm btn-outline-primary" href="{% url 'admin:index' %}octo_tku_patterns/testcasesdetails/">Case group</a>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="card-text fl-left">Test logs:</span>
                                        <div class="btn-group fl-right">
                                            <a class="btn btn-sm btn-outline-primary" href="{% url 'admin:index' %}octo_tku_patterns/testlast/">Last tests</a>
                                            <a class="btn btn-sm btn-outline-primary" href="{% url 'admin:index' %}octo_tku_patterns/testhistory/">History tests</a>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="card-text fl-left">Upload logs:</span>
                                        <div class="btn-group fl-right">
                                            <a class="btn btn-sm btn-outline-primary" href="{% url 'admin:index' %}octo_tku_upload/tkupackagesnew/">TKU Packages</a>
                                            <a class="btn btn-sm btn-outline-primary" href="{% url 'admin:index' %}octo_tku_upload/uploadtestsnew/">TKU Tests</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">Test environments and planning</div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <span class="fl-left">ADDM VM</span>
                                        <div class="btn-group fl-right">
                                            <a class="btn btn-sm btn-outline-primary" href="{% url 'admin:index' %}run_core/addmdev/">ADDM Admin model</a>
                                            <a class="btn btn-sm btn-outline-primary" href="{% url 'admin:index' %}run_core/addmdevproxy/">ADDM Proxy model</a>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="fl-left">Cron</span>
                                        <div class="btn-group fl-right">
                                            <a class="btn btn-sm btn-outline-primary" href="{% url 'admin:index' %}django_celery_beat/periodictask/">Periodic tasks</a>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Internal Django model views attached to admin site.</small>
                </div>
            </div>
        </div>
        <div class="rest-options">
            <div class="card">
                <div class="card-header">REST Operations</div>
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header"></div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <span class="card-text fl-left">Task Operations Rest:</span>
                                        <div class="btn-group fl-right">
                                            <a class="btn btn-sm btn-outline-info" href="{% url 'task_operations' %}">Task Operations</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header"></div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <span class="card-text fl-left">Admin Operations Rest:</span>
                                        <div class="btn-group fl-right">
                                            <a class="btn btn-sm btn-outline-info" href="{% url 'admin_operations' %}">Admin Operations</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Just a quick reference for available REST operations.</small>
                </div>
            </div>
        </div>
        <div class="experimental-views">
            <div class="card">
                <div class="card-header">Experimental Views</div>
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header"></div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <span class="card-text fl-left">History digest:</span>
                                        <div class="fl-right">
                                            <a class="btn btn-sm btn-outline-warning disabled" href="{% url 'test_history_index_archive' %}?tst_status=notpass;">History | Index (Should show all history Gigs of data!)</a>
                                            <a class="btn btn-sm btn-outline-warning" href="{% url 'test_history_archive_day' year='2020' month='feb' day='22' %}?tst_status=notpass;">History | Archive day (year=2020 month=feb day=22)</a>
                                            <a class="btn btn-sm btn-outline-warning" href="{% url 'test_history_archive_today' %}?tst_status=notpass;">History | Archive today</a>
                                            <a class="btn btn-sm btn-outline-warning" href="{% url 'test_history_digest_today' %}?tst_status=notpass;">History | Digest today</a>
                                            <a class="btn btn-sm btn-outline-warning" href="{% url 'test_history_digest_day' year='2020' month='feb' day='22' %}?tst_status=notpass;">History | Digest by day (year=2020 month=feb day=22)</a>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="card-text fl-left">...</span>
                                        <div class="btn-group fl-right">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header"></div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <span class="card-text fl-left">Functions:</span>
                                        <div class="btn-group fl-right">
{#                                            <a class="btn btn-sm btn-outline-info" href="{% url 'admin_operations' %}">Admin Operations</a>#}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Those are for test or check ideas.</small>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar bottom fixed -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
        <a class="navbar-brand" href="#"><i class="fab fa-github"></i></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'admin_workbench' %}">Admin Workbench</a>
            </li>
        </ul>
        <span class="navbar-text">Octopus automation</span>
    </nav>
    {# INCLUDES #}
    {% include 'digests/includes/toast_popup.html' %}
    {# JS #}
    <script src="{% static 'octopus/js/admin-workbench/admin-btn.js' %}"></script>
    {% comment %}DEBUG{% endcomment %}
    <div class="debug-context">
        {% if request.GET.debug %}
            <p>DEBUG enabled</p>
            <p>actual addm_names: {{ addm_names }}</p>
            <p>Selector: {{ selector }}</p>
            <ul>
                {% for sel_k, sel_v in selector.items %}
                    {% if sel_v %}
                        <li class="text-success">{{ sel_k }} = "{{ sel_v }}"</li>
                    {% else %}
                        <li class="text-warning">{{ sel_k }} = "{{ sel_v }}"</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}