{% extends "main/main.html" %}
{% load i18n %}
{% block page_title %}
    Octopus workbench page
{% endblock %}
{% block content %}
{% load static %}
{% load template_simplify %}
{% if power_user_bool or staff_user_bool %}
<div style="padding: 1%">

    <div class="card-deck">
        {% include 'admin_workbench/cards/reports.html' %}
        {% include 'admin_workbench/cards/dev_qa_reports.html' %}
        {% include 'admin_workbench/cards/custom_reports_search.html' %}
        {% include 'admin_workbench/cards/statistics.html' %}
    </div>
    <div class="card-deck" style="padding-top: 0.5em">
        {% include 'admin_workbench/cards/task_processing.html' %}
        {% include 'admin_workbench/cards/data_operations.html' %}
{#        {% include 'admin_workbench/cards/octopus_addm_service.html' %}#}
        {% include 'admin_workbench/cards/routines_service.html' %}
    </div>
</div>
{% else %}
<!-- Login form request. -->
<div style="padding-left:1%;padding-right:1%;padding-bottom:1%;">
    <div class="alert alert-warning" role="alert">
        This page is only for "staff" or power users and development.
    </div>
</div>
{% endif %}
{% endblock %}