{% extends "main/main.html" %}
{% load static %}
{% block page_title %}Patterns digest "{{ADDM_NAME}}" branch "{{ BRANCH }}"{% endblock %}
{% load tz %}
{% load humanize %}
{% load template_simplify %}
{% block content %}
<!-- Draw navigation head as custom breadcrumbs if NAV_HEAD_DRAW -->
{% if NAV_HEAD_DRAW %}
    <!-- include "small_blocks/dev_breadcrumb.html" -->
    {% breadcrumbs_navigation 'patterns_digest' 'general_addm' 'patterns_digest' 'history_select' %}
{% else %}<!-- NAV_HEAD_DRAW TABS False -->
{% endif %}

<!-- Draw addm navigation tabs if TABS_DRAW -->
{% if TABS_DRAW %}
    <!-- ADDM TABS for pattern tests digest: -->
    {% addm_tabs "patterns_digest" %}
{% else %}<!-- ADDM TABS False -->
{% endif %}

<!-- HISTORY digest place: -->
{% if history_digest %}
    {% include "small_blocks/history_badge.html" %}
{% endif %}

<!-- Patterns table content: -->
<div style="padding-left:1%;padding-right:1%">
{% with "text-center align-middle" as text_align %}
<table class="table table-hover table-sm">
    <thead class="table-light">
        <!-- Patterns table Head: -->
        <tr>
            <th scope="col" id="col_counter" class="{{ text_align }}">#</th>
            <th scope="col" id="col_pattern_dir" class="{{ text_align }}"><a class="btn btn-link" href="{% url "patterns_digest" %}?branch={{ BRANCH }}{% if ADDM_NAME %}&addm_name={{ ADDM_NAME }}{% endif %}{% log_levels %};sort_by=pattern_folder_name">Pattern dir{% select_icon 'arrow-small-down' 24 'right' 0.4 %}</a></th>
            <th scope="col" id="col_category" class="{{ text_align }}">
                <a class="btn btn-link" href="{% url "patterns_digest" %}?branch={{ BRANCH }}{% if ADDM_NAME %}&addm_name={{ ADDM_NAME }}{% endif %}{% log_levels %};sort_by=pattern_library">Category{% select_icon 'arrow-small-down' 24 'right' 0.4 %}</a>
            </th>
            <th scope="col" id="col_id" class="{{ text_align }}">ID</th>
            <th scope="col" id="col_cc_review" class="{{ text_align }}">CC Review</th>
            <th scope="col" id="col_change" class="{{ text_align }}">
                <a class="btn btn-link" href="{% url "patterns_digest" %}?branch={{ BRANCH }}{% if ADDM_NAME %}&addm_name={{ ADDM_NAME }}{% endif %}{% log_levels %};sort_by=change_ticket">Change{% select_icon 'arrow-small-down' 24 'right' 0.4 %}</a>
            </th>
            <th scope="col" id="col_by" class="{{ text_align }}">
                <a class="btn btn-link" href="{% url "patterns_digest" %}?branch={{ BRANCH }}{% if ADDM_NAME %}&addm_name={{ ADDM_NAME }}{% endif %}{% log_levels %};sort_by=change_user">By{% select_icon 'arrow-small-down' 24 'right' 0.4 %}</a>
            </th>
        {% if not FAIL_ONLY and not SKIP_ONLY and not ERROR_ONLY %}
            <th scope="col" id="col_tests" class="{{ text_align }}">
                <a class="btn btn-link" href="{% url "patterns_digest" %}?branch={{ BRANCH }}{% if ADDM_NAME %}&addm_name={{ ADDM_NAME }}{% endif %}{% log_levels %};sort_by=test_items">Tests{% select_icon 'arrow-small-down' 24 'right' 0.4 %}</a>
            </th>
        {% endif %}
        {% if not PASS_ONLY and not FAIL_ONLY and not SKIP_ONLY and not ERROR_ONLY and not NOT_PASS_ONLY %}
            <th scope="col" id="col_success" class="{{ text_align }}">Success</th>
        {% endif %}
        {% if not ERROR_ONLY and not SKIP_ONLY and not PASS_ONLY %}
            <th scope="col" id="col_fail" class="{{ text_align }}">Fail</th>
        {% endif %}
        {% if not FAIL_ONLY and not SKIP_ONLY and not PASS_ONLY %}
            <th scope="col" id="col_error" class="{{ text_align }}">Error</th>
        {% endif %}
        {% if not FAIL_ONLY and not ERROR_ONLY and not PASS_ONLY and not NOT_PASS_ONLY %}
            <th scope="col" id="col_skip" class="{{ text_align }}">Skip</th>
        {% endif %}
            <th scope="col" id="col_stat" class="{{ text_align }}">Stat</th>
            <th scope="col" id="col_run_test" class="{{ text_align }}">Actions</th>
            <th scope="col" id="col_date_time" class="{{ text_align }}">
                <a class="btn btn-link" href="{% url "patterns_digest" %}?branch={{ BRANCH }}{% if ADDM_NAME %}&addm_name={{ ADDM_NAME }}{% endif %}{% log_levels %};sort_by=test_date_time">Date time{% select_icon 'arrow-small-down' 24 'right' 0.4 %}</a>
            </th>
        </tr>
    </thead>
    <tbody>
    <!-- Patterns table rows in cycle: -->

{#    {% if SORT_ORD == 'sort_desc' %}#}
{#        {% for pattern_row in PATTERNS_CONTENT|dictsortreversed:SORT_BY %}#}
{#    {% elif SORT_ORD == 'sort_asc' %}#}
        {% for pattern_row in PATTERNS_CONTENT|dictsort:SORT_BY %}
{#    {% else %}#}
{#        {% for pattern_row in PATTERNS_CONTENT %}#}
{#    {% endif %}#}
    {% pattern_digest_color pattern_row.fails pattern_row.error as color %}

        <tr title="by user: '{{ pattern_row.change_user }}' is key: {{ pattern_row.is_key_pattern }} ADDM name: '{{ pattern_row.addm_name }}', group: '{{ pattern_row.addm_group }}', host: '{{ pattern_row.addm_host }}'">
            <td id="row_counter" class="{{ text_align }} table-{{ color.bckgrnd }} font-weight-normal" style="font-size: 1em;">{{ forloop.counter }}</td>
            <td id="row_pattern_dir" class="{{ text_align }} table-{{ color.bckgrnd }} font-weight-normal text-lg-left" style="font-size: 1em;">{{ pattern_row.pattern_folder_name }}</td>
            <td id="row_category" class="{{ text_align }} table-{{ color.bckgrnd }} font-weight-normal" style="font-size: 1em;">{{ pattern_row.pattern_library }}</td>
            <td id="row_id" class="{{ text_align }} table-{{ color.bckgrnd }} font-weight-normal" style="font-size: 0.9em;">{{ pattern_row.change_ticket }}</td>
            <td id="row_cc_review" class="{{ text_align }} table-{{ color.bckgrnd }} font-weight-normal" style="font-size: 0.9em;">{{ pattern_row.change_review }}</td>
            <td id="row_change" class="{{ text_align }} table-{{ color.bckgrnd }} font-weight-normal" style="font-size: 0.9em;" >{{ pattern_row.pattern_folder_change }}</td>
            <td id="row_by" class="{{ text_align }} table-{{ color.bckgrnd }} font-weight-normal" style="font-size: 0.9em;" >{{ pattern_row.change_user }}</td>
            {% if not FAIL_ONLY and not SKIP_ONLY and not ERROR_ONLY %}
                <td id="row_tests" class="{{ text_align }} table-{{ color.bckgrnd }} font-weight-normal" style="font-size: 1em;">{{ pattern_row.test_items }}</td>
            {% endif %}
            {% if not PASS_ONLY and not FAIL_ONLY and not SKIP_ONLY and not ERROR_ONLY and not NOT_PASS_ONLY %}
                <td id="row_success" class="{{ text_align }} table-{{ color.bckgrnd }} font-weight-light" style="font-size: 1em;">{{ pattern_row.passed_percent|apnumber }}%</td>
            {% endif %}
            {% if not ERROR_ONLY and not SKIP_ONLY and not PASS_ONLY %}
                <td id="row_fail" class="{{ text_align }} table-{{ color.bckgrnd }} font-weight-normal" style="font-size: 0.9em;">{{ pattern_row.fails|floatformat:"0" }}</td>
            {% endif %}
            {% if not FAIL_ONLY and not SKIP_ONLY and not PASS_ONLY %}
                <td id="row_error" class="{{ text_align }} table-{{ color.bckgrnd }} font-weight-normal" style="font-size: 0.9em;">{{ pattern_row.error|floatformat:"0" }}</td>
            {% endif %}
            {% if not FAIL_ONLY and not ERROR_ONLY and not PASS_ONLY and not NOT_PASS_ONLY %}
                <td id="row_skip" class="{{ text_align }} table-{{ color.bckgrnd }} font-weight-normal" style="font-size: 0.9em;">{{ pattern_row.skipped|floatformat:"0" }}</td>
            {% endif %}
            <td id="row_stat" class="{{ text_align }} table-{{ color.bckgrnd }} text-{{ color.bckgrnd }}" style="font-size: 0.9em;">{{ color.status }}</td>
            <td id="row_run_test" class="{{ text_align }} table-{{ color.bckgrnd }} font-weight-normal">
                {% user_run_test pattern_row %}
{#                <div class="btn-group btn-group-sm btn-outline-info" role="group" style="font-size: 0.9em;">#}
{#                  <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>#}
{#                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">#}
{#                    {% if power_user_bool %}#}
{#                        <a class="dropdown-item" style="font-size: 0.9em;"#}
{#                           href="{% url 'pattern_logs' %}?branch={{ BRANCH }}{% if ADDM_NAME %}&addm_name={{ ADDM_NAME }}{% endif %}{% row_pattern_items pattern_row.pattern_library pattern_row.pattern_folder_name pattern_row.pattern_file_name %}{% log_levels %}">{% spaceless %}#}
{#                        {% endspaceless %}{% select_icon 'file' 18 'right' 0.2 %}<b class="text-info">Logs</b></a>#}
{#                        <a class="dropdown-item" style="font-size: 0.9em;"#}
{#                           href="{% url "history_select" %}?branch={{ BRANCH }}&start_date={{ START_DATE|date:'Y-m-d' }}&end_date={{ END_DATE|date:'Y-m-d' }}{% row_pattern_items pattern_row.pattern_library pattern_row.pattern_folder_name pattern_row.pattern_file_name %}{% log_levels %}{% if ADDM_NAME %}&addm_name={{ ADDM_NAME }}{% endif %}">{% spaceless %}#}
{#                        {% endspaceless %}{% select_icon 'history' 18 'right' 0.2 %}<b class="text-info">History</b></a>#}
{#                        <div class="dropdown-divider"></div>#}
{#                        <a class="dropdown-item" style="font-size: 0.9em;"#}
{#                           href="{% url "test_execute_web" %}?pattern_folder={{ pattern_row.pattern_folder_name }}&pattern_library={{ pattern_row.pattern_library }}&branch={{ BRANCH }}">{% spaceless %}#}
{#                        {% endspaceless %}{% select_icon 'zap' 18 'right' 0.2 %}<b class="text-success">Run!</b></a>#}
{#                        <a class="dropdown-item" style="font-size: 0.9em;"#}
{#                           href="{% url "test_execute_web" %}?pattern_folder={{ pattern_row.pattern_folder_name }}&pattern_library={{ pattern_row.pattern_library }}&branch={{ BRANCH }}&refresh=True">{% spaceless %}#}
{#                        {% endspaceless %}{% select_icon 'sync' 18 'right' 0.2 %}<b class="text-warning">Sync+run!</b></a>#}
{#                    {% else %}#}
{#                        <a class="dropdown-item" style="font-size: 0.9em;" href="{% url 'login' %}"><b class="text-warning">Log in</b></a>#}
{#                    {% endif %}#}
{#                  </div>#}
{#                </div>#}
            </td>
            <td id="row_date_time" class="{{ text_align }} table-{{ color.bckgrnd }} font-weight-normal" style="white-space: pre;font-size: 0.7em;" title="When test was executed">{{ pattern_row.test_date_time|timezone:"Europe/London"|date:'Y-m-d H:i' }}; {{ pattern_row.time_spent_test| f_sec }}<br>{{ pattern_row.test_date_time|naturaltime }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <!-- Patterns table foot: -->
    <tfoot class="table-light">
    <tr>
        <th scope="col" id="col_counter" class="{{ text_align }}">#</th>
        <th scope="col" id="col_pattern_dir" class="{{ text_align }}">Pattern dir</th>
        <th scope="col" id="col_category" class="{{ text_align }}">Category</th>
        <th scope="col" id="col_id" class="{{ text_align }}">ID</th>
        <th scope="col" id="col_cc_review" class="{{ text_align }}">CC Review</th>
        <th scope="col" id="col_change" class="{{ text_align }}">Change</th>
        <th scope="col" id="col_by" class="{{ text_align }}">By</th>
        {% if not FAIL_ONLY and not SKIP_ONLY and not ERROR_ONLY %}
            <th scope="col" id="col_tests" class="{{ text_align }}">Tests</th>
        {% endif %}
        {% if not PASS_ONLY and not FAIL_ONLY and not SKIP_ONLY and not ERROR_ONLY and not NOT_PASS_ONLY %}
            <th scope="col" id="col_success" class="{{ text_align }}">Success</th>
        {% endif %}
        {% if not ERROR_ONLY and not SKIP_ONLY and not PASS_ONLY %}
            <th scope="col" id="col_fail" class="{{ text_align }}">Fail</th>
        {% endif %}
        {% if not FAIL_ONLY and not SKIP_ONLY and not PASS_ONLY %}
            <th scope="col" id="col_error" class="{{ text_align }}">Error</th>
        {% endif %}
        {% if not FAIL_ONLY and not ERROR_ONLY and not PASS_ONLY and not NOT_PASS_ONLY %}
            <th scope="col" id="col_skip" class="{{ text_align }}">Skip</th>
        {% endif %}
        <th scope="col" id="col_stat" class="{{ text_align }}">Stat</th>
        <th scope="col" id="col_run_test" class="{{ text_align }}">Actions</th>
        <th scope="col" id="col_date_time" class="{{ text_align }}">Date time</th>
    </tr>
    </tfoot>
</table>
{% endwith %}
</div>
{% endblock %}