{% extends "main/main.html" %}
{% block page_title %}
Search in history form
{% endblock %}
{% block content %}
{% load dev_tags %}
{% load static %}
<div class="container-fluid" style="padding-left:2%;padding-right:2%;margin-bottom:1%;margin-top:1%">
    <form action="{% url 'search_history_results' %}" class="row" method="post" enctype="application/x-www-form-urlencoded">{% csrf_token %}
        <div class="container-fluid" style="max-width: fit-content">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title text-muted">Choose one:</h6>
                    <div class="row">
                        <div class="col-md-auto"><label class="font-weight-bold" for="select_branch">Branch:</label>{% for radio in search_history_form.tkn_branch_select %}<div class="">{{ radio }}</div>{% endfor %}</div>
                        <div class="col-md-auto"><label class="font-weight-bold" for="select_addm">ADDM name:</label>{% for radio in search_history_form.addm_name_select %}<div class="">{{ radio }}</div>{% endfor %}</div>
                        <div class="col-md-auto"><label class="font-weight-bold" for="log_status">Test log status:</label>{% for radio in search_history_form.log_status %}<div class="">{{ radio }}</div>{% endfor %}</div>
                        <div class="col-md-auto"><label class="font-weight-bold" for="pattern_library_drop">Pattern library (drop):</label><div class="">{{ search_history_form.pattern_library_drop }}</div></div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title text-muted">Fill with pattern name and folder as in "TKU Patterns"</h6>
                    <div class="row">
                        <div class="col"><label class="font-weight-bold" for="pattern_folder">Pattern folder: </label><img style="height:24px;width:24px;" src="{% static "/octicons/svg/note.svg" %}" alt="text"/>{{ search_history_form.pattern_folder }}</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title text-muted">Date window which use to search tests in</h6>
                    <div class="row">
                        <div class="col"><label class="font-weight-bold" for="date_from">From date: </label><img style="height:24px;width:24px;" src="{% static "/octicons/svg/calendar.svg" %}" alt="calend"/>{{ search_history_form.date_from }}</div>
                        <div class="col"><label class="font-weight-bold" for="date_to">To date: </label><img style="height:24px;width:24px;" src="{% static "/octicons/svg/calendar.svg" %}" alt="calend"/>{{ search_history_form.date_to }}</div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 1%;float: right">
                <div class="col-md-auto">
                    <button type="submit" class="btn btn-primary" value="select">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% debug_info %}
{% endblock %}