{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}
{% load template_simplify %}
<link rel="stylesheet" type="text/css" href="{% static 'octopus/css/cases_and_tku_patterns.css' %}" />
<table class="table table-hover table-sm">
    <thead class="table-info">
    <tr>
        <th class="center_txt">#</th>
        <th class="center_txt">
            <div class="btn-group-vertical btn-group-sm" role="group" aria-label="Sort by branch">
                <a class="btn-link" href="{{ request.path }}?view=nightly&sort_by=tkn_branch;asc=1">{% select_icon 'arrow-small-up' 22 %}</a>
                Branch
                <a class="btn-link" href="{{ request.path }}?view=nightly&sort_by=tkn_branch;desc=1">{% select_icon 'arrow-small-down' 22 %}</a>
            </div>
        </th>
        <th class="center_txt">
            <div class="btn-group-vertical btn-group-sm" role="group" aria-label="Sort by pattern_library">
                <a class="btn-link" href="{{ request.path }}?view=nightly&sort_by=pattern_library;asc=1">{% select_icon 'arrow-small-up' 22 %}</a>
                Library
                <a class="btn-link" href="{{ request.path }}?view=nightly&sort_by=pattern_library;desc=1">{% select_icon 'arrow-small-down' 22 %}</a>
            </div>
        </th>
        <th class="center_txt">
            <div class="btn-group-vertical btn-group-sm" role="group" aria-label="Sort by pattern_folder_name">
                <a class="btn-link" href="{{ request.path }}?view=nightly&sort_by=pattern_folder_name;asc=1">{% select_icon 'arrow-small-up' 22 %}</a>
                Folder
                <a class="btn-link" href="{{ request.path }}?view=nightly&sort_by=pattern_folder_name;desc=1">{% select_icon 'arrow-small-down' 22 %}</a>
            </div>
        </th>
        <th class="center_txt">ID</th>
        <th class="center_txt">CC</th>
        {% if not single_user %}
        <th class="center_txt">
            <div class="btn-group-vertical btn-group-sm" role="group" aria-label="Sort by change_user">
                <a class="btn-link" href="{{ request.path }}?view=nightly&sort_by=change_user;asc=1">{% select_icon 'arrow-small-up' 22 %}</a>
                User
                <a class="btn-link" href="{{ request.path }}?view=nightly&sort_by=change_user;desc=1">{% select_icon 'arrow-small-down' 22 %}</a>
            </div>
        </th>
        {% endif %}
        <th class="center_txt">p4 #</th>
        <th class="center_txt">Paths</th>
        <th class="center_txt">
            <div class="btn-group-vertical btn-group-sm" role="group" aria-label="Sort by change_time">
                <a class="btn-link" href="{{ request.path }}?view=nightly&sort_by=change_time;asc=1">{% select_icon 'arrow-small-up' 22 %}</a>
                Edited
                <a class="btn-link" href="{{ request.path }}?view=nightly&sort_by=change_time;desc=1">{% select_icon 'arrow-small-down' 22 %}</a>
            </div>
        </th>
        <th class="center_txt">t:</th>
        <th class="center_txt">Group</th>
    </tr>
    </thead>
    <tbody>
        {% for patt_row in patterns_tests_list %}
        <tr>
            <!-- Counter/table ID: -->
            <td class="row-txt-center-sm" title="row_iter">{{ forloop.counter }}</td>
            <!-- TKN BRANCH -->
            <td class="row-txt-left-sm" title="Branch">{{ patt_row.list.0.tkn_branch }}</td>
            <!-- Path to pattern\folder\library: -->
            <td class="row-txt-left-sm" title="Library">{{ patt_row.list.0.pattern_library }}</td>
            <!-- Path to pattern\folder\library: -->
            <td class="row-txt-left-sm" title="Pattern folder">{{ patt_row.list.0.pattern_folder_name }}</td>
            <!-- TICKET browse: -->
            <td class="row-txt-center-sm" title="ID - JIra, ESC, etc">
                {# https://jira.bmc.com/browse/ #}
                {% if 'DR' in patt_row.list.0.change_ticket %}<a class="badge badge-info" title="Browse JIRA" target="_blank" href="https://jira.bmc.com/browse/{{ patt_row.list.0.change_ticket }}">{{ patt_row.list.0.change_ticket }}</a>
                {% else %}{{ patt_row.list.0.change_ticket }}{% endif %}
            </td>
            <!-- REVIEW browse: -->
            <td class="row-txt-center-sm" title="CC Review">
                {# http://p4collab/ui#review:id= #}
                {% if '#' in patt_row.list.0.change_review %}<a class="badge badge-success" title="Browse CC review" target="_blank" href="http://p4collab.bmc.com:8080/ui#review:id={{ patt_row.list.0.change_review|remove_dash }}">{{ patt_row.list.0.change_review }}</a>
                {% else %}{{ patt_row.list.0.change_review }}{% endif %}
            </td>
            <!-- Select user's tests only: -->
            {% if not single_user %}
            <td class="row-txt-center-sm">
                {# http://HOST/select/patterns_digest/?branch=tkn_main;adprod_user=#}
                {% if patt_row.list.0.change_user %}<a class="badge badge-secondary" title="Select user's tests" target="_blank" href="{% url 'patterns_digest' %}?branch={{ patt_row.list.0.tkn_branch }};adprod_user={{ patt_row.list.0.change_user }}">{{ patt_row.list.0.change_user }}</a>
                {% else %}{{ patt_row.list.0.change_user }}{% endif %}
            </td>
            {% endif %}

            <td class="row-txt-center-sm" title="P4 change">{{ patt_row.list.0.change }}</td>
            <!-- Full p4 depot path: -->
            <td style="font-family:monospace;" class="row-mono-left-sm" title="Depot path to P4 and change:{{ patt_row.list.0.change }}">
                <div style="overflow:auto;">
                    <div class="text-info">depot: {{ patt_row.list.0.test_case_depot_path }}</div>
                    <div class="text-primary">py path: {{ patt_row.list.0.test_py_path_template }}</div>
                </div>
            </td>
            <!-- Last modification time: -->
            <td class="row-txt-left-sm" title="Mod date - {{ patt_row.list.0.change_time|timezone:"Europe/London"|date:'Y-m-d H:i' }}">{{ patt_row.list.0.change_time|timezone:"Europe/London"|naturaltime }}</td>
            <td class="row-txt-left-sm" title="Test average run time">{{ patt_row.list.0.test_time_weight | f_sec_time }}</td>
            <td class="row-txt-left-sm" title="Test case custom group">
                {% if patt_row.list.0.related_test_cases %}
                    {% for case_group in patt_row.list.0.related_test_cases.all %}
                        {{ case_group.title }}
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot class="table-dark">
        <th class="center_txt">#</th>
        <th class="center_txt">Branch</th>
        <th class="center_txt">Library</th>
        <th class="center_txt">Folder</th>
        <th class="center_txt">ID</th>
        <th class="center_txt">CC</th>
        {% if not single_user %}<th>User</th>{% endif %}
        <th class="center_txt">p4 #</th>
        <th class="center_txt">Paths</th>
        <th class="center_txt">Edited</th>
        <th class="center_txt">t:</th>
        <th class="center_txt">Group</th>
    </tfoot>
</table>