{% extends "main/main.html" %}
{% load static %}
{% block page_title %}
Top 20 long tests {{ BRANCH }}
{% endblock %}
{% block content %}
{% load dev_tags %}
{% load template_simplify %}
{% load intro_selections %}
{% load tz %}
{% load humanize %}
<div style="padding-left:1%;padding-right:1%;margin-bottom:5px;margin-top:5px">
    <div class="alert alert-info" role="alert">
        <!-- Branch icons: -->
        {% select_branch_icon BRANCH 36 %}
        <!-- Change branch buttons: -->
        <div class="btn-group btn-group-sm" role="group">
        </div>
        Top {{ COUNT }} most long running tests for branch {{ BRANCH }} Based only on last tests
        <div class="btn-group btn-group-sm" role="group" aria-label="Level" style="float: right">
            <div class="btn-group btn-group-sm" role="group" aria-label="Level" style="float: right">
                <a role="button" aria-pressed="true" class="btn btn-outline-info" href="{% url 'patterns_top_long' %}?branch={{ BRANCH }};count=50">Top 50</a>
                <a role="button" aria-pressed="true" class="btn btn-outline-info" href="{% url 'patterns_top_long' %}?branch={{ BRANCH }};count=100">Top 100</a>
                <a role="button" aria-pressed="true" class="btn btn-outline-info" href="{% url 'patterns_top_long' %}?branch={{ BRANCH }};count=300">Top 300</a>
                <a role="button" aria-pressed="true" class="btn btn-outline-info" href="{% url 'patterns_top_long' %}?branch={{ BRANCH }};count=1000">Top 1000</a>
            </div>
        </div>
    </div>
</div>
<!-- Patterns table content: -->
<div style="padding-left:10%;padding-right:10%">
{% with "text-center align-middle" as text_align %}
    <table class="table table-hover table-sm">
        <tr>
            <thead class="table-light">
            <!-- Patterns table Head: -->
            <tr>
                <th scope="col" class="{{ text_align }} font-weight-bold">#</th>
                <th scope="col" class="{{ text_align }} font-weight-bold">Branch</th>
                <th scope="col" class="{{ text_align }} font-weight-bold">Category</th>
                <th scope="col" class="{{ text_align }} font-weight-bold">Pattern dir</th>
                <th scope="col" class="{{ text_align }} font-weight-bold">TS raw</th>
                <th scope="col" class="{{ text_align }} font-weight-bold">TS human</th>
                <th scope="col" class="{{ text_align }} font-weight-bold">Date time</th>
                <th scope="col" class="{{ text_align }} font-weight-bold">addm_name</th>
                <th scope="col" class="{{ text_align }} font-weight-bold">addm_group</th>
                <th scope="col" class="{{ text_align }} font-weight-bold">addm_host</th>
            </tr>
            </thead>
        </tr>
        <tbody>
        <!-- Patterns table rows in cycle: -->
        {% regroup MAX_LONG by time_spent_test as long_patt_tests %}
        {% for long_group in long_patt_tests|slice:COUNT %}
            <tr>
                <td class="{{ text_align }}">{{ forloop.counter }}</td>
                <td class="{{ text_align }}">{{ long_group.list.0.tkn_branch }}</td>
                <td class="{{ text_align }}">{{ long_group.list.0.pattern_library }}</td>
                <td class="{{ text_align }}">{{ long_group.list.0.pattern_folder_name }}</td>
                <td class="{{ text_align }}">{{ long_group.list.0.time_spent_test }}</td>
                <td class="{{ text_align }}">{{ long_group.list.0.time_spent_test | f_sec }}</td>
                <td class="{{ text_align }}">{{ long_group.list.0.test_date_time|naturaltime }}</td>
                <td class="{{ text_align }}">{{ long_group.list.0.addm_name }}</td>
                <td class="{{ text_align }}">{{ long_group.list.0.addm_group }}</td>
                <td class="{{ text_align }}">{{ long_group.list.0.addm_host }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endwith %}
</div>
{% endblock %}