{% extends "main/main.html" %}
{% block page_title %}
    {% if not SUBJECT %}
        Test Case view {{ case.test_case_depot_path }}
    {% else %}
        {{ SUBJECT }}
    {% endif %}
{% endblock %}
{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}
{% load template_simplify %}
{% load user_groups %}
{% is_user_log_in as anon_bool %} <!-- Is anon -->
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/cases_and_tku_patterns.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/elements/test-actions-modal-toast.css' %}"/>
    <!-- Toast draw here -->
    <div id="toastStack" aria-live="assertive" aria-atomic="true" style="position: absolute;z-index: 1">
        <!-- Position it -->
        {% comment %}<div id="toastStack" style="position: absolute; top: 0; left: 0;">
            <div id="toastStack" style="position: absolute;z-index: 2"></div>
        </div>{% endcomment %}
    </div>
    <div style="padding: 1% 0 0 2%;">
        <a href="{% url 'test_cases' %}" class="btn btn-sm btn-light">{% select_icon 'arrow-left' 34 'right' 0.2 %}Back
            to all</a>
    </div>
    <div class="single-case" style="padding: 1% 2% 2% 2%;">
        <div class="card">
            <div class="card-header">Case: {{ case.test_case_depot_path }}</div>
            <div class="card-body">
                <h5 class="card-title">
                    {% if case.pattern_folder_name %}Pattern test: "{{ case.pattern_library }}
                        {{ case.pattern_folder_name }}" {% else %}Standalone test: "{{ case.test_case_dir }}
                        "{% endif %}
                </h5>
                <div class="case-table" style="padding: 0 5% 0 0">
                    <table class="table table-sm table-striped table-borderless">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr >
                        <td>
                            {% if case.test_type == 'tku_patterns' %}
                                <i class="fas fa-scroll"></i>
                            {% else %}
                                <i class="fab fa-python"></i>
                            {% endif %}
                        </td>
                        <td>{{ case.test_type }}</td>
                        <td><span class="badge badge-light case-hint">test type</span></td>
                    </tr>
                    <tr>
                        {% if case.tkn_branch == 'tkn_main' %}
                            <td>{% select_icon 'git-branch' 20 'right' 0.1 %}</td>
                            <td>{{ case.tkn_branch }}</td>
                        {% elif case.tkn_branch == 'tkn_ship' %}
                            <td>{% select_icon 'git-merge' 20 'right' 0.1 %}</td>
                            <td>{{ case.tkn_branch }}</td>
                        {% else %}
                            <td>{% select_icon 'git-commit' 20 'right' 0.1 %}</td>
                            <td>{{ case.test_case_depot_path }}</td>
                        {% endif %}
                        <td><span class="badge badge-light case-hint">branch</span></td>
                    </tr>
                    {% if case.pattern_library %}
                        <tr>
                            <td>{% select_icon_patt_kw_library case.pattern_library %}</td>
                            <td>{{ case.pattern_library }}</td>
                            <td><span class="badge badge-light case-hint">pattern library</span></td>
                        </tr>
                    {% endif %}
                    {% if case.pattern_folder_name %}
                        <tr>
                            <td><i class="far fa-folder"></i></td>
                            <td>{{ case.pattern_folder_name }}</td>
                            <td><span class="badge badge-light case-hint">pattern_folder_name</span></td>
                        </tr>
                    {% endif %}
                    {% if case.pattern_folder_path %}
                        <tr>
                            <td><i class="far fa-folder-open"></i></td>
                            <td>{{ case.pattern_folder_path }}</td>
                            <td><span class="badge badge-light case-hint">pattern_folder_path</span></td>
                        </tr>
                    {% endif %}
                    {% if case.pattern_library_path %}
                        <tr>
                            <td>{% select_icon 'repo' 18 'right' .2 %}</td>
                            <td>{{ case.pattern_library_path }}</td>
                            <td><span class="badge badge-light case-hint">pattern_library_path</span></td>
                        </tr>
                    {% endif %}
                    {% if case.test_case_dir %}
                        <tr>
                            <td><i class="far fa-folder"></i></td>
                            <td>{{ case.test_case_dir }}</td>
                            <td><span class="badge badge-light case-hint">test_case_dir</span></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td><i class="fas fa-pencil-ruler"></i></td>
                        <td>{{ case.change }}</td>
                        <td><span class="badge badge-light case-hint">change</span></td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-comment-alt"></i></td>
                        <td>{{ case.change_desc }}</td>
                        <td><span class="badge badge-light case-hint">change_desc</span></td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-user-tie"></i></td>
                        <td>{{ case.change_user }}</td>
                        <td><span class="badge badge-light case-hint">change_user</span></td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-user-check"></i></td>
                        <td>{{ case.change_review }}</td>
                        <td><span class="badge badge-light case-hint">change_review</span></td>
                    </tr>
                    <tr>
                        <td><i class="fab fa-jira"></i></td>
                        <td>{{ case.change_ticket }}</td>
                        <td><span class="badge badge-light case-hint">change_ticket</span></td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-stopwatch"></i></td>
                        <td>{{ case.change_time }}</td>
                        <td><span class="badge badge-light case-hint">change_time</span></td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-vials"></i></td>
                        <td>{{ case.test_case_depot_path }}</td>
                        <td><span class="badge badge-light case-hint">test_case_depot_path</span></td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-anchor"></i></td>
                        <td>{{ case.test_py_path }}</td>
                        <td><span class="badge badge-light case-hint">test_py_path</span></td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-vials"></i></td>
                        <td>{{ case.test_py_path_template }}</td>
                        <td><span class="badge badge-light case-hint">test_py_path_template</span></td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-vials"></i></td>
                        <td>{{ case.test_dir_path }}</td>
                        <td><span class="badge badge-light case-hint">test_dir_path</span></td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-vials"></i></td>
                        <td>{{ case.test_dir_path_template }}</td>
                        <td><span class="badge badge-light case-hint">test_dir_path_template</span></td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-weight-hanging"></i></td>
                        <td>{{ case.test_time_weight }}</td>
                        <td><span class="badge badge-light case-hint">test_time_weight</span></td>
                    </tr>
                    <tr>
                        <td><i class="far fa-calendar-alt"></i></td>
                        <td>{{ case.created_time }}</td>
                        <td><span class="badge badge-light case-hint">created_time</span></td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-sitemap"></i></td>
                        <td>{% if case.related_test_cases %}
                            {% for group in case.related_test_cases.all %}
                                <a class="badge badge-info"
                                   href="{% url 'test_cases_group' pk=group.id %}">{{ group.title }}
                                </a>,
                            {% endfor %}
                        {% endif %}</td>
                        <td><span class="badge badge-light case-hint">related_test_cases</span></td>
                    </tr>
                    </tbody>
                    <tfoot></tfoot>
                </table>
                </div>
                <div style="display: flex;justify-content: space-between">
                    <a class="btn btn-warning" href="{% url 'test_case_update' pk=case.id %}">Edit</a>
                    <div class="btn-group">
                        <a class="btn btn-outline-info"
                           href="{% url 'test_details' %}?tkn_branch={{ case.tkn_branch }};pattern_library={{ case.pattern_library }};pattern_folder_name={{ case.pattern_folder_name }}"
                           title="Show all tests for this case from latest run"><i class="fas fa-calendar-day"></i> Latest tests</a>
                        <a class="btn btn-outline-danger"
                           href="{% url 'test_details' %}?tst_status=notpass;tkn_branch={{ case.tkn_branch }};pattern_library={{ case.pattern_library }};pattern_folder_name={{ case.pattern_folder_name }}"
                           title="Show all tests for this case from latest run not passed"><i class="fas fa-calendar-day"></i> Latest tests</a>
                    </div>
                    <div class="btn-group">
                    <a class="btn btn-outline-secondary"
                       href="{% url 'test_item_history' %}?tkn_branch={{ case.tkn_branch }};pattern_library={{ case.pattern_library }};pattern_folder_name={{ case.pattern_folder_name }}"
                       title="Show all tests for this case from history...(long)"><i class="fas fa-history"></i> History tests</a>
                    <a class="btn btn-outline-danger"
                       href="{% url 'test_item_history' %}?tst_status=notpass;tkn_branch={{ case.tkn_branch }};pattern_library={{ case.pattern_library }};pattern_folder_name={{ case.pattern_folder_name }}"
                       title="Show all tests for this case from history...(long) not passed"><i class="fas fa-history"></i> History tests</a>
                    </div>
                    {% if not anon_bool %}
                    <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal"
                            data-target="#actionsModal"
                            data-case_id="{{ case.id }}">Actions
                    </button>
                    {% endif %}
                    <a class="btn btn-danger disabled" href="#">Delete(TBA?)</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar bottom fixed -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
        <a class="navbar-brand" href="#"><i class="fab fa-github"></i></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cases_workbench' %}">Workbench Cases</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'test_cases' %}">Test Cases</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'test_case' pk=case.id %}">Test Case: {{ case.test_case_depot_path }}</a>
            </li>
        </ul>
        <span class="navbar-text">Octopus automation</span>
    </nav>
    {% comment %}
    Actions:
        - Load toast popup
        - Load modal with actions
        - Import methods for test_latest page: Modal and Toast
        - Import general operations module for Modal, Toast, Parsing, REST and other operations.
        - Convert test/cases QuerySet to simple JSON with template tag and serealize.
    {% endcomment %}
    {% include 'digests/includes/toast_popup.html' %}
    {% include 'digests/includes/test_actions_modal_dynamic.html' %}
    <script src="{% static 'octopus/js/user-test-run/test_case-modals-toasts.js' %}"></script>
    <script src="{% static 'octopus/js/user-test-run/action-operations.js' %}"></script>
    <script type="text/javascript">
        let cases_json = [];
        cases_json.push({{ case|tku_patterns_json:'TestCases'|safe }});
    </script>
    {% if DEBUG %}
    {% endif %}
{% endblock %}