{% load static %}
{% load tz %}
{% load humanize %}
{% load template_simplify %}
<table class="tests-last-table">
    <thead>
    <tr class="text-center">
        <th class="table-info">#</th>
        <th class="txt-sm-center">Mode</th>
        <th class="txt-sm-center">Package</th>
        <th class="txt-sm-center">Build</th>
        <th class="txt-sm-center">Status</th>
        <th class="txt-sm-center">Er</th>
        <th class="txt-sm-center">Warn</th>
        <th class="txt-sm-center">ETA</th>
        <th class="txt-sm-center">Date</th>
        <th class="txt-sm-center">ADDM</th>
        <th class="txt-sm-center">View</th>
    </tr>
    </thead>
    <tbody class="table-shrink">
    {% for test in tests|dictsortreversed:'test_date_time' %}
        <tr {% if test.all_errors > 0 %}
            class="tst-notpass"
        {% elif test.upload_test_str_stderr %}
            class="tst-notpass"
        {% elif test.upload_test_status == 'failed' %}
            class="tst-notpass"
        {% elif test.upload_test_status == 'passed' %}
            class="tst-pass"
        {% else %}
            class="tst-None"
        {% endif %}>
            <td>{{ forloop.counter }}</td>
            <td class="txt-sm-center">{{ test.test_mode }}</td>
            <td class="txt-sm-center">{{ test.package_type }}</td>
            <td class="txt-sm-center">{{ test.release }}</td>
            <td class="txt-sm-center">{{ test.upload_test_status }}</td>
            <td class="txt-sm-center">{{ test.all_errors }}</td>
            <td class="txt-sm-center">{{ test.all_warnings }}</td>
            <td class="txt-sm-center">{{ test.time_spent_test|f_sec }}</td>
            <td class="txt-sm-center">{{ test.test_date_time|timezone:"Europe/London"|naturaltime }} - {{ test.test_date_time|timezone:"Europe/London"|date:'Y-m-d H:i' }}</td>
            <td class="txt-sm-center">{{ test.addm_name }}<br>{{ test.addm_host }}<br>{{ test.addm_version }}</td>
            <td class="txt-sm-center"><a class="btn btn-sm-er btn-outline-info"
                   href="http://{{ domain }}/admin/octo_tku_upload/uploadtestsnew/{{ test.id }}/change">View</a></td>
        </tr>
        {% if test.all_warnings > '0' %}
        <tr>
            <th class="txt-sm-center tst-error">Out</th>
            <td colspan="10" class="txt-extra-sm-center txt-left-prewrap tst-error">{{ test.important_out }}</td>
        </tr>
        {% endif %}
        {% if test.all_errors > '0' %}
        <tr>
            <th class="txt-sm-center tst-error">STDERR</th>
            <td colspan="10" class="txt-extra-sm-center txt-left-prewrap tst-error">{{ test.upload_test_str_stderr }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>