{% load static %}
{% load tz %}
{% load humanize %}
{% load template_simplify %}
<table class="tests-last-table">
    <thead>
    <tr class="text-center">
        <th class="table-info">#</th>
        <th class="txt-sm-center">Mode</th>
{#            <th class="txt-sm-center">mode_key</th>#}
        <th class="txt-sm-center">Package</th>
{#            <th class="txt-sm-center">tku_type</th>#}
        <th class="txt-sm-center">Status</th>
{#            <th class="txt-sm-center">upload_test_str_stdout</th>#}
        <th class="txt-sm-center">Stderr</th>
{#            <th class="txt-sm-center">important_out</th>#}
        <th class="txt-sm-center">Er</th>
        <th class="txt-sm-center">Warn</th>
        <th class="txt-sm-center">Warn out</th>
        <th class="txt-sm-center">Err out</th>
{#            <th class="txt-sm-center">tku_statuses</th>#}
        <th class="txt-sm-center"></th>
{#            <th class="txt-sm-center">addm_v_int</th>#}
        <th class="txt-sm-center"></th>
{#            <th class="txt-sm-center">addm_ip</th>#}
        <th class="txt-sm-center"></th>
        <th class="txt-sm-center">ETA</th>
        <th class="txt-sm-center"></th>
        <th class="txt-sm-center"></th>
    </tr>
    </thead>
    <tbody class="table-shrink">
    {% for test in tests|dictsortreversed:'test_date_time' %}
        <tr {% if test.all_errors > 0 %}
                    class="tst-notpass"
                {% elif test.upload_test_str_stderr %}
                    class="tst-notpass"
                {% elif test.upload_test_status == 'failed' %}
                    class="tst-notpass"
                {% elif test.upload_test_status == 'passed' %}
                    class="tst-pass"
                {% else %}
                    class="tst-None"
                {% endif %}>
            <td>{{ forloop.counter }}</td>
            <td>{{ test.test_mode }}</td>
{#                <td>{{ test.mode_key }}</td>#}
            <td>{{ test.package_type }}</td>
{#                <td>{{ test.tku_type }}</td>#}
            <td>{{ test.upload_test_status }}</td>
{#                <td>{{ test.upload_test_str_stdout }}</td>#}
            <td class="txt-extra-sm-center">{{ test.upload_test_str_stderr }}</td>
{#                <td>{{ test.important_out }}</td>#}
            <td>{{ test.all_errors }}</td>
            <td>{{ test.all_warnings }}</td>
            <td class="txt-extra-sm-center">{{ test.upload_warnings }}</td>
            <td class="txt-extra-sm-center">{{ test.upload_errors }}</td>
{#                <td>{{ test.tku_statuses }}</td>#}
            <td>{{ test.addm_name }}</td>
{#                <td>{{ test.addm_v_int }}</td>#}
            <td>{{ test.addm_host }}</td>
{#                <td>{{ test.addm_ip }}</td>#}
            <td>{{ test.addm_version }}</td>
            <td>{{ test.time_spent_test|f_sec }}</td>
            <td>{{ test.test_date_time|naturaltime }}</td>
            <td><a class="btn btn-sm-er btn-outline-info" href="http://{{ domain }}/admin/octo_tku_upload/uploadtestsnew/{{ test.id }}/change">View</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>