{% load static %}
{% load tz %}
{% load humanize %}
{% load template_simplify %}
<div class="upload-test-index-table">
    <table class="table table-sm table-bordered table-hover table-shrink">
        <thead>
        <tr class="text-secondary">
            <th>#</th>
            <th><i class="fas fa-server"></i> Discovery</th>
            <th>v.</th>
            <th><i class="fas fa-upload"></i> Mode</th>
            {#            <th>mode_key</th>#}
            <th><i class="fas fa-tags"></i> package_type</th>
            {#            <th>tku_type</th>#}
            {#            <th>tku_build</th>#}
            {#            <th>tku_date</th>#}
            {#            <th>tku_month</th>#}
            <th>Status</th>
            {#            <th>upload_test_str_stdout</th>#}
            {#            <th>upload_test_str_stderr</th>#}
            {#            <th>important_out</th>#}
            <th class="text-danger"><i class="fas fa-exclamation-triangle"></i></th>
            <th class="text-warning"><i class="fas fa-exclamation-circle"></i></th>
            {#            <th>upload_warnings</th>#}
            {#            <th>upload_errors</th>#}
            {#            <th>tku_statuses</th>#}
            {#            <th>tested_zips</th>#}
            {#            <th>addm_host</th>#}
            {#            <th>addm_ip</th>#}
            {#            <th>addm_version</th>#}
            <th><i class="far fa-clock"></i> Spent</th>
            <th><i class="fas fa-calendar-day"></i> Date</th>
            <th></th>
            <th><i class="fas fa-location-arrow"></i></th>
        </tr>
        </thead>
        <tbody>
        {% for test in object_list %}
            <tr>
                <td id="num">{{ forloop.counter }}</td>
                <td id="addm_name" class="text-left">{{ test.addm_name }}</td>
                <td id="addm_v_int">{{ test.addm_v_int }}</td>
                <td id="test_mode">{{ test.test_mode }}</td>
                {#                <td id="mode_key">{{ test.mode_key }}</td>#}
                <td id="package_type" class="txt-shrink txt-br-w">
                    <a href="{% url 'upload_test_index' %}?package_type={{ test.package_type }}">
                        {{ test.package_type }}
{#                        {{ test.tku_build }}.{{ test.tku_month }}.{{ test.tku_date }}#}
                    </a>
                </td>
                {#                <td id="tku_type">{{ test.tku_type }}</td>#}
                {#                <td id="tku_build">{{ test.tku_build }}</td>#}
                {#                <td id="tku_date">{{ test.tku_date }}</td>#}
                {#                <td id="tku_month">{{ test.tku_month }}</td>#}
                <td id="upload_test_status">{{ test.upload_test_status }}</td>
                {#                <td id="upload_test_str_stdout">{{ test.upload_test_str_stdout|escape|safe }}</td>#}
                {#                <td id="upload_test_str_stderr">{{ test.upload_test_str_stderr|escape|safe }}</td>#}
                {#                <td id="important_out">{{ test.important_out|escape|safe }}</td>#}
                <td id="all_errors">{{ test.all_errors }}</td>
                <td id="all_warnings">{{ test.all_warnings }}</td>
                {#                <td id="upload_warnings">{{ test.upload_warnings|escape|safe }}</td>#}
                {#                <td id="upload_errors">{{ test.upload_errors }}</td>#}
                {#                <td id="tku_statuses">{{ test.tku_statuses|escape|safe }}</td>#}
                {#                <td id="tested_zips">{{ test.tested_zips }}</td>#}
                {#                <td id="addm_host">{{ test.addm_host }}</td>#}
                {#                <td id="addm_ip">{{ test.addm_ip }}</td>#}
                {#                <td id="addm_version">{{ test.addm_version }}</td>#}
                <td id="time_spent_test_ui" class="txt-shrink">{{ test.time_spent_test|f_sec }}</td>
                <td id="test_date_time"
                    class="txt-shrink">{{ test.test_date_time|timezone:"Europe/London"|date:'Y-m-d H:i' }}</td>
                <td {% tooltip_tku_upload 'popover' 'right' test %} ><i class="far fa-eye"></i></td>
                <td id="actions"><a>Go</a></td>
                <td id="upload_test_status" style="display: none">{{ test.upload_test_status }}</td>
                <td id="time_spent_test" style="display: none">{{ test.time_spent_test }}</td>
{#                <td id="upload_errors" style="display: none">{{ test.upload_errors }}</td>#}
                <td id="upload_errors" style="display: none">{{ test.upload_errors|json_script:"upload_errors" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>