{% extends "main/main.html" %}
{% load static %}
{% block page_title %}
    {% if not SUBJECT %}
        Daily browsing upload tests
    {% else %}
        {{ SUBJECT }}
    {% endif %}
{% endblock %}
{% load i18n %}
{% load tz %}
{% load humanize %}
{% load template_simplify %}
{% load intro_selections %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/upload-tests.css' %}"/>
    <nav class="navbar navbar-light test-report-navbar">
        <!-- Navbar content -->
        <!-- Navbar left part content -->
        <div class="nav-reports-left">
            <!-- Digest levels breadcrumbs: -->
            <div class="digest-breadcrumbs">
                <nav class="nav nav-pills">
                    <div class="btn-group btn-group-sm" role="group">
                        <a class="btn btn-sm btn-light" href="{% url 'tku_workbench' %}"><i class="fas fa-step-backward"></i> TKU Upload Workbench</a>
                        <a class="btn btn-sm btn-light active" href="{% url 'upload_test_index' %}"><i class="fas fa-stop"></i> TKU Upload Index</a>
                    </div>
                </nav>
            </div>
            <!-- History browse: -->
            <div class="digest-history"><!-- No History selection for ADDM Digest --></div>
            <!-- Change branch here: -->
            <div class="digest-branch"><!-- No branch selection for ADDM Digest, just tabs --></div>
        </div>
        <!-- Navbar right part content -->
        <div class="nav-reports-right digest-test-log-levels"><!-- No Log levels sort for ADDM Digest: --></div>
    </nav>
    <p>TO DO:</p>
    <ul>
        <li>Add buttons sorting by all possible: test_mode, tku_type, mode_key, addm_name</li>
        <li>Add button to sort\browse by package type/name or so. To get find one package for related release?</li>
        <li>Popover for long outputs make separate: for warn, stderr</li>
        <li>Important and full outputs show in modal</li>
    <li>Reinvent Upload workbench</li>
    </ul>
    {# Break queryset to portions based on tky_type, and then render ech type in it's own table   #}
    {% regroup object_list|dictsort:'tku_type' by tku_type as tku_type_tests %}
    <div class="upload-test-index-content">
        <div class="row upload-test-continuous">
            {% for test_tku_type in tku_type_tests %}
                {% if test_tku_type.grouper == 'tkn_main_continuous' or test_tku_type.grouper == 'tkn_ship_continuous' %}
                    <div class="col-sm-6 col-shrink">
                        <div class="card text-center">
                            <div class="card-header card-header-shrink">tku_type: {{ test_tku_type.grouper }}</div>
                            <div class="card-body card-body-shrink">
                                <h5 class="card-title">mode_key: "{{ test_tku_type.list.0.mode_key }}"</h5>
                                {% include 'digests/tables_details/index_table.html' with object_list=test_tku_type.list %}
                            </div>
                            <div class="card-footer card-footer-shrink">
                                <small class="text-muted">test_mode: {{ test_tku_type.list.0.test_mode }} -- package_type; {{ test_tku_type.list.0.package_type }}</small>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row upload-test-releases">
            {% for test_tku_type in tku_type_tests %}
                {% if test_tku_type.grouper == 'ga_candidate' or test_tku_type.grouper == 'released_tkn' %}
                    <div class="col-sm-6 col-shrink">
                        <div class="card text-center">
                            <div class="card-header card-header-shrink">{{ test_tku_type.grouper }}</div>
                            <div class="card-body card-body-shrink">
                                <h5 class="card-title">Mode key: "{{ test_tku_type.list.0.mode_key }}"</h5>
                                {% include 'digests/tables_details/index_table.html' with object_list=test_tku_type.list %}
                            </div>
                            <div class="card-footer card-footer-shrink">
                                <small class="text-muted">Test mode: {{ test_tku_type.list.0.test_mode }} -- {{ test_tku_type.list.0.package_type }}</small>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row upload-test-other">
            {% for test_tku_type in tku_type_tests %}
                {% if not test_tku_type.grouper == 'ga_candidate' and not test_tku_type.grouper == 'released_tkn' and not test_tku_type.grouper == 'tkn_main_continuous' and not test_tku_type.grouper == 'tkn_ship_continuous' %}
                    <div class="col-sm-6 col-shrink">
                        <div class="card text-center">
                            <div class="card-header card-header-shrink">{{ test_tku_type.grouper }}</div>
                            <div class="card-body card-body-shrink">
                                <h5 class="card-title">Mode key: "{{ test_tku_type.list.0.mode_key }}"</h5>
                                {% include 'digests/tables_details/index_table.html' with object_list=test_tku_type.list %}
                            </div>
                            <div class="card-footer card-footer-shrink">
                                <small class="text-muted">Test mode: {{ test_tku_type.list.0.test_mode }} -- {{ test_tku_type.list.0.package_type }}</small>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="days-browse">
        <p>
            {% if previous_day %}
                Previous Day: {{ previous_day }}
            {% endif %}
            {% if previous_day and next_day %}--{% endif %}
            {% if next_day %}
                Next Day: {{ next_day }}
            {% endif %}
        </p>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
        <a class="navbar-brand" href="#"><i class="fab fa-github"></i></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tku_workbench' %}">TKU Upload Workbench</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'upload_test_index' %}">Upload Index</a>
            </li>
        </ul>
        <span class="navbar-text">Octopus automation</span>
    </nav>
    <script src="{% static 'octopus/js/upload-test-table-color.js' %}"></script>
{% endblock %}

