{% extends "main/main.html" %}
{% load static %}
{% block page_title %}
    {% if not SUBJECT %}
        Today Upload tests
    {% else %}
        {{ SUBJECT }}
    {% endif %}
{% endblock %}
{% load i18n %}
{% load tz %}
{% load humanize %}
{% load template_simplify %}
{% load intro_selections %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/upload-tests.css' %}"/>
    <!-- Workbench navbar -->
    <nav class="navbar navbar-light test-report-navbar">
        <!-- Navbar content -->
        <!-- Navbar left part content -->
        <div class="nav-reports-left">
            <!-- Digest levels breadcrumbs: -->
            <div class="digest-breadcrumbs">
                <nav class="nav nav-pills">
                    <div class="btn-group btn-group-sm" role="group">
                        <a class="btn btn-sm btn-light" href="{% url 'tku_workbench' %}"><i class="fas fa-step-backward"></i> TKU Upload Workbench</a>
                        {% if previous_day %}
                            <a class="btn btn-sm btn-light"
                               href="{% url 'upload_test_day' year=previous_day|date:'Y' month=previous_day|date:'b' day=previous_day|date:'d' %}">
                                <i class="fas fa-backward"></i> Yesterday {{ previous_day|date:"F j, Y" }}
                            </a>
                        {% endif %}
                        <a class="btn btn-sm btn-light active" href="#"><i class="fas fa-play"></i> Tests Today {{ day }}</a>
                        {% if next_day %}
                            <a class="btn btn-sm btn-light" href="#"><i class="fas fa-play"></i> Tomorrow {{ next_day }}
                            </a>
                        {% endif %}
                    </div>
                </nav>
            </div>
            <!-- History browse: -->
            <div class="digest-history"><!-- No History selection for ADDM Digest --></div>
            <!-- Change branch here: -->
            <div class="digest-branch"><!-- No branch selection for ADDM Digest, just tabs --></div>
        </div>
        <!-- Navbar right part content -->
        <div class="nav-reports-right digest-test-log-levels"><!-- No Log levels sort for ADDM Digest: --></div>
    </nav>
    {# Break queryset to portions based on mode_key, and then render ech type in it's own table   #}
    {% regroup object_list|dictsort:'mode_key' by mode_key as mode_key_tests %}
    <div class="upload-test-today-content">
        <div class="row">
            {% for test_mode_key in mode_key_tests %}
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">{{ test_mode_key.grouper }}</div>
                        <div class="card-body">
                            <h5 class="card-title">Mode key: "{{ test_mode_key.list.0.mode_key }}"</h5>
                            {% include 'digests/tables_details/today_table.html' with object_list=test_mode_key.list %}
                            <p class="card-text"><small class="text-muted">Package name: {{ test_mode_key.list.0.package_type }}</small></p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Test mode: {{ test_mode_key.list.0.test_mode }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Navbar bottom fixed -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
        <a class="navbar-brand" href="#"><i class="fab fa-github"></i></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tku_workbench' %}">TKU Upload Workbench</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'upload_test_today' %}">Tests Today</a>
            </li>
            <li>
                <a class="nav-link">
                    {% if previous_day %}
                        Prev: {{ previous_day }}
                    {% endif %}
                    {% if previous_day and next_day %}--{% endif %}
                    {% if next_day %}
                        Next: {{ next_day }}
                    {% endif %}
                </a>
            </li>
        </ul>
        <span class="navbar-text">Octopus automation</span>
    </nav>
    <script src="{% static 'octopus/js/upload-test-table-color.js' %}"></script>
{% endblock %}

