<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    {% load tz %}
    {% load i18n static %}
    {% load template_simplify %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>{{ subject }}</title>
</head>
{% block content %}
    <body>
    {{ subject }}
    <br>
    <br>
    <table id="table-subject">
        <tr>
            {% if mail_opts.mode == 'init' %}
                <td style="background-color: #bee5eb;">User test routine has been initialized. Now processing test
                    tasks and
                    balancing workers.
                </td>
            {% elif mail_opts.mode == 'start' %}
                <td style="background-color: #36e6dd;">User test started. See details, wait for test finish email
                    confirmation.
                </td>
            {% elif mail_opts.mode == 'finish' %}
                <td style="background-color: #c3e6cb;">User test finished. This is confirmation email. You can see
                    the logs
                    now.
                </td>
            {% elif mail_opts.mode == 'fail' %}
                <td style="background-color: #f5c6cb;">User test routine failed. Cannot proceed further, please
                    re-run or ask
                    assistance.
                </td>
            {% else %}
                <td style="background-color: #ffe8a1;">This is unusual behaviour. Cannot proceed further, please
                    re-run or ask for assistance.
                </td>
            {% endif %}
        </tr>
    </table>
    <br>
    {% if mail_opts.mode == 'finish' %}
        <table>
            {% include 'digests/tables_details/tests_last_table_email.html' %}
        </table>
    {% endif %}
    {# Table for user selector options: #}
    <br>
    <br>
    <br>
    {% if mail_opts.test_item %}
        <span id="selector-span">Octopus have processed:</span>
        <table id="table-test-item">
            {% for k, v in mail_opts.test_item.items %}
                {% if v and not v == 'None' %}
                    <tr>
                        <td style="font-weight: bold;">{{ k }}</td>
                        <td style="font-weight: lighter;font-family: monospace;font-size: 0.875em">{{ v }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
    </body>
{% endblock %}
</html>
