.table-shrink {
    margin-bottom: .4em !important;
}
.table-shrink td th {
    padding: .1rem !important;
    vertical-align: middle;
}
.col-shrink {
    padding-right: .2em;
    padding-left: .2em;
}
.toast {
    max-width: 550px!important;
    width: 550px!important;
}
.taskOperationType {
    word-wrap: break-word;
}

.fl-left {
    float: left;
}
.fl-right {
    float: right;
}

.admin-content {
    padding: 0 10px 20px 10px;
    margin-bottom: 100px;
    font-size: 1em;
    /*font-family: 'Catamaran', sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Jaldi', sans-serif;*/
    /*font-family: 'BenchNine', sans-serif;*/
    /*font-family: 'Assistant', sans-serif;*/
    font-family: 'Maven Pro', sans-serif;
    /*font-family: 'Nunito', sans-serif;*/
}
.admin-buttons {
    padding-top: 2em;
}

.addm-content {
    padding: 0 10px 20px 10px;
    margin-bottom: 100px;
    font-size: 1em;
    /*font-family: 'Catamaran', sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Jaldi', sans-serif;*/
    /*font-family: 'BenchNine', sans-serif;*/
    /*font-family: 'Assistant', sans-serif;*/
    font-family: 'Maven Pro', sans-serif;
    /*font-family: 'Nunito', sans-serif;*/
}
.celery-admin-content {
    padding: 0 10px 20px 10px;
    margin-bottom: 100px;
    font-size: 1em;
    /*font-family: 'Catamaran', sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Jaldi', sans-serif;*/
    /*font-family: 'BenchNine', sans-serif;*/
    /*font-family: 'Assistant', sans-serif;*/
    font-family: 'Maven Pro', sans-serif;
    /*font-family: 'Nunito', sans-serif;*/
}
.addm-vms-tabs {
    padding-top: 2em;
}

.addm-items-table {
    width: 100%;
}

.addm-group-color-alpha {
    background-color: rgba(158, 247, 214, 0.46);
}

.addm-group-color-beta {
    background-color: rgba(181, 198, 201, 0.45);
}

.addm-group-color-charlie {
    background-color: rgba(198, 174, 201, 0.45);
}

.addm-group-color-delta {
    background-color: rgba(201, 159, 152, 0.45);
}

.addm-group-color-echo {
    background-color: rgba(201, 181, 156, 0.45);
}

.addm-group-color-foxtrot {
    background-color: rgba(245, 173, 38, 0.45);
}

.addm-group-color-golf {
    background-color: rgba(176, 201, 126, 0.45);
}

.addm-group-color-z_old {
    background-color: rgba(0, 0, 0, 0.55);

}

#branch_lock > .tkn_main{
    background-image: url('/static/octicons/svg/git-branch.svg');
    background-repeat: no-repeat;
    background-size: .8em;
    padding-left: 1em;
}
#branch_lock > .tkn_ship{
    background-image: url('/static/octicons/svg/git-merge.svg');
    background-repeat: no-repeat;
    background-size: .8em;
    padding-left: 1em;
}

.addm-setup, .addm-discovery, .addm-model, .addm-appliance {
    display: flex;
}

td > a {
    padding: .2em !important;
    font-size: .7em;
}


/* Modal Addm Cleanup */
.addm-clean {
    padding-bottom: 1em;
    display: flex;
}

.addm-cmd-run{
    padding-bottom: 1em;
    display: flex;
}

.addm-rsync {
    padding-bottom: 1em;
    display: flex;
}