.table-shrink {
    margin-bottom: .4em !important;
}
.table-shrink td th {
    padding: .1rem !important;
    vertical-align: middle;
}
.col-shrink {
    padding-right: .2em;
    padding-left: .2em;
}
.toast {
    max-width: 550px!important;
    width: 550px!important;
}
.taskOperationType {
    word-wrap: break-word;
}

.fl-left {
    float: left;
}
.fl-right {
    float: right;
}

.admin-content {
    padding: 0 10px 20px 10px;
    margin-bottom: 100px;
    font-size: 1em;

    /*font-family: 'Jaldi', sans-serif;*/
    /*font-family: 'BenchNine', sans-serif;*/
    /*font-family: 'Assistant', sans-serif;*/
    font-family: 'Maven Pro', sans-serif;

}
.admin-buttons {
    padding-top: 2em;
}

.addm-content {
    padding: 0 10px 20px 10px;
    margin-bottom: 100px;
    font-size: 1em;

    /*font-family: 'Jaldi', sans-serif;*/
    /*font-family: 'BenchNine', sans-serif;*/
    /*font-family: 'Assistant', sans-serif;*/
    font-family: 'Maven Pro', sans-serif;

}
.celery-admin-content {
    padding: 0 10px 20px 10px;
    margin-bottom: 100px;
    font-size: 1em;

    /*font-family: 'Jaldi', sans-serif;*/
    /*font-family: 'BenchNine', sans-serif;*/
    /*font-family: 'Assistant', sans-serif;*/
    font-family: 'Maven Pro', sans-serif;

}
.addm-vms-tabs {
    padding-top: 2em;
}

.addm-items-table {
    width: 100%;
}

.addm-group-color-alpha {
    background-color: rgb(255, 217, 204);
}

.addm-group-color-beta {
    background-color: rgb(255, 242, 204);
}

.addm-group-color-charlie {
    background-color: rgb(242, 255, 204);
}

.addm-group-color-delta {
    background-color: rgb(204, 255, 204);
}

.addm-group-color-echo {
    background-color: rgb(204, 255, 230);
}

.addm-group-color-foxtrot {
    background-color: rgb(204, 255, 255);
}

.addm-group-color-golf {
    background-color: rgb(204, 230, 255);
}

.addm-group-color-hotel {
    background-color: rgba(176, 201, 126, 0.45);
}

.addm-group-color-india {
    background-color: rgb(204, 204, 255);
}

.addm-group-color-juliett {
    background-color: rgb(230, 204, 255);
}

.addm-group-color-kilo {
    background-color: rgb(255, 204, 255);
}

.addm-group-color-lima {
    background-color: rgb(255, 204, 230);
}

.addm-group-color-mike {
    background-color: rgb(255, 204, 204);
}

.addm-group-color-november {
    background-color: rgb(255, 217, 204);
}

.addm-group-color-oskar {
    background-color: rgb(255, 242, 204);
}

.addm-group-color-papa {
    background-color: rgb(242, 255, 204);
}

.addm-group-color-quebec {
    background-color: rgb(217, 255, 204);
}

.addm-group-color-romeo {
    background-color: rgb(204, 255, 217);
}

.addm-group-color-disabled {
    background-color: rgb(128, 0, 128);

}

#branch_lock > .tkn_main{
    background-image: url('/octicons/icons/git-branch-16.svg');
    background-repeat: no-repeat;
    background-size: .8em;
    padding-left: 1em;
}
#branch_lock > .tkn_ship{
    background-image: url('/octicons/icons/git-merge-16.svg');
    background-repeat: no-repeat;
    background-size: .8em;
    padding-left: 1em;
}

.addm-setup, .addm-discovery, .addm-model, .addm-appliance {
    display: flex;
}

td > a {
    padding: .2em !important;
    font-size: .7em;
}


/* Modal Addm Cleanup */
.addm-clean {
    padding-bottom: 1em;
    display: flex;
}

.addm-cmd-run{
    padding-bottom: 1em;
    display: flex;
}

.addm-rsync {
    padding-bottom: 1em;
    display: flex;
}