/**
MODAL styles:
 */

.case-unit-modal-buttons {
    margin-top: .2em;
    font-size: .875em;
    text-align: center;
    font-family: 'Assistant', sans-serif;
}

.case-info-modal-buttons {
    margin-top: .2em;
    font-size: .875em;
    text-align: center;
    font-family: 'Assistant', sans-serif;
}

.test-actions-modal-name {
    margin-top: .2em;
    font-size: .875em;
    text-align: center;
    font-family: 'Assistant', sans-serif;
}

.modal-variables > div {
    display: list-item;
    margin-left: 1em;
}

.modal-variables > #tkn_branch {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    background-image: url(/octicons/icons/git-branch-16.svg);
    background-repeat: no-repeat;
    background-size: 1em;
    padding-left: 1.4em;

}

.modal-variables > #addm_name {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    background-image: url(/Font-Awesome/svgs/solid/server.svg);
    background-repeat: no-repeat;
    background-size: 1em;
    padding-left: 1.4em;
}

.modal-variables > #pattern_library {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    background-image: url(/octicons/icons/repo-16.svg);
    background-repeat: no-repeat;
    background-size: 1em;
    padding-left: 1.4em;

}

.modal-variables > #pattern_folder_name {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    background-image: url(/Font-Awesome/svgs/solid/folder-open.svg);
    background-repeat: no-repeat;
    background-size: 1em;
    padding-left: 1.4em;

}

.modal-variables > #case_id {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    /*display: none;*/
}

.modal-variables > #case_id:before {
    content: 'Case id:';
    background-image: url(/Font-Awesome/svgs/solid/key.svg);
    background-repeat: no-repeat;
    background-size: 1em;
    padding-left: 1.4em;
}

.modal-variables > #id {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    /*display: none;*/
}

.modal-variables > #id:before {
    content: 'Case id:';
    background-image: url(/octicons/icons/key-16.svg);
    background-repeat: no-repeat;
    background-size: 1em;
    padding-left: 1.4em;
}

.modal-variables > #test_id {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    display: none;

}

.modal-variables > #tst_class {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    background-image: url(/Font-Awesome/svgs/solid/vial.svg);
    background-repeat: no-repeat;
    background-size: 1em;
    padding-left: 1.4em;


}

.modal-variables > #tst_name {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    background-image: url(/Font-Awesome/svgs/solid/vial.svg);
    background-repeat: no-repeat;
    background-size: 1em;
    padding-left: 1.4em;

}

.modal-variables > #cases_ids {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    display: none;

}

.modal-variables > #change_ticket {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
}

.modal-variables > #change_ticket:before {
    content: 'Change ticket: ';
    background-image: url(/Font-Awesome/svgs/brands/jira.svg);
    background-repeat: no-repeat;
    background-size: 1em;
    padding-left: 1.4em;
}

.modal-variables > #change_desc {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
}

.modal-variables > #change_desc:before {
    content: 'Change desc: ';
    background-image: url(/octicons/icons/note-16.svg);
    background-repeat: no-repeat;
    background-size: 1em;
    padding-left: 1.4em;
}

.modal-variables > #change_time {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
}

.modal-variables > #change_time:before {
    content: 'Change time: ';
    background-image: url(/octicons/icons/clock-16.svg);
    background-repeat: no-repeat;
    background-size: 1em;
    padding-left: 1.4em;
}

.modal-variables > #change_review {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
}

.modal-variables > #change_review:before {
    content: 'Change review: ';
    background-image: url(/Font-Awesome/svgs/solid/user-check.svg);
    background-repeat: no-repeat;
    background-size: 1em;
    padding-left: 1.4em;
}

.modal-variables > #change_user {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
}

.modal-variables > #change_user:before {
    content: 'Change user: ';
    background-image: url(/Font-Awesome/svgs/solid/user.svg);
    background-repeat: no-repeat;
    background-size: 1em;
    padding-left: 1.4em;
}

.modal-variables > #change {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
}

.modal-variables > #change:before {
    content: 'Change: ';
    background-image: url(/Font-Awesome/svgs/solid/pencil-ruler.svg);
    background-repeat: no-repeat;
    background-size: 1em;
    padding-left: 1.4em;
}

.modal-variables > #test_py_path {
    font-size: .775em;
    font-family: 'Maven Pro', sans-serif;
    word-wrap: break-word;
    /*display: none;*/

}

.modal-variables > #test_function {
    font-size: .775em;
    font-family: 'Maven Pro', sans-serif;
    word-wrap: break-word;
    display: none;
}

/*
    Multiple cases from case group - modal:
*/
#cases_ids {
    font-size: 1em;
    font-family: 'Maven Pro', sans-serif;
}

#casesSelectedArr {
    margin-top: 1em;
}

#casesSelectedArr > div {
    display: list-item;
    margin-left: 1em;
}

.pattern-case-details {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
}

.test-case-details {
    font-size: .875em;
    font-family: monospace;
}

.group-test-buttons {
    margin-top: 1em;
    display: flex;
    align-items: center;
}

/* TOAST */
.toast-body {
    padding: .5rem;!important;
}

#testOnMetadata {
    font-style: italic;
    font-size: 1em;
    font-family: 'Maven Pro', sans-serif;
    text-align: right;
    /*color: #1f5592cc;*/
}

#tknBranchPattLib {
    font-size: 1em;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    background-image: url(/octicons/icons/git-commit-16.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    padding-left: 1.2rem;
}

#patternDirectory {
    font-size: 1em;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 1.1em;
    padding-left: 1.2rem;
    background-image: url(/octicons/icons/repo-16.svg);
}

#testUnitFunction {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: 1.2em;
    padding-left: 1.2rem;
    /*color: #1f5592cc;*/
    overflow-wrap: break-word;
    background-image: url(/Font-Awesome/svgs/solid/vial.svg);

}

#multipleCasesRun {
    font-size: 1em;
    font-family: 'Maven Pro', sans-serif;
    font-style: italic;
    text-align: right;
    /*color: #a90494;*/
}

#test_by_id {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    padding-left: 1.2rem;
    background-image: url(/octicons/icons/key-16.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    margin: .2em;
}

#multiple_cases {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    background-image: url(/octicons/icons/list-unordered-16.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    padding-left: 1.2rem;
    margin: .2em;
}

#test_mode {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    background-image: url(/octicons/icons/beaker-16.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    padding-left: 1.2rem;
    margin: .2em;
}

#task_id {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    background-image: url(/octicons/icons/hubot-16.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    padding-left: 1.2rem;
    margin: .2em;
}

/*#task_status {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bolder;
    background-repeat: no-repeat;
    background-size: 1.2em;
    padding-left: 1.2rem;
    margin: .2em;
}*/

.task_status-state {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    background-image: url(/octicons/icons/info-16.svg);
    font-weight: bolder;
    background-repeat: no-repeat;
    background-size: 1.2em;
    padding-left: 1.2rem;
    margin: .2em;

}
.task_status-failed {
    background-color: red;
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    background-image: url(/octicons/icons/issue-opened-16.svg);
    font-weight: bolder;
    background-repeat: no-repeat;
    background-size: 1.2em;
    padding-left: 1.2rem;
    margin: .2em;

}
.task_status-queue {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    background-image: url(/octicons/icons/check-16.svg);
    font-weight: bolder;
    background-repeat: no-repeat;
    background-size: 1.2em;
    padding-left: 1.2rem;
    margin: .2em;
}