{% extends "main/main.html" %}
{% load static %}
{% block page_title %}
    {{ SUBJECT }}
{% endblock %}
{% block content %}
{% load i18n %}
{% load static %}
{% load tz %}
{% load humanize %}
{% load dev_tags %}
{% load template_simplify %}
{% load intro_selections %}
{% get_current_timezone as TIME_ZONE %}
<div style="padding-left:0.5em;padding-right:0.5em;margin-top:0.5em">
    <div class="alert alert-success" role="alert">
        Search everything by: {{ SEARCH_STING }}
    </div>
</div>
{% with 'text-center align-middle' as center_txt %}
<div style="padding-left: 0.5em;padding-right: 0.5em;">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="TKU_Patterns">
                <button class="btn btn-success" data-toggle="collapse" data-target="#collapse_TKU_Patterns" aria-expanded="true" aria-controls="collapse_TKU_Patterns">TKU Patterns <span class="badge badge-light">
                    {{ search_results_d.tku_patterns|length }}</span> found </button>
            </div>
            <div id="collapse_TKU_Patterns" class="collapse show" aria-labelledby="TKU_Patterns" data-parent="#accordion">
            <div class="card-body" style="padding: 0.2em;">
                <table class="table table-hover table-sm">
                    <thead class="table-dark">
                        <th class="{{ center_txt }}">#</th>
                        <th class="{{ center_txt }}">Branch</th>
                        <th class="{{ center_txt }}">Path</th>
                        <th class="{{ center_txt }}">ID</th>
                        <th class="{{ center_txt }}">CC</th>
                        <th class="{{ center_txt }}">User</th>
                        <th class="{{ center_txt }}">Change</th>
                        <th class="{{ center_txt }}">Time edit</th>
                        <th class="{{ center_txt }}">History</th>
                        <th class="{{ center_txt }}">Actions</th>
                        <th class="text-center align-middle" scope="col" id="clet_test_arg">Test avg</th>
                    </thead>
                    <tbody>
                         {% for pattern_row in search_results_d.tku_patterns|dictsortreversed:"pattern_folder_mod_time" %}
                            {% key_pattern_highlight pattern_row.is_key_pattern as key_color %}
                            {% no_test_pattern_highlight pattern_row.test_py_path as text_color %}
                            <tr>
                                <!-- Counter/table ID: -->
                                <td class="{{ center_txt }} {{ text_color }} table-{{ key_color }}" style="font-size: 0.8em;">
                                    <div class="btn-group" role="group" aria-label="Edit" style="text-align: center;">
                                        <a class="btn btn-sm btn-outline-secondary" style="font-size: 0.8em;" target="_blank" href="http://{{ request.META.HTTP_HOST }}/admin/run_core/tkupatterns/{{ pattern_row.id }}/change/">{{ forloop.counter }}</a>
                                    </div>
                                </td>
                                <!-- Pattern BRANCH: -->
                                <td class="{{ center_txt }} {{ text_color }} table-{{ key_color }}" style="font-size: 0.8em;">{{ pattern_row.tkn_branch }}</td>
                                <!-- Path to pattern\folder\library: -->
                                <td class="text-left align-middle {{ text_color }} table-{{ key_color }}" style="font-size: 0.8em;">{{ pattern_row.pattern_library }} / {{ pattern_row.pattern_folder_name }} / {{ pattern_row.pattern_file_name }}<br>
                                    <div>depot: {{ pattern_row.pattern_folder_path_depot }}</div>
                                </td>
                                <!-- TICKET browse: -->
                                <td class="{{ center_txt }} {{ text_color }} table-{{ key_color }}" style="font-size: 0.8em;white-space: nowrap" title="ID - JIra, ESC, etc">
                                    {% if 'DR' in pattern_row.change_ticket %}
                                    {# https://jira.bmc.com/browse/ #}
                                        <a class="btn btn-sm btn-info" title="Browse JIRA" style="font-size: 0.8em;" target="_blank" href="https://jira.bmc.com/browse/{{ pattern_row.change_ticket }}">{{ pattern_row.change_ticket }}</a>
                                    {% else %}
                                        {{ pattern_row.change_ticket }}
                                    {% endif %}
                                </td>
                                <!-- REVIEW browse: -->
                                <td class="{{ center_txt }} {{ text_color }} table-{{ key_color }}" style="font-size: 0.8em;white-space: nowrap" title="CC Review">
                                    {% if '#' in pattern_row.change_review %}
                                    {# http://COLLAB:8080/ui#review:id= #}
                                        <a class="btn btn-sm btn-success" title="Browse CC review" style="font-size: 0.8em;" target="_blank" href="http://p4collab.bmc.com:8080/ui#review:id={{ pattern_row.change_review|remove_dash }}">{{ pattern_row.change_review }}</a>
                                    {% else %}
                                        {{ pattern_row.change_review }}
                                    {% endif %}
                                </td>
                                <!-- SELECT user's tests only: -->
                                <td class="{{ center_txt }} {{ text_color }} table-{{ key_color }}" style="font-size: 0.8em;">
                                    {# http://LOBSTER/select/patterns_digest/?branch=tkn_main;adprod_user=#}
                                    {% if pattern_row.change_user %}
                                    {# http://COLLAB:8080/ui#review:id= #}
                                        <a class="btn btn-sm btn-dark" title="See review" style="font-size: 0.8em;" target="_blank" href="{% url 'patterns_digest' %}?branch={{ pattern_row.tkn_branch }};adprod_user={{ pattern_row.change_user }}">{{ pattern_row.change_user }}</a>
                                    {% else %}
                                        {{ pattern_row.change_user }}
                                    {% endif %}
                                </td>
                                <!-- P4 change number: -->
                                <td class="{{ center_txt }} {{ text_color }} table-{{ key_color }}" style="font-size: 0.8em;" title="{{ pattern_row.change_desc }}">#{{ pattern_row.pattern_folder_change }}</td>
                                <!-- Last modification time: -->
                                <td class="{{ center_txt }} {{ text_color }} table-{{ key_color }}" style="font-size: 0.8em;white-space: nowrap">{{ pattern_row.pattern_folder_mod_time|timezone:"Europe/London"|date:'Y-m-d H:i' }}</td>
                                <!-- HISTORY browse: -->
                                <td class="{{ center_txt }} {{ text_color }} table-{{ key_color }} text-sm-left">
                                    <div class="btn-group" role="group" aria-label="Level" style="text-align: center;">
                                    <a class="btn btn-sm btn-light" style="font-size: 0.7em;" href="{% url "history_select" %}{% spaceless %}
                                    {% endspaceless %}?branch={{ pattern_row.tkn_branch }}{% spaceless %}
                                    {% endspaceless %}&pattern_library={{ pattern_row.pattern_library }}{% spaceless %}
                                    {% endspaceless %}&pattern_folder={{ pattern_row.pattern_folder_name }}"> History </a>
                                    </div>
                                </td>
                                <!-- TEST RUN BUTTON -->
                                <td class="{{ center_txt }} {{ text_color }} table-{{ key_color }}" style="font-size: 0.7em;font-family:monospace;">
                                    {#New test exec button#}
                                    {% user_run_test pattern_row %}
{#                                    <div class="btn-group btn-group-sm btn-outline-info" role="group" style="font-size: 0.7em;">#}
{#                                        <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>#}
{#                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">#}
{#                                            <a class="dropdown-item" style="font-size: 0.8em;"#}
{#                                               href="{% url 'pattern_logs' %}?branch={{ pattern_row.tkn_branch }};adprod_user={{ ADPROD_USER }}{% if pattern_row.addm_name %}&addm_name={{ pattern_row.addm_name }}{% endif %}{% row_pattern_items pattern_row.pattern_library pattern_row.pattern_folder_name pattern_row.pattern_file_name %}{% log_levels %}">{% spaceless %}#}
{#                                               {% endspaceless %}{% select_icon 'file' 18 'right' 0.2 %}<b class="text-info">Logs</b></a>#}
{#                                            <div class="dropdown-divider"></div>#}
{#                                            <a class="dropdown-item" style="font-size: 0.8em;"#}
{#                                               href="{% url "test_execute_web" %}?pattern_folder={{ pattern_row.pattern_folder_name }}&pattern_library={{ pattern_row.pattern_library }}&branch={{ pattern_row.tkn_branch }}">{% spaceless %}#}
{#                                               {% endspaceless %}{% select_icon 'zap' 18 'right' 0.2 %}<b class="text-success">Run!</b></a>#}
{#                                            <a class="dropdown-item" style="font-size: 0.8em;"#}
{#                                               href="{% url "test_execute_web" %}?pattern_folder={{ pattern_row.pattern_folder_name }}&pattern_library={{ pattern_row.pattern_library }}&branch={{ pattern_row.tkn_branch }}&refresh=True">{% spaceless %}#}
{#                                               {% endspaceless %}{% select_icon 'sync' 18 'right' 0.2 %}<b class="text-warning">Sync+run!</b></a>#}
{#                                        </div>#}
{#                                    </div>#}
                                </td>
                                <td id="test_avg" style="font-size: 0.8em;" class="text-center {{ text_color }} table-{{ key_color }} align-middle text-sm-left" title="Test average run time">{{ pattern_row.test_time_weight | f_sec }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
          </div>
        </div>
        </div>
        <div class="card">
            <div class="card-header" id="TestsLast">
                <button class="btn btn-dark collapsed" data-toggle="collapse" data-target="#collapse_TestsLast" aria-expanded="false" aria-controls="collapse_TestsLast">Last tests <span class="badge badge-light">
                    {{ search_results_d.test_last|length }}</span> found </button> * it's limited up to MAX 500 last results only.
            </div>
            <div id="collapse_TestsLast" class="collapse" aria-labelledby="TestsLast" data-parent="#accordion">
            <div class="card-body" style="padding: 0.2em;">

                {# TESTS LAST TABLE #}
                <table class="table table-bordered table-responsive-sm table-hover table-sm">
                    <thead class="table-dark">
                        <!-- TEST table head: -->
                        <th class="{{ center_txt }}">#</th>
                        <th class="{{ center_txt }}">Place</th>
                        <th class="{{ center_txt }}">Test</th>
                        <th class="{{ center_txt }}">Test info</th>
                        <th class="{{ center_txt }}">Message</th>
                        <th class="{{ center_txt }}">Actions</th>
                        <th class="{{ center_txt }}">Execution</th>
                        <th class="{{ center_txt }}">Addm</th>
                    </thead>
                    <tbody>
                        <!-- TEST table rows in cycle: -->
                        {% for pattern_row in search_results_d.test_last|dictsortreversed:'test_date_time' %}
                            <tr title="by user: '{{ pattern_row.change_user }}' is key: {{ pattern_row.is_key_pattern }} ADDM name: '{{ pattern_row.addm_name }}', group: '{{ pattern_row.addm_group }}', host: '{{ pattern_row.addm_host }}'">
                                {% assign_color pattern_row.tst_status as color %}
                                <td class="table-{{ color }} {{ center_txt }}" style="font-size: 0.8em;">{{ forloop.counter }}</td>
                                <td class="table-{{ color }} {{ center_txt }}" style="font-size: 0.8em;">{{ pattern_row.pattern_library }} / <b>{{ pattern_row.pattern_folder_name }}</b></td>
                                <td class="table-{{ color }} text-left align-middle" style="font-size: 0.8em;word-wrap: break-word;">{{ pattern_row.tst_class }}.{{ pattern_row.tst_name }}</td>
                                <td class="table-{{ color }} text-{{ color }} {{ center_txt }}" style="font-size: 0.8em;font-family:monospace;">{{ pattern_row.tst_status }}<br>{{ pattern_row.fail_status }}<br>{{ pattern_row.tst_message }}</td>
                                <td class="table-{{ color }}" style="font-size: 0.8em;font-family:monospace;">{{ pattern_row.fail_message }}</td>
                                <td class="{{ center_txt }} table-{{ color }}">
                                    {% user_run_test pattern_row %}
{#                                    <div class="btn-group btn-group-sm btn-outline-info" role="group" style="font-size: 0.8em;">#}
{#                                        <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>#}
{#                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">#}
{#                                            {% if power_user_bool %}#}
{##}
{#                                                <a class="dropdown-item" style="font-size: 0.8em;"#}
{#                                                   href="{% url 'last_success' %}?branch={{ pattern_row.tkn_branch }}&pattern_folder={{ pattern_row.pattern_folder_name }}&pattern_library={{ pattern_row.pattern_library }}&addm_name={{ pattern_row.addm_name }};test_function={{ pattern_row.tst_class }}+{{ pattern_row.tst_name }}">{% spaceless %}#}
{#                                                {% endspaceless %}{% select_icon 'eye' 18 'right' 0.2 %}<b class="text-info">Last success</b>#}
{#                                                </a>#}
{##}
{#                                                <div class="dropdown-divider"></div>#}
{##}
{#                                                <a class="dropdown-item" style="font-size: 0.8em;"#}
{#                                                   href="{% url "test_execute_web" %}?pattern_folder={{ pattern_row.pattern_folder_name }}&pattern_library={{ pattern_row.pattern_library }}&branch={{ pattern_row.tkn_branch }};test_function={{ pattern_row.tst_class }}+{{ pattern_row.tst_name }}">{% spaceless %}#}
{#                                                   {% endspaceless %}{% select_icon 'zap' 18 'right' 0.2 %}<b class="text-success">Run single test!</b>#}
{#                                                </a>#}
{#                                                <a class="dropdown-item" style="font-size: 0.8em;"#}
{#                                                   href="{% url "test_execute_web" %}?pattern_folder={{ pattern_row.pattern_folder_name }}&pattern_library={{ pattern_row.pattern_library }}&branch={{ pattern_row.tkn_branch }};test_function={{ pattern_row.tst_class }}+{{ pattern_row.tst_name }}&refresh=True">{% spaceless %}#}
{#                                                   {% endspaceless %}{% select_icon 'sync' 18 'right' 0.2 %}<b class="text-warning">Sync + run single test!</b>#}
{#                                                </a>#}
{#                                                <div class="dropdown-divider"></div>#}
{#                                                <a class="dropdown-item" style="font-size: 0.8em;"#}
{#                                                   href="{% url "test_execute_web" %}?pattern_folder={{ pattern_row.pattern_folder_name }}&pattern_library={{ pattern_row.pattern_library }}&branch={{ pattern_row.tkn_branch }}">{% spaceless %}#}
{#                                                   {% endspaceless %}{% select_icon 'zap' 18 'right' 0.2 %}<b class="text-success">Run test.py!</b>#}
{#                                                </a>#}
{#                                                <a class="dropdown-item" style="font-size: 0.8em;"#}
{#                                                   href="{% url "test_execute_web" %}?pattern_folder={{ pattern_row.pattern_folder_name }}&pattern_library={{ pattern_row.pattern_library }}&branch={{ pattern_row.tkn_branch }}&refresh=True">{% spaceless %}#}
{#                                                   {% endspaceless %}{% select_icon 'sync' 18 'right' 0.2 %}<b class="text-warning">Sync + run test.py!</b>#}
{#                                                </a>#}
{#                                            {% else %}#}
{#                                                <a class="dropdown-item" style="font-size: 0.8em;" href="{% url 'login' %}"><b class="text-warning">Log in</b></a>#}
{#                                            {% endif %}#}
{#                                        </div>#}
{#                                    </div>#}
                                </td>
                                <td class="{{ center_txt }} table-{{ color }} font-weight-normal" style="font-size: 0.7em;">{% spaceless %}
                                    {% endspaceless %}{{ pattern_row.test_date_time|timezone:"Europe/London"|date:'Y-m-d H:i' }}<br>{{ pattern_row.test_date_time|timezone:"Europe/London"|naturaltime }}<br>{{ pattern_row.time_spent_test|f_sec }}</td>
                                <td class="{{ center_txt }} table-{{ color }} font-weight-normal" style="font-size: 0.7em;">{{ pattern_row.addm_name }} ({{ pattern_row.addm_v_int }})<br>{{ pattern_row.addm_host }}<br>{{ pattern_row.addm_ip }}<br>{{ pattern_row.addm_group }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <!-- TEST table foot: -->
                    <tfoot class="table-dark">
                        <tr>
                            <th class="{{ center_txt }}">#</th>
                            <th class="{{ center_txt }}">Place</th>
                            <th class="{{ center_txt }}">Test</th>
                            <th class="{{ center_txt }}">Test info</th>
                            <th class="{{ center_txt }}">Message</th>
                            <th class="{{ center_txt }}">Actions</th>
                            <th class="{{ center_txt }}">Execution</th>
                            <th class="{{ center_txt }}">Addm</th>
                        </tr>
                    </tfoot>
                </table>
          </div>
        </div>
        </div>
        <div class="card">
            <div class="card-header" id="TestsHistory">
                <button class="btn btn-warning collapsed" data-toggle="collapse" data-target="#collapse_TestsHistory" aria-expanded="false" aria-controls="collapse_TestsHistory">History tests <span class="badge badge-light">
                    {{ search_results_d.test_history|length }}</span> found </button> * it's limited to 200 last results only.
                <a class="btn btn-outline-dark" style="padding-left: 1em;" href="{% url "full_history" %}?search_sting={{ SEARCH_STING }}">Go to full history</a>
            </div>
            <div id="collapse_TestsHistory" class="collapse" aria-labelledby="TestsHistory" data-parent="#accordion">
            <div class="card-body" style="padding: 0.2em;">
                {# TESTS LAST TABLE #}
                <table class="table table-bordered table-responsive-sm table-hover table-sm">
                    <thead class="table-dark">
                        <!-- TEST table head: -->
                        <th class="{{ center_txt }}">#</th>
                        <th class="{{ center_txt }}">Place</th>
                        <th class="{{ center_txt }}">Test</th>
                        <th class="{{ center_txt }}">Test info</th>
                        <th class="{{ center_txt }}">Message</th>
                        <th class="{{ center_txt }}">Actions</th>
                        <th class="{{ center_txt }}">Execution</th>
                        <th class="{{ center_txt }}">Addm</th>
                    </thead>
                    <tbody>
                        <!-- TEST table rows in cycle: -->
                        {% for pattern_row in search_results_d.test_history|dictsortreversed:'test_date_time' %}
                            <tr title="by user: '{{ pattern_row.change_user }}' is key: {{ pattern_row.is_key_pattern }} ADDM name: '{{ pattern_row.addm_name }}', group: '{{ pattern_row.addm_group }}', host: '{{ pattern_row.addm_host }}'">
                                {% assign_color pattern_row.tst_status as color %}
                                <td class="table-{{ color }} {{ center_txt }}" style="font-size: 0.8em;">{{ forloop.counter }}</td>
                                <td class="table-{{ color }} {{ center_txt }}" style="font-size: 0.8em;">{{ pattern_row.pattern_library }} / <b>{{ pattern_row.pattern_folder_name }}</b></td>
                                <td class="table-{{ color }} text-left align-middle" style="font-size: 0.8em;word-wrap: break-word;">{{ pattern_row.tst_class }}.{{ pattern_row.tst_name }}</td>
                                <td class="table-{{ color }} text-{{ color }} {{ center_txt }}" style="font-size: 0.8em;font-family:monospace;">{{ pattern_row.tst_status }}<br>{{ pattern_row.fail_status }}<br>{{ pattern_row.tst_message }}</td>
                                <td class="table-{{ color }}" style="font-size: 0.8em;font-family:monospace;">{{ pattern_row.fail_message }}</td>
                                <td class="{{ center_txt }} table-{{ color }}">
                                    {% user_run_test pattern_row 1 %}
{#                                    <div class="btn-group btn-group-sm btn-outline-info" role="group" style="font-size: 0.8em;">#}
{#                                        <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>#}
{#                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">#}
{#                                            {% if power_user_bool %}#}
{##}
{#                                                <a class="dropdown-item" style="font-size: 0.8em;"#}
{#                                                   href="{% url 'last_success' %}?branch={{ pattern_row.tkn_branch }}&pattern_folder={{ pattern_row.pattern_folder_name }}&pattern_library={{ pattern_row.pattern_library }}&addm_name={{ pattern_row.addm_name }};test_function={{ pattern_row.tst_class }}+{{ pattern_row.tst_name }}">{% spaceless %}#}
{#                                                {% endspaceless %}{% select_icon 'eye' 18 'right' 0.2 %}<b class="text-info">Last success</b>#}
{#                                                </a>#}
{##}
{#                                                <div class="dropdown-divider"></div>#}
{##}
{#                                                <a class="dropdown-item" style="font-size: 0.8em;"#}
{#                                                   href="{% url "test_execute_web" %}?pattern_folder={{ pattern_row.pattern_folder_name }}&pattern_library={{ pattern_row.pattern_library }}&branch={{ pattern_row.tkn_branch }};test_function={{ pattern_row.tst_class }}+{{ pattern_row.tst_name }}">{% spaceless %}#}
{#                                                {% endspaceless %}{% select_icon 'zap' 18 'right' 0.2 %}<b class="text-success">Run single test!</b>#}
{#                                                </a>#}
{#                                                <a class="dropdown-item" style="font-size: 0.8em;"#}
{#                                                   href="{% url "test_execute_web" %}?pattern_folder={{ pattern_row.pattern_folder_name }}&pattern_library={{ pattern_row.pattern_library }}&branch={{ pattern_row.tkn_branch }};test_function={{ pattern_row.tst_class }}+{{ pattern_row.tst_name }}&refresh=True">{% spaceless %}#}
{#                                                {% endspaceless %}{% select_icon 'sync' 18 'right' 0.2 %}<b class="text-warning">Sync + run single test!</b>#}
{#                                                </a>#}
{#                                                <div class="dropdown-divider"></div>#}
{#                                                <a class="dropdown-item" style="font-size: 0.8em;"#}
{#                                                   href="{% url "test_execute_web" %}?pattern_folder={{ pattern_row.pattern_folder_name }}&pattern_library={{ pattern_row.pattern_library }}&branch={{ pattern_row.tkn_branch }}">{% spaceless %}#}
{#                                                {% endspaceless %}{% select_icon 'zap' 18 'right' 0.2 %}<b class="text-success">Run test.py!</b>#}
{#                                                </a>#}
{#                                                <a class="dropdown-item" style="font-size: 0.8em;"#}
{#                                                   href="{% url "test_execute_web" %}?pattern_folder={{ pattern_row.pattern_folder_name }}&pattern_library={{ pattern_row.pattern_library }}&branch={{ pattern_row.tkn_branch }}&refresh=True">{% spaceless %}#}
{#                                                {% endspaceless %}{% select_icon 'sync' 18 'right' 0.2 %}<b class="text-warning">Sync + run test.py!</b>#}
{#                                                </a>#}
{#                                            {% else %}#}
{#                                                <a class="dropdown-item" style="font-size: 0.8em;" href="{% url 'login' %}"><b class="text-warning">Log in</b></a>#}
{#                                            {% endif %}#}
{#                                        </div>#}
{#                                    </div>#}
                                </td>
                                <td class="{{ center_txt }} table-{{ color }} font-weight-normal" style="font-size: 0.7em;">{% spaceless %}
                                    {% endspaceless %}{{ pattern_row.test_date_time|timezone:"Europe/London"|date:'Y-m-d H:i' }}<br>{{ pattern_row.test_date_time|timezone:"Europe/London"|naturaltime }}<br>{{ pattern_row.time_spent_test|f_sec }}</td>
                                <td class="{{ center_txt }} table-{{ color }} font-weight-normal" style="font-size: 0.7em;">{{ pattern_row.addm_name }} ({{ pattern_row.addm_v_int }})<br>{{ pattern_row.addm_host }}<br>{{ pattern_row.addm_ip }}<br>{{ pattern_row.addm_group }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <!-- TEST table foot: -->
                    <tfoot class="table-dark">
                        <tr>
                            <th class="{{ center_txt }}">#</th>
                            <th class="{{ center_txt }}">Place</th>
                            <th class="{{ center_txt }}">Test</th>
                            <th class="{{ center_txt }}">Test info</th>
                            <th class="{{ center_txt }}">Message</th>
                            <th class="{{ center_txt }}">Actions</th>
                            <th class="{{ center_txt }}">Execution</th>
                            <th class="{{ center_txt }}">Addm</th>
                        </tr>
                    </tfoot>
                </table>
          </div>
        </div>
        </div>
    </div>
</div>
{% endwith %}
{% endblock %}
