{% extends "main/main.html" %}
{% block page_title %}
    DEVs home
{% endblock %}
{% block content %}
{% load static %}
    <div style="padding-left:2%;padding-top:1%">
        <h4>Predefined fast sets: <span class="badge badge-secondary">In progress</span></h4>
        <div style="padding-left:5%;">
            <div class="card-deck">
                <div class="card bg-light mb-3" style="max-width: 20rem;">
                  <div class="card-header">Changes</div>
                  <div class="card-body">
                        <a role="button" class="btn btn-outline-info btn-block disabled" href="/">In dev... <img style="height:24px;width:24px;" src="{% static "/octicons/svg/squirrel.svg" %}" alt="in_dev"/></a>
                        <a role="button" class="btn btn-outline-info btn-block disabled" href="/">In dev... <img style="height:24px;width:24px;" src="{% static "/octicons/svg/squirrel.svg" %}" alt="in_dev"/></a>
                        <a role="button" class="btn btn-outline-info btn-block disabled" href="/">In dev... <img style="height:24px;width:24px;" src="{% static "/octicons/svg/squirrel.svg" %}" alt="in_dev"/></a>
                    <p class="card-text">Short info.</p>
                  </div>
                </div>
                <div class="card bg-light mb-3" style="max-width: 20rem;">
                  <div class="card-header">Header</div>
                  <div class="card-body">
                        <a role="button" class="btn btn-outline-info btn-block disabled" href="/">In dev... <img style="height:24px;width:24px;" src="{% static "/octicons/svg/squirrel.svg" %}" alt="in_dev"/></a>
                        <a role="button" class="btn btn-outline-info btn-block disabled" href="/">In dev... <img style="height:24px;width:24px;" src="{% static "/octicons/svg/squirrel.svg" %}" alt="in_dev"/></a>
                        <a role="button" class="btn btn-outline-info btn-block disabled" href="/">In dev... <img style="height:24px;width:24px;" src="{% static "/octicons/svg/squirrel.svg" %}" alt="in_dev"/></a>
                    <p class="card-text">Short info.</p>
                  </div>
                </div>
                <div class="card bg-light mb-3" style="max-width: 20rem;">
                  <div class="card-header">Search</div>
                  <div class="card-body">
                        <a role="button" class="btn btn-outline-info btn-block" href="{% url 'search_history' %}">Search <img style="height:24px;width:24px;" src="{% static "/octicons/svg/search.svg" %}" alt="branch_main"/></a>
                        <a role="button" class="btn btn-outline-info btn-block disabled" href="/">In dev... <img style="height:24px;width:24px;" src="{% static "/octicons/svg/squirrel.svg" %}" alt="in_dev"/></a>
                        <a role="button" class="btn btn-outline-info btn-block disabled" href="/">In dev... <img style="height:24px;width:24px;" src="{% static "/octicons/svg/squirrel.svg" %}" alt="in_dev"/></a>
                    <p class="card-text">Short info.</p>
                  </div>
                </div>
                <div class="card bg-light mb-3" style="max-width: 20rem;">
                  <div class="card-header">Statistics</div>
                  <div class="card-body">
                        <a role="button" class="btn btn-outline-info btn-block disabled" href="/">Statistics <img style="height:24px;width:24px;" src="{% static "/octicons/svg/graph.svg" %}" alt="stat"/></a>
                        <a role="button" class="btn btn-outline-info btn-block disabled" href="/">History top fails <img style="height:24px;width:24px;" src="{% static "/octicons/svg/history.svg" %}" alt="history"/></a>
                        <a role="button" class="btn btn-outline-info btn-block disabled" href="/">Release stats <img style="height:24px;width:24px;" src="{% static "/octicons/svg/pulse.svg" %}" alt="stat"/></a>
                    <p class="card-text">Short info.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-left:2%;">
    <h4>Patterns by statuses: <span class="badge badge-secondary">In progress</span></h4>
        <div style="padding-left:5%;">
            <div class="card-deck">
                <div class="card border-success mb-3" style="max-width: 20rem;">
                  <div class="card-header bg-success text-white">Patterns passed</div>
                  <div class="card-body">
                        <div class="btn-group-justified" style="padding-left:5%;padding-right:5%">
                            <a role="button" class="btn btn-outline-info btn-block" href="#">TKN Main <img style="height:24px;width:24px;" src="{% static "/octicons/svg/git-branch.svg" %}" alt="branch_main" /></a>
                            <a role="button" class="btn btn-outline-info btn-block" href="#">TKN Ship <img style="height:24px;width:24px;" src="{% static "/octicons/svg/git-merge.svg" %}" alt="merge_ship" /></a>
                        </div>
                    <p class="card-text">Short info.</p>
                  </div>
                </div>
                <div class="card border-danger mb-3" style="max-width: 20rem;">
                  <div class="card-header bg-danger text-white">Patterns failed</div>
                  <div class="card-body">
                        <div class="btn-group-justified" style="padding-left:5%;padding-right:5%">
                            <a role="button" class="btn btn-outline-info btn-block" href="#">TKN Main <img style="height:24px;width:24px;" src="{% static "/octicons/svg/git-branch.svg" %}" alt="branch_main" /></a>
                            <a role="button" class="btn btn-outline-info btn-block" href="#">TKN Ship <img style="height:24px;width:24px;" src="{% static "/octicons/svg/git-merge.svg" %}" alt="merge_ship" /></a>
                        </div>
                    <p class="card-text">Short info.</p>
                  </div>
                </div>
                <div class="card border-warning mb-3" style="max-width: 20rem;">
                  <div class="card-header bg-warning text-white">Patterns error</div>
                  <div class="card-body">
                        <div class="btn-group-justified" style="padding-left:5%;padding-right:5%">
                            <a role="button" class="btn btn-outline-info btn-block" href="#">TKN Main <img style="height:24px;width:24px;" src="{% static "/octicons/svg/git-branch.svg" %}" alt="branch_main" /></a>
                            <a role="button" class="btn btn-outline-info btn-block" href="#">TKN Ship <img style="height:24px;width:24px;" src="{% static "/octicons/svg/git-merge.svg" %}" alt="merge_ship" /></a>
                        </div>
                    <p class="card-text">Short info.</p>
                  </div>
                </div>
                <div class="card border-info mb-3" style="max-width: 20rem;">
                  <div class="card-header bg-info text-white">Patterns skipped</div>
                  <div class="card-body">
                        <div class="btn-group-justified" style="padding-left:5%;padding-right:5%">
                            <a role="button" class="btn btn-outline-info btn-block" href="#">TKN Main <img style="height:24px;width:24px;" src="{% static "/octicons/svg/git-branch.svg" %}" alt="branch_main" /></a>
                            <a role="button" class="btn btn-outline-info btn-block" href="#">TKN Ship <img style="height:24px;width:24px;" src="{% static "/octicons/svg/git-merge.svg" %}" alt="merge_ship" /></a>
                        </div>
                    <p class="card-text">Short info.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-left:2%;">
    <h4>Tests by statuses: <span class="badge badge-secondary">In progress</span></h4>
        <div style="padding-left:5%;">
            <div class="card-deck">
                <div class="card border-success mb-3" style="max-width: 20rem;">
                  <div class="card-header bg-success text-white">TESTS Passed</div>
                  <div class="card-body">
                        <div class="btn-group-justified" style="padding-left:5%;padding-right:5%">
                            <a role="button" class="btn btn-outline-info btn-block" href="#">TKN Main <img style="height:24px;width:24px;" src="{% static "/octicons/svg/git-branch.svg" %}" alt="branch_main" /></a>
                            <a role="button" class="btn btn-outline-info btn-block" href="#">TKN Ship <img style="height:24px;width:24px;" src="{% static "/octicons/svg/git-merge.svg" %}" alt="merge_ship" /></a>
                        </div>
                    <p class="card-text">Short info.</p>
                  </div>
                </div>
                <div class="card border-danger mb-3" style="max-width: 20rem;">
                  <div class="card-header bg-danger text-white">TESTS Failed</div>
                  <div class="card-body">
                        <div class="btn-group-justified" style="padding-left:5%;padding-right:5%">
                            <a role="button" class="btn btn-outline-info btn-block" href="#">TKN Main <img style="height:24px;width:24px;" src="{% static "/octicons/svg/git-branch.svg" %}" alt="branch_main" /></a>
                            <a role="button" class="btn btn-outline-info btn-block" href="#">TKN Ship <img style="height:24px;width:24px;" src="{% static "/octicons/svg/git-merge.svg" %}" alt="merge_ship" /></a>
                        </div>
                    <p class="card-text">Short info.</p>
                  </div>
                </div>
                <div class="card border-warning mb-3" style="max-width: 20rem;">
                  <div class="card-header bg-warning text-white">TESTS Error</div>
                  <div class="card-body">
                        <div class="btn-group-justified" style="padding-left:5%;padding-right:5%">
                            <a role="button" class="btn btn-outline-info btn-block" href="#">TKN Main <img style="height:24px;width:24px;" src="{% static "/octicons/svg/git-branch.svg" %}" alt="branch_main" /></a>
                            <a role="button" class="btn btn-outline-info btn-block" href="#">TKN Ship <img style="height:24px;width:24px;" src="{% static "/octicons/svg/git-merge.svg" %}" alt="merge_ship" /></a>
                        </div>
                    <p class="card-text">Short info.</p>
                  </div>
                </div>
                <div class="card border-info mb-3" style="max-width: 20rem;">
                  <div class="card-header bg-info text-white">TESTS Skipped</div>
                  <div class="card-body">
                        <div class="btn-group-justified" style="padding-left:5%;padding-right:5%">
                            <a role="button" class="btn btn-outline-info btn-block" href="#">TKN Main <img style="height:24px;width:24px;" src="{% static "/octicons/svg/git-branch.svg" %}" alt="branch_main" /></a>
                            <a role="button" class="btn btn-outline-info btn-block" href="#">TKN Ship <img style="height:24px;width:24px;" src="{% static "/octicons/svg/git-merge.svg" %}" alt="merge_ship" /></a>
                        </div>
                    <p class="card-text">Short info.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}