{% extends "main/main.html" %}
{% block page_title %}
    {% if not SUBJECT %}
        Celery Workbench
    {% else %}
        {{ SUBJECT }}
    {% endif %}
{% endblock %}
{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}
{% load template_simplify %}
{% load intro_selections %}
{% block content %}
    {# STYLES #}
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/elements/navbar-secondary.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/admin_workbenches/admin-workbench.css' %}"/>
    <div aria-live="polite" aria-atomic="true" style="position: relative">
        <!-- Position it -->
        <div style="position: absolute; top: 0; left: 0;">
            <div id="toastStack" style="position: absolute;z-index: 2"></div>
        </div>
    </div>
    {% comment %}NAV BAR{% endcomment %}
    <nav class="navbar navbar-light test-report-navbar">
    {% spaceless %}
        <!-- Navbar content -->
        <!-- Navbar left part content -->
        <div class="nav-reports-left">
            <!-- Digest levels breadcrumbs: -->
            <div class="digest-breadcrumbs">
                <nav class="nav nav-pills">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Browse test digest report levels">
                        <a class="btn btn-sm btn-info" href="{% url 'admin_workbench' %}"><i class="fas fa-step-backward"></i> Admin Workbench</a>
                        <a class="btn btn-sm btn-info" href="{% url 'celery_workbench' %}" title="You are here..."><i class="fas fa-play"></i> Celery Workbench</a>
                    </div>
                </nav>
            </div>
            <!-- Change branch here: -->
            <div class="digest-branch"></div>
            <div class="selection-state"></div>
        </div>
        <!-- Navbar right part content -->
        <div class="nav-reports-right digest-test-log-levels">
        </div>
    {% endspaceless %}
    </nav>
    {# CONTENT #}
    {# CONTENT #}
    <div class="celery-admin-content">
        <div class="card-deck">
            <div class="card">
                <div class="card-header">Workers live:</div>
                <div class="card-body">
                    <div class="card-text">Show actual info of workers active and reserved queues.</div>
                </div>
                <div class="card-footer">
                    <small class="text-muted"></small>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Workers and celery details</div>
                <div class="card-body">
                    <div class="card-text">Inspect worker, get tasks.</div>
                    <a class="btn btn-sm btn-info active" href="{% url 'celery_inspect' %}">Celery Inspect</a>
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'workers_status' %}">{% select_icon 'dashboard' 18 'right' 0.2 %}Celery Workers (old)</a>
                    <a class="btn btn-sm btn-outline-info" href="{% url 'celery_beat_crontabschedules' %}">Celery CRON</a>
                    <div class="card-text">Django Celery Beat:</div>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-info" href="{% url 'admin:index' %}django_celery_beat/periodictask/">Periodic tasks</a>
                        <a class="btn btn-sm btn-outline-info" href="{% url 'admin:index' %}django_celery_beat/crontabschedule/">Cron schedules</a>
                        <a class="btn btn-sm btn-outline-info" href="{% url 'admin:index' %}django_celery_beat/intervalschedule/">Interval schedules</a>
                        <a class="btn btn-sm btn-outline-info" href="{% url 'admin:index' %}django_celery_beat/solarschedule/">Solar schedules</a>
                    </div>
                    <div class="card-text">Celery Tasks meta:</div>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-info" href="{% url 'admin:index' %}octo/celerytaskmeta/">Celery tasks meta</a>
                        <a class="btn btn-sm btn-outline-info" href="{% url 'admin:index' %}octo/celerytasksetmeta/">Celery alt tasks meta</a>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted"></small>
                </div>
            </div>
            <div class="card border-warning">
                <div class="card-header bg-warning">Celery servicing</div>
                <div class="card-body">
                    <a class="btn btn-sm btn-outline-warning" href="{% url 'reset_cron_last_run' %}">Celery cron reset last run</a>
                    <div style="padding-left:1%;padding-right:1%;margin-top:1em">
                        <div class="alert alert-secondary" role="alert">
                            Danger zone: restart system services
                            <a role="button" class="btn btn-sm btn-danger" href="{% url 'celery_service_restart' %}"
                               title="systemctl reload httpd.service && systemctl restart celery.service && systemctl restart celerybeat.service && systemctl restart flower.service">Celery service restart + apache + flower</a>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <small class="text-muted"></small>
                </div>
            </div>
        </div>
    </div>

    {% comment %}Nav sticky bottom{% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
        <a class="navbar-brand" href="#"><i class="fab fa-github"></i></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin_workbench' %}">Admin Workbench</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'celery_workbench' %}">Celery Workbench</a>
            </li>
        </ul>
        <span class="navbar-text">Octopus automation</span>
    </nav>
    {# JS #}
{#    <script src="{% static 'octopus/js/celery-inspect/celery-methods.js' %}"></script>#}
{#    <script src="{% static 'octopus/js/celery-inspect/celery-inspect.js' %}"></script>#}
    {% comment %}DEBUG{% endcomment %}
    <div class="debug-context">
        {% if request.GET.debug %}
            <p>DEBUG enabled</p>
            <p>actual addm_names: {{ addm_names }}</p>
            <p>Selector: {{ selector }}</p>
            <ul>
                {% for sel_k, sel_v in selector.items %}
                    {% if sel_v %}
                        <li class="text-success">{{ sel_k }} = "{{ sel_v }}"</li>
                    {% else %}
                        <li class="text-warning">{{ sel_k }} = "{{ sel_v }}"</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}