{% extends "main/main.html" %}
{% block page_title %}
    {% if not SUBJECT %}
        Inspect Celery
    {% else %}
        {{ SUBJECT }}
    {% endif %}
{% endblock %}
{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}
{% load template_simplify %}
{% load intro_selections %}
{% block content %}
    {# STYLES #}
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/elements/navbar-secondary.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/celery-inspect.css' %}"/>
    {% include 'includes/toast-place.html' %}
    <!-- Workbench navbar -->
    <nav class="navbar navbar-light test-report-navbar">
    {% spaceless %}
        <!-- Navbar content -->
        <!-- Navbar left part content -->
        <div class="nav-reports-left">
            <!-- Digest levels breadcrumbs: -->
            <div class="digest-breadcrumbs">
                <nav class="nav nav-pills">
                    <div class="btn-group btn-group-sm" role="group">
                        <a class="btn btn-sm btn-info" href="{% url 'admin_workbench' %}"><i class="fas fa-step-backward"></i> Admin Workbench</a>
                        <a class="btn btn-sm btn-info" href="{% url 'celery_workbench' %}"><i class="fas fa-step-backward"></i> Celery Workbench</a>
                        <a class="btn btn-sm btn-info active" href="{% url 'celery_inspect' %}" title="You are here..."><i class="fas fa-play"></i> Celery Inspect</a>
                    </div>
                </nav>
            </div>
            <!-- Change branch here: -->
            <div class="digest-branch"></div>
            <div class="selection-state"></div>
        </div>
        <!-- Navbar right part content -->
        <div class="nav-reports-right digest-test-log-levels">
            <a id="revoke-active-tasks" class="btn btn-sm btn-warning">Revoke active</a>
            <a id="revoke-reserved-tasks" class="btn btn-sm btn-warning">Revoke reserved</a>
            <a id="revoke-all-tasks" class="btn btn-sm btn-danger">Revoke Active + Reserved</a>
{#            <a id="discard-all-tasks" class="btn btn-sm btn-danger">Tasks discard</a>#}
{#            <a id="purge-all-tasks" class="btn btn-sm btn-danger">Tasks purge</a>#}
        </div>
    {% endspaceless %}
    </nav>
    {# CONTENT #}
    <div class="celery-content">
    {% if user.is_authenticated %}
        {% comment %}
        If worker - show tabs for one worker and use data-worker as selectable for JS
        If not worker - show everything in the same tabs, JS check when data-worker is undefined and also query for all.
        {% endcomment %}
        <div class="celery-workers-tabs">
            <nav>
              <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
                <a class="nav-item nav-link btn-outline-warning active" id="nav-active-reserved-tab" data-workers="{{ workers }}" data-operation_key="tasks_get_active_reserved"
                   data-toggle="tab" href="#nav-active-reserved" role="tab"
                   aria-controls="nav-active-reserved" aria-selected="true">Active & reserved</a>
{#                <a class="nav-item nav-link btn-outline-success" id="nav-active-tab" data-workers="{{ workers }}" data-operation_key="tasks_get_active"#}
{#                   data-toggle="tab" href="#nav-active" role="tab"#}
{#                   aria-controls="nav-active" aria-selected="false">Active tasks</a>#}
{#                <a class="nav-item nav-link btn-outline-secondary" id="nav-reserved-tab" data-workers="{{ workers }}" data-operation_key="tasks_get_reserved"#}
{#                   data-toggle="tab" href="#nav-reserved" role="tab"#}
{#                   aria-controls="nav-reserved" aria-selected="false">Reserved Tasks</a>#}
{#                <a class="nav-item nav-link btn-outline-secondary" id="nav-scheduled-tab" data-workers="{{ workers }}" data-operation_key="tasks_get_scheduled"#}
{#                   data-toggle="tab" href="#nav-scheduled" role="tab"#}
{#                   aria-controls="nav-scheduled" aria-selected="false">Scheduled Tasks</a>#}
                <a class="nav-item nav-link btn-outline-secondary" id="nav-registered-tab" data-workers="{{ workers }}" data-operation_key="tasks_get_registered"
                   data-toggle="tab" href="#nav-registered" role="tab"
                   aria-controls="nav-registered" aria-selected="false">Registered Tasks</a>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-active-reserved" role="tabpanel" aria-labelledby="nav-active-reserved-tab">
                  <div id="active-reserved"></div>
              </div>
              {% comment %}<div class="tab-pane fade" id="nav-active" role="tabpanel" aria-labelledby="nav-active-tab">
                  <div id="active"></div>
              </div>
              <div class="tab-pane fade" id="nav-reserved" role="tabpanel" aria-labelledby="nav-reserved-tab">
                  <div id="reserved"></div>
              </div>{% endcomment %}
{#              <div class="tab-pane fade" id="nav-scheduled" role="tabpanel" aria-labelledby="nav-scheduled-tab">#}
{#                  <div id="scheduled"></div>#}
{#              </div>#}
              <div class="tab-pane fade" id="nav-registered" role="tabpanel" aria-labelledby="nav-registered-tab">
                  <div id="registered"></div>
              </div>
            </div>
        </div>

        <div id="worker-card" style="display: none">
            <div class="card border-light tasks-card">
                <div class="card-header card-header-shrink"><span class="badge badge-info"></span></div>
                <div class="card-body card-body-shrink">
                    <table class="task-table table-bordered table-hover table-sm" style="width: 100%;">
                        <thead>
                            <tr class="text-center">
                                <td>id</td>
                                <td>name</td>
                                <td>args</td>
                                <td>kwargs</td>
                                <td>type</td>
                                <td>started</td>
                                <td>actions</td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="worker-buttons"></div>
                </div>
                <div class="card-footer card-footer-shrink"></div>
            </div>
        </div>
    {% else %}
        <p>Please, log in first.</p>
    {% endif %}
    </div>
    <!-- Navbar bottom fixed -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
        <a class="navbar-brand" href="#"><i class="fab fa-github"></i></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin_workbench' %}">Admin Workbench</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'celery_workbench' %}">Celery Workbench</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'celery_inspect' %}">Celery Inspect</a>
            </li>
        </ul>
        <span class="navbar-text">Octopus automation</span>
    </nav>
    {% include 'includes/toast_popup.html' %}
    {# JS #}
    <script src="{% static 'octopus/js/celery-inspect/celery-methods.js' %}"></script>
    <script src="{% static 'octopus/js/celery-inspect/celery-inspect.js' %}"></script>
    <script type="text/javascript">
        let single_worker = "{{ workers }}";
    </script>
    {% comment %}DEBUG{% endcomment %}
    <div class="debug-context">
        {% if request.GET.debug %}
            <p>DEBUG enabled</p>
            <p>actual addm_names: {{ addm_names }}</p>
            <p>Selector: {{ selector }}</p>
            <ul>
                {% for sel_k, sel_v in selector.items %}
                    {% if sel_v %}
                        <li class="text-success">{{ sel_k }} = "{{ sel_v }}"</li>
                    {% else %}
                        <li class="text-warning">{{ sel_k }} = "{{ sel_v }}"</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}