{% extends "main/main_short.html" %}
{% block page_title %}
    {% if not SUBJECT %}
        Last tests short
    {% else %}
        {{ SUBJECT }}
    {% endif %}
{% endblock %}
{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/workbench-mainpage.css' %}"/>
    <div class="alert alert-primary" role="alert">
        <div>Octopus - made for humans by Discovery Content team.</div>
    </div>
    <div class="report-content">
        <div class="card-columns">
            {% for lib in tests_digest %}
                <div class="col">
                    <div class="card text-white {% if lib.fails > 0 or lib.error > 0 %}bg-danger{% else %}bg-success{% endif %}" style="margin-bottom: 1em;">
                        <div class="card-header card-header-shrink text-center"><h4>{{ lib.pattern_library }}</h4></div>
                        <div class="card-body card-body-sm">
                            <p class="card-title text-sm-center">{{ lib.tkn_branch }}</p>
                            <p class="text-sm-center">Tests: {{ lib.tests_count }} Failed {{ lib.fails }} Error {{ lib.error }} Skipped {{ lib.skipped }} Passed {{ lib.passed }}</p>
                        </div>
                        <div class="card-footer card-footer-shrink text-sm-right text-white">{{ lib.test_date_time|timezone:"Europe/London"|naturaltime }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div>

    </div>

{% endblock %}