{% load static %}
{% load tz %}
{#{% load user_groups %}#}
{% load template_simplify %}
{% request_path_search 'general_addm' as general_addm_match %}
{% request_path_search 'patterns_digest' as patterns_digest_match %}
{% request_path_search 'pattern_logs' as pattern_logs_match %}
{% request_path_search 'history_select' as history_select_match %}
<!-- Navigation breadcrumbs custom -->
<div style="padding-left:1%;padding-right:1%;margin-bottom:5px;margin-top:5px">
    <div class="alert {% if history_select_match %}alert-info{% elif general_addm_match or patterns_digest_match or pattern_logs_match %}alert-secondary{% else %}alert-primary{% endif %}" role="alert">
        <!-- Branch icons: -->
        {% select_branch_icon BRANCH 36 %}

        <!-- BREADCRUMB custom buttons type -->
        <div aria-label="Breadcrumbs custom" class="btn-group btn-group-sm" role="group" title="Custom breadcrumb and navigation pane" style="padding-right:1%;">
            <!-- Change branch buttons: -->
            <div class="btn-group btn-group-sm" role="group">
            {% if BRANCH == "tkn_main" %}
                <button id="branch_tkn_main" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn dropdown-toggle btn-secondary" href="{{ BRANCH_SWITCH_URL }}?branch=tkn_main{% if ADDM_NAME %}&addm_name={{ ADDM_NAME }}{% endif %}{% select_pattern_items %}{% log_levels %}">
                    {% select_icon 'git-branch' 24 'right' 0.6 %}Main</button>
                <div class="dropdown-menu" aria-labelledby="change_branch_tkn_main">
                    <a class="dropdown-item" href="{{ BRANCH_SWITCH_URL }}?branch=tkn_ship{% if ADDM_NAME %}&addm_name={{ ADDM_NAME }}{% endif %}{% select_pattern_items %}{% log_levels %}">
                        {% select_icon 'git-merge' 24 'right' 0.6 %}Ship</a>
                </div>
            {% elif BRANCH == "tkn_ship" %}
                <button id="branch_tkn_ship" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn dropdown-toggle btn-secondary" href="{{ BRANCH_SWITCH_URL }}?branch=tkn_ship{% if ADDM_NAME %}&addm_name={{ ADDM_NAME }}{% endif %}{% select_pattern_items %}{% log_levels %}">
                    {% select_icon 'git-merge' 24 'right' 0.6 %}Ship</button>
                <div class="dropdown-menu" aria-labelledby="change_branch_tkn_ship">
                    <a class="dropdown-item"  href="{{ BRANCH_SWITCH_URL }}?branch=tkn_main{% if ADDM_NAME %}&addm_name={{ ADDM_NAME }}{% endif %}{% select_pattern_items %}{% log_levels %}">
                        {% select_icon 'git-branch' 24 'right' 0.6 %}Main</a>
                </div>
            {% else %}
                No Branch arg in context!
            {% endif %}
            </div>
            <!-- Change records age: -->
            <div class="btn-group btn-group-sm" role="group">
                <!-- Subject: -->
                {% if history_select_match %}
                    <!-- Days go past button -->
                    <a role="button" class="btn btn-outline-info" href="{% url "history_select" %}?go_back=True&branch={{ BRANCH }}{% select_pattern_items %}{% log_levels %}">
                        {% select_icon 'chevron-left' 24 'right' 0.1 %}</a>
                {% endif %}
                <a role="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" id="test_age_select">{{HAV_PLACE}} {{ MIN_TEST_DATE|timezone:"Europe/London"|date:'Y-m-d H:i' }} {% if MAX_TEST_DATE %}- {{ MAX_TEST_DATE|timezone:"Europe/London"|date:'Y-m-d H:i' }}{% endif %}</a>
                {% if history_select_match %}
                    <!-- Days go future button -->
                    <a role="button" class="btn btn-outline-info" href="{% url "history_select" %}?go_ahead=True&branch={{ BRANCH }}{% select_pattern_items %}{% log_levels %}">
                        {% select_icon 'chevron-right' 24 'right' 0.1 %}</a>
                {% endif %}
                <div class="dropdown-menu" aria-labelledby="test_age_select">
                    {% if history_select_match %}
                        <a class="dropdown-item" href="{{ PATTERN_DIGEST_URL }}?branch={{ BRANCH }}{% select_pattern_items %}{% log_levels %}{% if ADDM_NAME %}&addm_name={{ ADDM_NAME }}{% endif %}">{% select_icon 'chevron-right' 24 'right' 0.1 %}Go to latest run</a>
                    {% elif "patterns_digest" or "pattern_logs" in request.path %}
                        <a class="dropdown-item" href="{{ HISTORY_SELECT_URL }}?start_date={{ START_DATE|date:'Y-m-d' }}&end_date={{ END_DATE|date:'Y-m-d' }}&branch={{ BRANCH }}{% if ADDM_NAME %}&addm_name={{ ADDM_NAME }}{% endif %}{% select_pattern_items %}{% log_levels %}">
                            {% select_icon 'history' 24 'right' 0.6 %}Browse history
                        </a>
                    {% else %}
                        <a class="dropdown-item">Url path is unknown.</a>
                    {% endif %}
                </div>
            </div>
            <!-- GO back to ADDM Summary -->
            <a role="button" class="btn btn-outline-info" href="{{ ADDM_DIGEST_URL }}?branch={{ BRANCH }}" title="Latest addm digest">ADDM Summary</a>
            <!-- GO Back to Patterns report-->
            {% if ADDM_NAME %}
            <a role="button" class="btn btn-outline-info" href="{{ PATTERN_DIGEST_URL }}?branch={{ BRANCH }}&addm_name={{ADDM_NAME}}{% select_pattern_items %}{% log_levels %}" title="Latest patterns digest">Patterns "{{ADDM_NAME}}"</a>
            {% endif %}
            {% if PATTERN_FOLDER %}
                <!-- Show pattern folder -->
                <a role="button" title="Pattern folder name" class="btn btn-outline-info disabled">"<b>{{ PATTERN_FOLDER }}</b>"</a>
            {% endif %}
            {% if history_select_match %}{% select_icon 'history' 36 'left' 1 %}{% endif %}
        </div>
        {% if not "general_addm" in request.path %}
            <!-- Change log level DEV BUTTONS -->
            {% log_level_buttons_small BRANCH_SWITCH_URL 1 %}
        {% endif %}
    </div>
</div>