{% load static %}
{% load template_simplify %}
{% block content %}
    <!-- ADDM logs table content: -->
    <div class="addm-digest-table-container">
        <table class="table table-shrink table-bordered table-hover table-responsive-sm">
            <thead class="table-th-txt">
            <!-- ADDM table Head: -->
            {% if not var_branch %}
                <th class="table-info">Branch</th>
            {% endif %}
            <th class="table-info"><i class="fas fa-server"></i></th>
            <th class="text-center table-info"></th>
            <th class="text-center table-info"><i class="fas fa-scroll"></i> </th>
            <th class="text-center table-info"><i class="far fa-check-circle text-success"></i> </th>
            <th class="text-center table-info"><i class="fas fa-vials"></i> </th>
            <th class="text-center table-info"><i class="far fa-check-circle text-success"></i> </th>
            <th class="text-center table-info"><i class="fas fa-bug text-danger"></i> </th>
            <th class="text-center table-info"><i class="fas fa-exclamation-circle text-warning"></i> </th>
            <th class="text-center table-info"><i class="fas fa-step-forward text-info"></i> </th>
            <th class="text-center table-info"></th>
            </thead>
            <tbody>
            <!-- ADDM table rows in cycle: -->
            {% for addm in addm_digest|dictsortreversed:"addm_v_int" %}
                {% if addm.tkn_branch == var_branch or not var_branch %}
                    <tr>
                        {% if not var_branch %}
                            <td class="table-light text-dark">{{ addm.tkn_branch }}</td>
                        {% endif %}
                        <td class="table-light text-dark">
                            {{ addm.addm_name }}
                        </td>
                        <td class="text-center table-light text-dark">
                            {{ addm.addm_v_int }}
                        </td>
                        <td class="text-center table-light text-dark" {% popover 'hover' 'top' None 'Overall tests run' %}>
                            {{ addm.patterns_count }}
                        </td>
                        <td class="text-center table-light" {% popover 'hover' 'top' "See all succeeded" 'Success rate pass + skipped / tests count' %}>
                            <a class="badge badge-light text-success"
                               href="{% url "tests_last" %}?tkn_branch={{ addm.tkn_branch }}&tst_status=pass;addm_name={{ addm.addm_name }}">{% percent_pass_test addm.passed addm.skipped addm.tests_count %}%</a>
                        </td>
                        <td class="text-center table-light usual" {% popover 'hover' 'top' None 'Overall tests functions test001 and so on' %}>
                            {{ addm.tests_count }}
                        </td>
                        <td class="text-center table-light usual" {% popover 'hover' 'top' "See all passed" 'Success rate pass + skipped / tests count' %}>
                            <a class="badge badge-light text-dark"
                               href="{% url "tests_last" %}?tkn_branch={{ addm.tkn_branch }}&tst_status=pass;addm_name={{ addm.addm_name }}">{{ addm.passed }}</a>

                        </td>
                        <td class="text-center table-light" {% popover 'hover' 'top' "See log failed" 'Show all test logs with fail status' %}>
                            <a class="badge badge-light text-danger"
                               href="{% url "test_details" %}?tkn_branch={{ addm.tkn_branch }};tst_status=fail;addm_name={{ addm.addm_name }}#{{ addm.addm_name }}">{{ addm.fails }}</a>

                        </td>
                        <td class="text-center table-light" {% popover 'hover' 'top' "See log errors" 'Show all test logs with error status' %}>
                            <a class="badge badge-light text-warning"
                               href="{% url "test_details" %}?tkn_branch={{ addm.tkn_branch }}&tst_status=error;addm_name={{ addm.addm_name }}#{{ addm.addm_name }}">{{ addm.error }}</a>

                        </td>
                        <td class="text-center table-light" {% popover 'hover' 'top' "See log skipped" 'Show all test logs with skipped status' %}>
                            <a class="badge badge-light text-info"
                               href="{% url "test_details" %}?tkn_branch={{ addm.tkn_branch }}&tst_status=skip;addm_name={{ addm.addm_name }}#{{ addm.addm_name }}">{{ addm.skipped }}</a>

                        </td>
                        <td class="text-center table-light usual" {% popover 'hover' 'top' "See patterns report" 'Summarize test statuses by cases' %}>
                            <a class="badge badge-secondary" title="Table of patterns"
                               href="{% url "tests_last" %}?tkn_branch={{ addm.tkn_branch }};tst_status=notpass#{{ addm.addm_name }}">
                                Report </a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

