{% extends "main/main.html" %}
{% load static %}
{% block page_title %}
{{ SUBJECT }}
{% endblock %}
{% load tz %}
{% load i18n %}
{% load dev_tags %}
{% block content %}
{% load humanize %}
{% load template_simplify %}
{% load intro_selections %}

<!-- TEST table content: -->
<div style="padding-left:1%;padding-right:1%">
    <table class="table table-bordered table-responsive-sm table-hover table-sm">
        <thead class="table-dark">
        <!-- TEST table head: -->
        <th scope="col" class="text-center align-middle">#</th>
        <th scope="col" class="text-center align-middle">Place</th>
        <th scope="col" class="text-center align-middle">Test</th>
        <th scope="col" class="text-center align-middle">Test info</th>
        <th scope="col" class="text-center align-middle" style="width: 50%">Message</th>
        <th scope="col" class="text-center align-middle">Actions</th>
        <th scope="col" class="text-center align-middle">Execution</th>
        <th scope="col" class="text-center align-middle">Addm</th>
        </thead>
        <tbody>
    <!-- TEST table rows in cycle: -->
{#    {% for pattern_row in PATTERNS_CONTENT|dictsortreversed:SORT_BY %}#}
    {% for pattern_row in LATEST_TESTS|dictsortreversed:'test_date_time' %}
{#    {% for pattern_row in LATEST_TESTS %}#}
        <tr title="by user: '{{ pattern_row.change_user }}' is key: {{ pattern_row.is_key_pattern }} ADDM name: '{{ pattern_row.addm_name }}', group: '{{ pattern_row.addm_group }}', host: '{{ pattern_row.addm_host }}'">
            {% assign_color pattern_row.tst_status as color %}
            <td id="row_number" class="table-{{ color }} text-center align-middle" style="font-size: 0.8em;">{{ forloop.counter }}</td>
            <td id="row_library" class="table-{{ color }} text-center align-middle" style="font-size: 0.8em;">/{{ pattern_row.pattern_library }}/<br><b>{{ pattern_row.pattern_folder_name }}</b></td>
            <td id="row_test_func" class="table-{{ color }} text-left align-middle" style="font-size: 0.8em;word-wrap: break-word;">{{ pattern_row.tst_class }}./<br>{{ pattern_row.tst_name }}
            </td>
            <td id="row_info" class="table-{{ color }} text-{{ color }} font-weight-bold text-center align-middle" style="font-size: 0.8em;font-family:monospace;">
                {{ pattern_row.tst_status }}<br>{{ pattern_row.fail_status }}<br>{{ pattern_row.tst_message }}
            </td>
            <td id="row_message" class="table-{{ color }}" style="font-size: 0.8em;font-family:monospace;">{{ pattern_row.fail_message }}</td>

            <td id="row_run_test" class="text-center align-middle table-{{ color }}" title="Run test options:">
            </td>
            <td id="row_test_exec" class="text-center align-middle table-{{ color }} font-weight-normal" style="font-size: 0.7em;">{% spaceless %}
                {% endspaceless %}{{ pattern_row.test_date_time|timezone:"Europe/London"|date:'Y-m-d H:i' }}<br>{{ pattern_row.test_date_time|timezone:"Europe/London"|naturaltime }}<br>{{ pattern_row.time_spent_test|f_sec }}</td>
            <td id="row_addm" class="text-center align-middle table-{{ color }} font-weight-normal" style="font-size: 0.7em;">{{ pattern_row.addm_name }} ({{ pattern_row.addm_v_int }})<br>{{ pattern_row.addm_host }}<br>{{ pattern_row.addm_ip }}<br>{{ pattern_row.addm_group }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <!-- TEST table foot: -->
        <tfoot class="table-dark">
        <tr>
            <th scope="col" id="col_sort_number" class="text-center align-middle">#</th>
            <th scope="col" id="col_library" class="text-center align-middle">Place</th>
            <th scope="col" id="col_test_func" class="text-center align-middle">Test</th>
            <th scope="col" id="col_info" class="text-center align-middle">Test info</th>
            <th scope="col" id="col_message" class="text-center align-middle">Message</th>
            <th scope="col" id="col_run_test" class="text-center align-middle font-weight-bold">Actions</th>
            <th scope="col" id="col_test_exec" class="text-center align-middle">Execution</th>
            <th scope="col" id="col_addm" class="text-center align-middle">Addm</th>
        </tr>
        </tfoot>
    </table>
</div>
{% endblock %}