{% load static %}
{% load tz %}
{% load humanize %}
{% load template_simplify %}
{% load user_groups %}
{% block content %}
    {% spaceless %}
    <!-- ADDM logs table content: -->
    <table id="tests-last-table" class="table table-bordered table-hover table-sm">
        <thead>
        <!-- ADDM table Head: -->
        {% if "tests_last" in request.path and not user.is_anonymous %}
        <th></th>
        {% endif %}
        <th>Branch</th>
        <th>Library</th>
        <th>Folder name</th>
        <th>Addm name</th>
        <th>Addm v</th>
        <th>User</th>
        <th>Tests</th>
        <th>Fail</th>
        <th>Error</th>
        <th>Pass</th>
        <th>Skip</th>
        <th>Tested</th>
        <th></th>
{#        <th></th>#}
        </thead>
        <tbody class="table-shrink">
        <!-- ADDM table rows in cycle: -->
        {% for test in tests_digest|dictsortreversed:'test_date_time' %}
            {% if test.addm_name == var_addm_name or not var_addm_name %}
                <tr>
                    {% if "tests_last" in request.path and not user.is_anonymous %}
                    <td id="test_id_checkbox">
                        <label for="testId-{{ test.id }}"></label>
                        <input class="test-last-rerun-select"
                               type="checkbox" value="{{ test.case_id }}"
                               id="testId-{{ test.id }}"></td>
                    {% endif %}
                    <td id="tkn_branch">{{ test.tkn_branch }}</td>
                    <td id="pattern_library" class="txt-center-nowrap table-shrink"><span>{{ test.pattern_library }}</span></td>
                    <td id="pattern_folder_name" class="txt-center-nowrap"><span>{{ test.pattern_folder_name }}</span></td>
                    <td id="addm_name"><span>{{ test.addm_name }}</span></td>
                    <td id="addm_v_int">{{ test.addm_v_int }}</td>
                    <td id="change_user">{{ test.change_user }}</td>
                    <td id="test_items_prepared" class="{% popover 'hover' 'top' None 'Show all' %}">
                        <a style="color: black"
                           href="{% url "test_details" %}?tkn_branch={{ test.tkn_branch }};pattern_library={{ test.pattern_library }};pattern_folder_name={{ test.pattern_folder_name }}#{{ test.addm_name }}">{{ test.test_items_prepared }}</a>
                    </td>
                    <td id="fails" class="{% popover 'hover' 'top' None 'Show failed/errors' %}">
                        <a style="color: black"
                           href="{% url "test_details" %}?tkn_branch={{ test.tkn_branch }};pattern_library={{ test.pattern_library }};pattern_folder_name={{ test.pattern_folder_name }};tst_status=notpass#{{ test.addm_name }}">{{ test.fails }}</a>
                    </td>
                    <td id="error" class="{% popover 'hover' 'top' None 'Show errors' %}">
                        <a style="color: black"
                           href="{% url "test_details" %}?tkn_branch={{ test.tkn_branch }};pattern_library={{ test.pattern_library }};pattern_folder_name={{ test.pattern_folder_name }};tst_status=error#{{ test.addm_name }}">{{ test.error }}</a>
                    </td>
                    <td id="passed" class="{% popover 'hover' 'top' None 'Show passed' %}">
                        <a style="color: black"
                           href="{% url "test_details" %}?tkn_branch={{ test.tkn_branch }};pattern_library={{ test.pattern_library }};pattern_folder_name={{ test.pattern_folder_name }};tst_status=pass#{{ test.addm_name }}">{{ test.passed }}</a>
                    </td>
                    <td id="skipped" class="{% popover 'hover' 'top' None 'Show skipped' %}">
                        <a style="color: black"
                           href="{% url "test_details" %}?tkn_branch={{ test.tkn_branch }};pattern_library={{ test.pattern_library }};pattern_folder_name={{ test.pattern_folder_name }};tst_status=skip#{{ test.addm_name }}">{{ test.skipped }}</a>
                    </td>
                    <td id="test_date_time" class="txt-center-prewrap {% popover 'hover' 'top' None test.test_date_time|timezone:"Europe/London" %}">{{ test.test_date_time|timezone:"Europe/London"|naturaltime }}</td>
                    <td id="action" class="actions_button">
                        {% if not user.is_anonymous %}
                        <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal"
                                data-target="#actionsModal"
                                data-tst_status="{{ selector.tst_status }}"
                                data-addm_name="{{ selector.addm_name }}"
                                data-case_id="{{ test.case_id }}">Actions</button></td>
                        {% endif %}
                    {% comment %}# TODO: DO not draw tooltip using Gjango - move this work to JS {% endcomment %}
                    {% comment %}<td id="tooltip"><a class="btn btn-sm" {% tooltip_tku_test 'hover' 'right' test %}><i class="far fa-eye"></i></a></td>{% endcomment %}
                    <td id="change" style="display:none">{{ test.change }}</td>
                    <td id="change_review" style="display:none">{{ test.change_review }}</td>
                    <td id="change_ticket" style="display:none">{{ test.change_ticket }}</td>
                    <td id="test_type" style="display:none">{{ test.test_type }}</td>
                    <td id="change_time" style="display:none">{{ test.change_time }}</td>
                    <td id="change_desc" style="display:none">{{ test.change_desc|linebreaks }}</td>
                    <td id="test_case_depot_path" style="display:none">{{ test.test_case_depot_path }}</td>
                    <td id="test_py_path" style="display:none">{{ test.test_py_path }}</td>
                    <td id="time_spent_test" style="display:none">{{ test.time_spent_test }}</td>
                    <td id="test_time_weight" style="display:none">{{ test.test_time_weight }}</td>
                    <td id="test_id" style="display:none">{{ test.test_id }}</td>
                    <td id="case_id" style="display:none">{{ test.case_id }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    <tfoot>
        {% if "tests_last" in request.path and not user.is_anonymous %}
        <th></th>
        {% endif %}
        <th>Branch</th>
        <th>Library</th>
        <th>Folder name</th>
        <th>Addm name</th>
        <th>Addm v</th>
        <th>User</th>
        <th>Tests</th>
        <th>Fail</th>
        <th>Error</th>
        <th>Pass</th>
        <th>Skip</th>
        <th>Tested</th>
        <th></th>
    </tfoot>
    </table>
    {% endspaceless %}
{% endblock %}


