{% extends "main/main.html" %}
{% block page_title %}
    {% if not SUBJECT %}
        Last tests
    {% else %}
        {{ SUBJECT }}
    {% endif %}
{% endblock %}
{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}
{% load template_simplify %}
{% load intro_selections %}
{% load user_groups %}
{% load cache %}
{% block content %}
    {% if 'tests_last' in request.path %}
        {% url 'tests_last' as tests_digest_url %}
    {% elif 'test_history_digest_today' in request.path %}
        {% url 'test_history_digest_today' as tests_digest_url %}
    {% elif 'test_history_digest_day' in request.path %}
        {% url 'test_history_digest_day' year=next_day|date:'Y' month=next_day|date:'b' day=next_day|date:'d' as tests_digest_url %}
    {% else %}
        {% url 'tests_last' as tests_digest_url %}
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/tests_reports.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/elements/test-actions-modal-toast.css' %}"/>
    {% dynamical_selector_compose '' 'selector_str' %}
    {% dynamical_selector_compose 'tkn_branch' 'selector_tkn_branch' %}
    {% dynamical_selector_compose 'tst_status' 'selector_tst_status' %}
    {% dynamical_selector_compose 'addm_name' 'selector_addm_name' %}
    {% dynamical_selector_compose 'pattern_library' 'selector_pattern_library' %}
    {% dynamical_selector_compose 'change_user' 'selector_change_user' %}
    <!-- Toast draw here -->
    <div id="toastStack" aria-live="assertive" aria-atomic="true" style="position: absolute;z-index: 1">
        <!-- Position it -->
        {% comment %}<div id="toastStack" style="position: absolute; top: 0; left: 0;">
            <div id="toastStack" style="position: absolute;z-index: 2"></div>
        </div>{% endcomment %}
    </div>
    <!-- Workbench navbar -->
    <nav class="navbar navbar-light test-report-navbar">
    {% spaceless %}
        <!-- Navbar content -->
        <!-- Navbar left part content -->
        <div class="nav-reports-left">
            <!-- Digest levels breadcrumbs: -->
            <div class="digest-breadcrumbs">
                <nav class="nav nav-pills">
                    <div class="btn-group btn-group-sm" role="group">
                        {# URL back to ADDM should contain tkn_branch, - to know what page to open previuosly #}
                        <a class="btn btn-sm btn-info" href="{% url 'addm_digest' %}?{{ selector_str }}"><i class="fas fa-step-backward"></i> ADDM Digest</a>
                        <a class="btn btn-sm btn-info active" href="#" title="You are here..."><i class="fas fa-play"></i> Patterns Digest</a>
                        <a class="btn btn-sm btn-info disabled" href="#"><i class="fas fa-step-forward"></i> Single Test Digest</a>
                        <a class="btn btn-sm btn-info disabled" href="#"><i class="fas fa-step-forward"></i> Single Test unit Digest</a>
                    </div>
                </nav>
            </div>
            <!-- Day browsing -->
            <div class="btn-group btn-group-sm" role="group">
                {% if previous_day %}
                    <a class="btn btn-sm btn-light"
                       href="{% url 'test_history_digest_day' year=previous_day|date:'Y' month=previous_day|date:'b' day=previous_day|date:'d' %}?{{ selector_str }}">
                        <i class="fas fa-backward"></i> {{ previous_day|date:"F j, Y" }}
                    </a>
                {% endif %}
                {% if day %}
                <a class="btn btn-sm btn-light disabled"
                   href="{% url 'test_history_digest_day' year=day|date:'Y' month=day|date:'b' day=day|date:'d' %}?{{ selector_str }}">
                    <i class="fas fa-play"></i> {{ day }}
                </a>
                {% endif %}
                {% if next_day %}
                    <a class="btn btn-sm btn-light"
                       href="{% url 'test_history_digest_day' year=next_day|date:'Y' month=next_day|date:'b' day=next_day|date:'d' %}?{{ selector_str }}">
                        <i class="fas fa-forward"></i> {{ next_day }}
                    </a>
                {% endif %}
            </div>
            <!-- Change branch here: -->
            <div class="digest-branch">
                <nav class="nav-item dropdown">
                    <a class="btn btn-sm btn-info dropdown-toggle" href="#" id="navbarDropdownTknBranch"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if selector.tkn_branch == 'tkn_main' %}
                            {% select_icon 'git-branch' 16 'right' 0.4 %} tkn main
                        {% elif selector.tkn_branch == 'tkn_ship' %}
                            {% select_icon 'git-merge' 16 'right' 0.4 %} tkn ship
                        {% else %}
                            {% select_icon 'git-commit' 16 'right' 0.4 %} both branches
                        {% endif %}
                    </a>
                    <!-- Choose branch -->
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownTknBranch">
                        <a class="dropdown-item dropdown-branch" href="{{tests_digest_url}}?tkn_branch=tkn_main;{{ selector_tkn_branch }}">{% select_icon 'git-branch' 20 'right' 0.4 %}TKN MAIN</a>
                        <a class="dropdown-item dropdown-branch" href="{{tests_digest_url}}?tkn_branch=tkn_ship;{{ selector_tkn_branch }}">{% select_icon 'git-merge' 20 'right' 0.4 %}TKN SHIP</a>
                        <a class="dropdown-item dropdown-branch" href="{{tests_digest_url}}?{{ selector_tkn_branch }}">{% select_icon 'git-commit' 20 'right' 0.4 %}BOTH</a>
                    </div>
                </nav>
            </div>
            <!-- Change LIBRARY here: -->
            <div class="digest-pattern_library">
                <nav class="nav-item dropdown">
                    <a class="btn btn-sm btn-outline-info dropdown-toggle" href="#" id="navbarDropdownPatternLibrary" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if selector.pattern_library %}{{ selector.pattern_library }}
                        {% else %}All
                        {% endif %}
                    </a>
                    <!-- Choose log level -->
                    <div class="dropdown-menu dropdown-menu-right dropdown-pattern_library" aria-labelledby="navbarDropdownPatternLibrary">
                        <a class="nav-link text-dark nav-pattern_library" href="{{tests_digest_url}}?{{ selector_pattern_library }}"><i class="fas fa-undo"></i> Show all</a>
                        {% for lib_item in pattern_library_qs %}
                            <a class="nav-link text-dark nav-pattern_library {% is_active 'pattern_library' lib_item.pattern_library 'badge-light' 'badge-secondary' %}"
                               href="{{tests_digest_url}}?pattern_library={{ lib_item.pattern_library }};{{ selector_pattern_library }}">
                                {% if lib_item.pattern_library == 'BLADE_ENCLOSURE' %}<i class="fas fa-tape"></i>
                                {% elif lib_item.pattern_library == 'CLOUD' %}<i class="fas fa-cloud"></i>
                                {% elif lib_item.pattern_library == 'CORE' %}<i class="fas fa-cube"></i>
                                {% elif lib_item.pattern_library == 'LOAD_BALANCER' %}<i class="fas fa-balance-scale"></i>
                                {% elif lib_item.pattern_library == 'MANAGEMENT_CONTROLLERS' %}<i class="fas fa-truck-loading"></i>
                                {% elif lib_item.pattern_library == 'NETWORK' %}<i class="fas fa-network-wired"></i>
                                {% elif lib_item.pattern_library == 'STORAGE' %}<i class="fas fa-hdd"></i>
                                {% elif lib_item.pattern_library == 'SYSTEM' %}<i class="fab fa-centos"></i>
                                {% else %}<i class="fas fa-file"></i>
                                {% endif %}{{ lib_item.pattern_library }} ({{ lib_item.total }})
                            </a>
                        {% endfor %}
                    </div>
                </nav>
            </div>
            <!-- Change USER here: -->
            <div class="digest-change_user">
                <nav class="nav-item dropdown">
                    <a class="btn btn-sm btn-outline-info dropdown-toggle" href="#" id="navbarDropdownChangeUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if selector.change_user %}{{ selector.change_user }}
                        {% else %}All
                        {% endif %}
                    </a>
                    <!-- Choose log level -->
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownChangeUser">
                        <a class="nav-link text-dark nav-change_user" href="{{tests_digest_url}}?{{ selector_change_user }}"><i class="fas fa-undo"></i> Show all</a>
                        {% for change_user in change_user_qs %}
                            <a class="nav-link text-dark nav-change_user {% is_active 'change_user' change_user.change_user 'badge-light' 'badge-secondary' %}"
                               href="{{tests_digest_url}}?change_user={{ change_user.change_user }};{{ selector_change_user }}">{{ change_user.change_user }} ({{ change_user.total }})</a>
                        {% endfor %}
                    </div>
                </nav>
            </div>
            <div class="selection-state">
                {% if selector.addm_name %}
                    <a class="btn btn-sm btn-outline-light disabled"><i class="fas fa-compress-arrows-alt"></i> Static: {{ selector.addm_name }}</a>
                {% else %}
                    <a class="btn btn-sm btn-outline-light disabled"><i class="fas fa-expand-arrows-alt"></i> Dynamical: All addms</a>
                {% endif %}
            </div>
        </div>
        <!-- Navbar right part content -->
        <div class="nav-reports-right digest-test-log-levels">
            <div class="btn-group dropleft reexecute-failed-tests">
                {% if not user.is_anonymous %}
                <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal"
                        data-run_selected="true"
                        data-target="#actionsModal" >Actions</button>
                {% endif %}
            </div>
            <!-- Change test log level browse: -->
            <nav class="nav-item dropdown">
                <a class="btn btn-sm btn-outline-info dropdown-toggle" href="#" id="navbarDropdownLogLvl" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if selector.tst_status == 'notpass' %}
                        <i class="fas fa-bug text-danger"></i>
                        <span class="text-danger"> Not pass</span>
                    {% elif selector.tst_status == 'fail' %}
                        <i class="fas fa-bug text-danger"></i>
                        <span class="text-danger"> Fail</span>
                    {% elif selector.tst_status == 'error' %}
                        <i class="fas fa-exclamation-circle text-warning"></i>
                        <span class="text-warning"> Error</span>
                    {% elif selector.tst_status == 'skip' %}
                        <i class="fas fa-step-forward text-info"></i>
                        <span class="text-info"> Skip</span>
                    {% elif selector.tst_status == 'pass' %}
                        <i class="far fa-check-circle"></i>
                        <span class="text-success"> Pass</span>
                    {% else %}
                        <i class="fas fa-vials"></i>
                        <span class="text-dark"> All</span>
                    {% endif %}
                </a>
                <!-- Choose log level -->
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownLogLvl">
                    <a class="nav-link nav-log_lvl text-danger" href="{{tests_digest_url}}?tst_status=notpass;{{selector_tst_status}}"><i class="fas fa-bug"></i> Not Pass</a>
                    <a class="nav-link nav-log_lvl text-danger" href="{{tests_digest_url}}?tst_status=fail;{{selector_tst_status}}"><i class="fas fa-bug"></i> Fail</a>
                    <a class="nav-link nav-log_lvl text-warning" href="{{tests_digest_url}}?tst_status=error;{{selector_tst_status}}"><i class="fas fa-exclamation-circle"></i> Error</a>
                    <a class="nav-link nav-log_lvl text-info" href="{{tests_digest_url}}?tst_status=skip;{{selector_tst_status}}"><i class="fas fa-step-forward"></i> Skip</a>
                    <a class="nav-link nav-log_lvl text-success" href="{{tests_digest_url}}?tst_status=pass;{{selector_tst_status}}"><i class="far fa-check-circle"></i> Passed</a>
                    <a class="nav-link nav-log_lvl active" href="{{tests_digest_url}}?{{ selector_tst_status }}"><i class="fas fa-vials"></i> All</a>
                </div>
            </nav>
        </div>
    {% endspaceless %}
    </nav>
    {% comment %}Test reports{% endcomment %}
    <div class="report-content">
        <!-- Choose addm -->
        {% if selector.addm_name %}
            <!-- STATICAL view tabs. When addm_name is added to request parameters - draw table for each tab only when requested. Draw tab as hyperlinks as many as unique addm_names -->
            <nav>
                <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
                {% for addm_actual in addm_names %}
                    <a class="nav-item nav-link badge-light {% if selector.addm_name == addm_actual.addm_name %}active{% endif %}" id="{{addm_actual.addm_name}}-tab" href="{{tests_digest_url}}?addm_name={{addm_actual.addm_name}};{{ selector_addm_name }}">{{addm_actual.addm_name}}</a>
                {% endfor %}
                </div>
            </nav>
            {% include 'digests/tables_details/tests_last_table.html' with var_addm_name=addm_name %}
        {% else %}
            {% cache 60 * 5 tests_digest_cache tests_digest %}
            <!-- DYNAMICAl view tabs. When addm_name is NOT added to request parameters - draw tables for all actual addm_names. -->
            <nav>
                <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
                    <!-- Draw each tab based on count of unique addm_names  -->
                    {% for addm_actual in addm_names %}
                        <a class="nav-item nav-link badge-light {% if selector.addm_name == addm_actual.addm_name %}active{% elif forloop.counter == 1 %}active{% else %}{% endif %}"
                           title="{{ addm_actual.addm_name }}"
                           id="{{addm_actual.addm_name}}-tab" data-toggle="tab"
                           href="#{{ addm_actual.addm_name }}" role="tab"
                           aria-controls="{{ addm_actual.addm_name }}"
                           aria-selected="{% if selector.addm_name == addm_actual.addm_name %}true{% elif forloop.counter == 1 %}true{% else %}false{% endif %}">{{ addm_actual.addm_name }}
                        </a>
                    {% endfor %}
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <!-- Draw each tab content based on count of unique addm_names  -->
                {% for addm_actual in addm_names %}
                    <div class="tab-pane {% if selector.addm_name == addm_actual.addm_name %}fade show active{% elif forloop.counter == 1 %}fade show active{% endif %}"
                         title="{{ addm_actual.addm_name }}"
                         id="{{ addm_actual.addm_name }}"
                         role="tabpanel"
                         aria-labelledby="{{ addm_actual.addm_name }}">
                        {% include 'digests/tables_details/tests_last_table.html' with var_addm_name=addm_actual.addm_name %}
                    </div>
                {% endfor %}
            </div>
            {% endcache %}
        {% endif %}
    </div>
    <!-- Navbar bottom fixed -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
        <a class="navbar-brand" href="#"><i class="fab fa-github"></i></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'addm_digest' %}">ADDM Digest</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{tests_digest_url}}?{{ selector_str }}">Tests Digest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">{% if not "None" in selector.tst_status %}{{ selector.tst_status }}{% else %}All{% endif %}</a>
            </li>
            <li class="nav-item">
                {% if selector.addm_name %}
                    <a class="nav-link disabled"><i class="fas fa-compress-arrows-alt"></i> Query static for {{ selector.addm_name }}</a>
                {% else %}
                    <a class="nav-link disabled"><i class="fas fa-expand-arrows-alt"></i> Query dynamical for all addms</a>
                {% endif %}
            </li>
        </ul>
        <span class="navbar-text">Octopus automation</span>
    </nav>
    {% comment %}
        Make ADDM tabs dynamical
    {% endcomment %}
    {% if not selector.addm_name %}<script src="{% static 'octopus/js/tabs-addm-dynamical.js' %}"></script>{% endif %}
    {% comment %}
        Draw test table rows with colored statuses:
    {% endcomment %}
    <script src="{% static 'octopus/js/test_table_row_color.js' %}"></script>
    {% comment %}
    Actions:
        - Load toast popup
        - Load modal with actions
        - Import methods for test_latest page: Modal and Toast
        - Import general operations module for Modal, Toast, Parsing, REST and other operations.
        - Convert test/cases QuerySet to simple JSON with template tag and serealize.
    {% endcomment %}
    {% comment %}
    Actions:
        - Load toast popup
        - Load modal with actions
        - Import methods for test_latest page: Modal and Toast
        - Import general operations module for Modal, Toast, Parsing, REST and other operations.
        - Convert test/cases QuerySet to simple JSON with template tag and serealize.
    {% endcomment %}
    {% include 'digests/includes/toast_popup.html' %}
    {% include 'digests/includes/test_actions_modal_dynamic.html' %}
    <script src="{% static 'octopus/js/user-test-run/test_last-modals-toasts.js' %}"></script>
    <script src="{% static 'octopus/js/user-test-run/action-operations.js' %}"></script>
    <!-- Load test JSON -->
    <script type="text/javascript">
        let tests_digest_json = {{ tests_digest_json|safe }};
        {% comment %}{% if "test_history_digest_today" in request.path %}
            let tests_digest_json = {{ tests_digest|tku_patterns_json:'TestHistoryDigestDaily'|safe }};
        {% else %}
            let tests_digest_json = {{ tests_digest|tku_patterns_json:'TestLatestDigestAll'|safe }};
        {% endif %}{% endcomment %}
    </script>
    {% comment %}
        DEBUG PART
    {% endcomment %}
    <div class="debug-context">
        {% if request.GET.debug %}
            <p>DEBUG enabled</p>
            <p>actual addm_names: {{ addm_names }}</p>
            <p>Selector: {{ selector }}</p>
            <ul>
                {% for sel_k, sel_v in selector.items %}
                    {% if sel_v %}
                        <li class="text-success">{{ sel_k }} = "{{ sel_v }}"</li>
                    {% else %}
                        <li class="text-warning">{{ sel_k }} = "{{ sel_v }}"</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}