{% extends "main/main_short.html" %}
{% block page_title %}
    {% if not SUBJECT %}
        Last tests short
    {% else %}
        {{ SUBJECT }}
    {% endif %}
{% endblock %}
{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}
{% load template_simplify %}
{% load intro_selections %}
{% load user_groups %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/tests_reports.css' %}"/>
    {% dynamical_selector_compose '' 'selector_str' %}
    {% dynamical_selector_compose 'tkn_branch' 'selector_tkn_branch' %}
    {% dynamical_selector_compose 'tst_status' 'selector_tst_status' %}
    {% dynamical_selector_compose 'addm_name' 'selector_addm_name' %}
<!-- Workbench navbar -->
    <nav class="navbar navbar-light test-report-navbar">
    {% spaceless %}
        <!-- Navbar content -->
        <!-- Navbar left part content -->
        <div class="nav-reports-left">
            <!-- Change branch here: -->
            <div class="digest-branch">
                <nav class="nav-item dropdown">
                    <a class="btn btn-sm btn-info dropdown-toggle" href="#" id="navbarDropdownTknBranch"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if selector.tkn_branch == 'tkn_main' %}
                            {% select_icon 'git-branch' 16 'right' 0.4 %} tkn main
                        {% elif selector.tkn_branch == 'tkn_ship' %}
                            {% select_icon 'git-merge' 16 'right' 0.4 %} tkn ship
                        {% elif selector.tkn_branch == 'gargoyle' %}
                            {% select_icon 'repo-forked' 16 'right' 0.4 %} gargoyle
                        {% else %}
                            {% select_icon 'git-commit' 16 'right' 0.4 %} all branches
                        {% endif %}
                    </a>
                    {% comment %}<!-- Choose branch -->
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownTknBranch">
                        <a class="dropdown-item dropdown-branch" href="{{tests_digest_url}}?tkn_branch=tkn_main;{{ selector_tkn_branch }}">{% select_icon 'git-branch' 20 'right' 0.4 %}TKN MAIN</a>
                        <a class="dropdown-item dropdown-branch" href="{{tests_digest_url}}?tkn_branch=tkn_ship;{{ selector_tkn_branch }}">{% select_icon 'git-merge' 20 'right' 0.4 %}TKN SHIP</a>
                        <a class="dropdown-item dropdown-branch" href="{{tests_digest_url}}?{{ selector_tkn_branch }}">{% select_icon 'git-commit' 20 'right' 0.4 %}BOTH</a>
                    </div>{% endcomment %}
                    <!-- Choose branch -->
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownTknBranch">
                        {% for branch in branch_qs %}
                            <a class="dropdown-item dropdown-branch" href="{{tests_digest_url}}?tkn_branch={{ branch.tkn_branch }};{{ selector_tkn_branch }}">
                                {% if branch.tkn_branch == 'tkn_main' %}{% select_icon 'git-branch' 20 'right' 0.4 %}
                                {% elif branch.tkn_branch == 'tkn_ship' %}{% select_icon 'git-merge' 20 'right' 0.4 %}
                                {% else %}{% select_icon 'repo-forked' 20 'right' 0.4 %}{% endif %}
                                {{ branch.tkn_branch}}</a>
                        {% endfor %}
                        <a class="dropdown-item dropdown-branch" href="{{tests_digest_url}}?{{ selector_tkn_branch }}">{% select_icon 'git-commit' 20 'right' 0.4 %}ALL</a>
                    </div>
                </nav>
            </div>
            <div class="selection-state">
                {% if selector.addm_name %}
                    <a class="btn btn-sm btn-outline-light disabled"><i class="fas fa-compress-arrows-alt"></i> Static: {{ selector.addm_name }}</a>
                {% else %}
                    <a class="btn btn-sm btn-outline-light disabled"><i class="fas fa-expand-arrows-alt"></i> Dynamical: All addms</a>
                {% endif %}
            </div>
        </div>
        <!-- Navbar right part content -->
        <div class="nav-reports-right digest-test-log-levels">
            <!-- Change test log level browse: -->
            <nav class="nav-item dropdown">
                <a class="btn btn-sm btn-outline-info dropdown-toggle" href="#" id="navbarDropdownLogLvl" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if selector.tst_status == 'notpass' %}
                        <i class="fas fa-bug text-danger"></i>
                        <span class="text-danger"> Not pass</span>
                    {% elif selector.tst_status == 'fail' %}
                        <i class="fas fa-bug text-danger"></i>
                        <span class="text-danger"> Fail</span>
                    {% elif selector.tst_status == 'error' %}
                        <i class="fas fa-exclamation-circle text-warning"></i>
                        <span class="text-warning"> Error</span>
                    {% elif selector.tst_status == 'skip' %}
                        <i class="fas fa-step-forward text-info"></i>
                        <span class="text-info"> Skip</span>
                    {% elif selector.tst_status == 'pass' %}
                        <i class="far fa-check-circle"></i>
                        <span class="text-success"> Pass</span>
                    {% else %}
                        <i class="fas fa-vials"></i>
                        <span class="text-dark"> All</span>
                    {% endif %}
                </a>
                <!-- Choose log level -->
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownLogLvl">
                    <a class="nav-link text-danger" href="{% url 'tests_last' %}?tst_status=notpass;{{selector_tst_status}}"><i class="fas fa-bug"></i> Not Pass</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link text-danger" href="{% url 'tests_last' %}?tst_status=fail;{{selector_tst_status}}"><i class="fas fa-bug"></i> Fail</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link text-warning" href="{% url 'tests_last' %}?tst_status=error;{{selector_tst_status}}"><i class="fas fa-exclamation-circle"></i> Error</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link text-info" href="{% url 'tests_last' %}?tst_status=skip;{{selector_tst_status}}"><i class="fas fa-step-forward"></i> Skip</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link text-success" href="{% url 'tests_last' %}?tst_status=pass;{{selector_tst_status}}"><i class="far fa-check-circle"></i> Passed</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link active" href="{% url 'tests_last' %}?{{ selector_tst_status }}"><i class="fas fa-vials"></i> All</a>
                </div>
            </nav>
        </div>
    {% endspaceless %}
    </nav>
    {% comment %}Test reports{% endcomment %}
    <div class="report-content">
        <!-- Choose addm -->
        {% if selector.addm_name %}
            <!-- STATICAL view tabs. When addm_name is added to request parameters - draw table for each tab only when requested. Draw tab as hyperlinks as many as unique addm_names -->
            <nav>
                <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
                {% for addm_actual in addm_names %}
                    <a class="nav-item nav-link badge-light {% if selector.addm_name == addm_actual.addm_name %}active{% endif %}" id="{{addm_actual.addm_name}}-tab" href="{% url 'tests_last' %}?addm_name={{addm_actual.addm_name}};{{ selector_addm_name }}">{{addm_actual.addm_name}}</a>
                {% endfor %}
                </div>
            </nav>
            {% include 'digests/tables_details/tests_last_table.html' with var_addm_name=addm_name %}
        {% else %}
            <!-- DYNAMICAl view tabs. When addm_name is NOT added to request parameters - draw tables for all actual addm_names. -->
            <nav>
                <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
                    <!-- Draw each tab based on count of unique addm_names  -->
                    {% for addm_actual in addm_names %}
                        <a class="nav-item nav-link badge-light {% if selector.addm_name == addm_actual.addm_name %}active{% elif forloop.counter == 1 %}active{% else %}{% endif %}"
                           title="{{ addm_actual.addm_name }}"
                           id="{{addm_actual.addm_name}}-tab" data-toggle="tab"
                           href="#{{ addm_actual.addm_name }}" role="tab"
                           aria-controls="{{ addm_actual.addm_name }}"
                           aria-selected="{% if selector.addm_name == addm_actual.addm_name %}true{% elif forloop.counter == 1 %}true{% else %}false{% endif %}">{{ addm_actual.addm_name }}
                        </a>
                    {% endfor %}
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <!-- Draw each tab content based on count of unique addm_names  -->
                {% for addm_actual in addm_names %}
                    <div class="tab-pane {% if selector.addm_name == addm_actual.addm_name %}fade show active{% elif forloop.counter == 1 %}fade show active{% endif %}"
                         title="{{ addm_actual.addm_name }}"
                         id="{{ addm_actual.addm_name }}"
                         role="tabpanel"
                         aria-labelledby="{{ addm_actual.addm_name }}">
                        {% include 'digests/tables_details/tests_last_table.html' with var_addm_name=addm_actual.addm_name %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% comment %}
        Make ADDM tabs dynamical
    {% endcomment %}
    {% if not selector.addm_name %}<script src="{% static 'octopus/js/tabs-addm-dynamical.js' %}"></script>{% endif %}
    {% comment %}
        Draw test table rows with colored statuses:
    {% endcomment %}
    <script src="{% static 'octopus/js/test_table_row_color.js' %}"></script>
    <!-- Load test JSON -->
    <script type="text/javascript">
        let tests_digest_json = {{ tests_digest|tku_patterns_json:'TestLatestDigestAll'|safe }};
    </script>
{% endblock %}