{% extends "main/main_short.html" %}
{% block page_title %}
    {% if not SUBJECT %}
        Last tests short
    {% else %}
        {{ SUBJECT }}
    {% endif %}
{% endblock %}
{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}
{% load template_simplify %}
{% load intro_selections %}
{% load user_groups %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/tests_reports.css' %}"/>
    <!-- Workbench navbar -->
    <nav class="navbar navbar-light test-report-navbar">
        {% spaceless %}
            <!-- Navbar content -->
            <!-- Navbar left part content -->
            <!-- Navbar right part content -->
            <div class="nav-reports-right digest-test-log-levels">
                <div>Octopus - made for humans by Discovery Content team.</div>
            </div>
        {% endspaceless %}
    </nav>
    {% comment %}Test reports{% endcomment %}
    <div class="report-content">
        <div class="card-columns">
            {% for lib in tests_digest %}
                <div class="card {% if lib.fails > 0 or lib.error > 0 %}border-danger{% else %}border-success{% endif %}">
                    <div class="card-header">{{ lib.pattern_library }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ lib.tkn_branch }}</h5>
                        <table>
                            <thead>
                            <tr>
                                <th>Patterns</th>
                                <th>Tests</th>
                                <th>Fail</th>
                                <th>Error</th>
                                <th>Skip</th>
                                <th>Pass</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ lib.patterns_count }}</td>
                                <td>{{ lib.tests_count }}</td>
                                <td>{{ lib.fails }}</td>
                                <td>{{ lib.error }}</td>
                                <td>{{ lib.skipped }}</td>
                                <td>{{ lib.passed }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-muted">{{ lib.test_date_time|timezone:"Europe/London"|naturaltime }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}