<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    {% load tz %}
    {% load i18n static %}
    {% load template_simplify %}
    {% load humanize %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>{{ subject }}</title>
</head>
{% block content %}
    <body>
    {{ subject }}
    <br>
    <br>
    <table id="table-subject">
        <tr>
            <td style="background-color: red;">Not passed test digest: {{ user }}</td>
        </tr>
    </table>
    <br>
    <table>
        {% include 'digests/tables_details/tests_last_table_email.html' %}
    </table>
    </body>
{% endblock %}
</html>
