{% load i18n %}
{% load static %}
{% load template_simplify %}
<div class="card" style="margin-right: 0.5em;margin-left: 0.5em">
    <div class="card-header text-muted"><h6>Tasks processing</h6></div>
    <div class="card-body">
        <div style="padding-left: 10%;padding-right: 10%;" role="toolbar">
            <div class="card-text text-muted text-sm-center">All jobs on all workers:</div>
            <a role="button" class="btn btn-sm btn-outline-warning btn-block" href="{% url "workers_status" %}">Tasks work status details{% select_icon 'dashboard' 24 'left' 1 %}</a>

            <div class="card-text text-muted text-sm-center" style="padding-top: 1em;">Job balancer preview:</div>
            <a role="button" class="btn btn-sm btn-outline-warning btn-block" href="{% url 'workers_raw' %}">Get raw data{% select_icon 'dashboard' 24 'left' 1 %}</a>
            <a role="button" class="btn btn-sm btn-outline-secondary btn-block" href="{% url 'workers_active_reserved' %}">Get empty workers and tasks status{% select_icon 'dashboard' 24 'left' 1 %}</a>
            <a role="button" class="btn btn-sm btn-outline-success btn-block" href="{% url 'workers_active_reserved_short' %}">Get only min worker{% select_icon 'dashboard' 24 'left' 1 %}</a>

            <div class="card-text text-muted text-sm-center" style="padding-top: 1em;">Job planning and outputs:</div>
            <a role="button" class="btn btn-sm btn-outline-dark btn-block" href="{% url "celery_tasks_result" %}">{% trans 'DJCelery Tasks result' %}{% select_icon 'dashboard' 24 'left' 1 %}</a>
            <a role="button" class="btn btn-outline-dark btn-block" href="{% url "celery_beat_crontabschedules" %}">Tasks cron schedule{% select_icon 'calendar' 24 'left' 1 %}</a>
        </div>
    </div>
</div>