<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Load scripts: -->
    {% load i18n static %}
    {% load template_simplify %}
    {% load_host_names as hostnames %}
    {% if hostnames.LOBSTER_SITE_DOMAIN in request.get_host %}
        <link rel="icon" type="image/png" href="{% static 'octopus/icons/lobster.png' %}"/>
    {% elif hostnames.OCTOPUS_SITE_DOMAIN in request.get_host %}
        <link rel="icon" type="image/png" href="{% static 'octopus/icons/octopus.png' %}"/>
    {% else %}
        <link rel="icon" type="image/png" href="{% static 'octopus/icons/crab.png' %}"/>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/main-site.css' %}"/>
{#    <link rel="stylesheet" type="text/css" href="{% static '_old_octicons/_old_octicons.css' %}"/>#}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.5.0/build.css" rel="stylesheet">
{#    <link rel="stylesheet" type="text/css" href="{% static '_dol_fontawesome/css/all.css' %}"/>#}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/34b7ee38d6.js" crossorigin="anonymous"></script>
    <script src="{% static 'octopus/js/ajax_setup.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Assistant:600|BenchNine:700|Inconsolata|Jaldi|Maven+Pro:500&display=swap"
          rel="stylesheet">
    <meta charset="UTF-8">
    <title id="page_title">
        {% block page_title %}Main page short{% endblock %}
    </title>
</head>
<body>
{% load dev_tags %}
{% load user_groups %}
{% load template_simplify %}
{% load intro_selections %}
<div id="content" style="margin: 25px 5px 25px 5px">
    {% block content %}{% endblock %}
</div>
<!-- Load JS  manual -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
{#<script defer src="{% static '_dol_fontawesome/js/all.js' %}"></script>#}
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/fontawesome.js"></script>
<script src="{% static 'octopus/js/tooltip-active.js' %}"></script>
<script type="text/javascript">
</script>
</body>
</html>