{% extends "main/main.html" %}
{#{% load cache %}#}
{% load template_simplify %}
{% block page_title %}
    {% load_host_names as hostnames %}
    {% if hostnames.LOBSTER_SITE_DOMAIN in request.get_host %}Lobster home
    {% elif hostnames.OCTOPUS_SITE_DOMAIN in request.get_host %}Octopus home
    {% else %}Local..
    {% endif %}
{% endblock %}
{% block content %}
    {% load static %}
    {% load humanize %}
    {% load tz %}
    {% load intro_selections %}
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/workbench-mainpage.css' %}"/>
    <div class="main-page-content">
        <!-- GRID -->
        <div class="grid-col-3">
            <div class="alert alert-light" role="alert">
                <h2>Pattern tests</h2>
            </div>
        </div>
{#        {% cache 60 tests_top_main objects.addm_digest %}#}
        {% with objects.addm_digest as addm_digest %}
            <div class="grid-col-1">
                <div class="card bg-light border-light">
                    <div class="card-header card-footer-shrink txt-nice">
                        "TKN Main" pattern test digest
                    </div>
                    <div class="card-body card-body-sm">
                        {% include 'digests/tables_details/addm_digest_table.html' with var_branch='tkn_main' %}
                    </div>
                </div>
            </div>
            <div class="grid-col-2">
                <div class="card bg-light border-light">
                    <div class="card-header card-footer-shrink txt-nice">
                        "TKN Ship" pattern test digest
                    </div>
                    <div class="card-body card-body-sm">
                        {% include 'digests/tables_details/addm_digest_table.html' with var_branch='tkn_ship' %}
                    </div>
                </div>
            </div>
        {% endwith %}
{#        {% endcache %}#}
{#        {% cache 60 * 30 tests_top_main objects.tests_top_main %}#}
        <div class="grid-col-1">
            <div class="card bg-light border-light">
                <div class="card-body card-body-sm">
                    <table class="table table-shrink table-hover table-sm">
                        <tbody>
                        <!-- Patterns table rows in cycle: -->
                        {% regroup objects.tests_top_main by pattern_folder_name as long_patt_tests %}
                        {% for long_group in long_patt_tests|slice:'6' %}
                            <tr>
                                <td class="text-left table-light text-dark">{{ long_group.list.0.pattern_library }}/{{ long_group.list.0.pattern_folder_name }}</td>
                                <td class="text-center table-light text-dark">{{ long_group.list.0.time_spent_test | f_sec }}</td>
                                <td class="text-center table-light text-dark">{{ long_group.list.0.addm_name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer card-header-shrink txt-nice">"TKN Main" longest tests</div>
            </div>
        </div>
{#        {% endcache %}#}
{#        {% cache 60 * 30 tests_top_ship objects.tests_top_ship %}#}
        <div class="grid-col-2">
            <div class="card bg-light border-light">
                <div class="card-body card-body-sm">
                    <table class="table table-shrink table-hover table-sm">
                        <tbody>
                        <!-- Patterns table rows in cycle: -->
                        {% regroup objects.tests_top_ship by pattern_folder_name as long_patt_tests %}
                        {% for long_group in long_patt_tests|slice:'6' %}
                            <tr>
                                <td class="text-left table-light text-dark">{{ long_group.list.0.pattern_library }}/{{ long_group.list.0.pattern_folder_name }}</td>
                                <td class="text-center table-light text-dark">{{ long_group.list.0.time_spent_test | f_sec }}</td>
                                <td class="text-center table-light text-dark">{{ long_group.list.0.addm_name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer card-header-shrink txt-nice">"TKN Ship" longest tests</div>
            </div>
        </div>
{#        {% endcache %}#}
        <div class="grid-col-3">
            <div class="alert alert-light" role="alert">
                <h2>TKU tests</h2>
            </div>
        </div>
{#        {% cache 300 upload_cont_main objects.upload_tests.upload_cont_main %}#}
        <div class="grid-col-1">
            <div class="card bg-light border-light">
                <div class="card-header card-footer-shrink txt-nice">
                    Upload "TKN Main" branch: {{ objects.upload_tests.latest_cont_main.test_date_time }}
                </div>
                <div class="card-body card-body-sm">
                    <div class="last-upload-test">
                        {% regroup objects.upload_tests.upload_cont_main|dictsortreversed:'addm_name' by tku_type as upload_cont_main %}
                        {% for test_type in upload_cont_main %}
                            {% include 'digests/tables_details/today_table.html' with object_list=test_type.list %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{#        {% endcache %}#}
{#        {% cache 300 upload_cont_ship objects.upload_tests.upload_cont_ship %}#}
        <div class="grid-col-2">
            <div class="card bg-light border-light">
                <div class="card-header card-footer-shrink txt-nice">
                    Upload "TKN Ship" branch: : {{ objects.upload_tests.latest_cont_ship.test_date_time }}
                </div>
                <div class="card-body card-body-sm">
                    <div class="last-upload-test">
                        {% regroup objects.upload_tests.upload_cont_ship|dictsortreversed:'addm_name' by tku_type as upload_cont_ship %}
                        {% for test_type in upload_cont_ship %}
                            {% include 'digests/tables_details/today_table.html' with object_list=test_type.list %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{#        {% endcache %}#}
{#        {% cache 300 upload_ga_upgrade objects.upload_tests.upload_ga_upgrade %}#}
        <div class="grid-col-1">
            <div class="card bg-light border-light">
                <div class="card-header card-footer-shrink txt-nice">
                    Latest upload test GA "upgrade": {{ objects.upload_tests.latest_ga_upgrade.test_date_time }}
                </div>
                <div class="card-body card-body-sm">
                    <div class="last-upload-test step-2">
                        <span class="txt-nice">{{ objects.upload_tests.upload_ga_upgrade.0.tku_type }}</span>
                        <span class="txt-monospace">{{ objects.upload_tests.upload_ga_upgrade.0.package_type }}</span>
                        <span class="badge badge-info txt-sm">{{ objects.upload_tests.upload_ga_upgrade.0.mode_key }}</span>
                        {% regroup objects.upload_tests.upload_ga_upgrade|dictsortreversed:'addm_name' by tku_type as upload_ga_upgrade %}
                        {% for test_type in upload_ga_upgrade %}
                            {% include 'digests/tables_details/today_table.html' with object_list=test_type.list %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{#        {% endcache %}#}
{#        {% cache 300 upload_ga_fresh objects.upload_tests.upload_ga_fresh %}#}
        <div class="grid-col-2">
            <div class="card bg-light border-light">
                <div class="card-header card-footer-shrink txt-nice">
                    Latest upload test GA "fresh": {{ objects.upload_tests.latest_ga_fresh.test_date_time }}
                </div>
                <div class="card-body card-body-sm">
                    <div class="last-upload-test">
                        <span class="txt-nice">{{ objects.upload_tests.upload_ga_fresh.0.tku_type }}</span>
                        <span class="txt-monospace">{{ objects.upload_tests.upload_ga_fresh.0.package_type }}</span>
                        <span class="badge badge-info txt-sm">{{ objects.upload_tests.upload_ga_fresh.0.mode_key }}</span>
                        {% regroup objects.upload_tests.upload_ga_fresh|dictsortreversed:'addm_name' by tku_type as upload_ga_fresh %}
                        {% for test_type in upload_ga_fresh %}
                            {% include 'digests/tables_details/today_table.html' with object_list=test_type.list %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{#        {% endcache %}#}
{#        {% cache 300 upload_ga_prep objects.upload_tests.upload_ga_prep %}#}
        <div class="grid-col-1">
            <div class="card bg-light border-light">
                <div class="card-body card-body-sm">
                    <div class="last-upload-test step-1">
                        {% regroup objects.upload_tests.upload_ga_prep|dictsortreversed:'addm_name' by tku_type as upload_ga_prep %}
                        {% for test_type in upload_ga_prep %}
                            {% include 'digests/tables_details/today_table.html' with object_list=test_type.list %}
                        {% endfor %}
                        <span class="txt-nice">{{ objects.upload_tests.upload_ga_prep.0.tku_type }}</span>
                        <span class="txt-monospace">{{ objects.upload_tests.upload_ga_prep.0.package_type }}</span>
                        <span class="badge badge-info txt-sm">{{ objects.upload_tests.upload_ga_prep.0.mode_key }}</span>
                    </div>
                </div>
                <div class="card-footer card-footer-shrink txt-nice">
                    Previous TKN release installed: {{ objects.upload_tests.upload_ga_prep.0.test_date_time }}
                </div>
            </div>
        </div>
{#        {% endcache %}#}
        <div class="grid-col-3">
            <div class="alert alert-light" role="alert">
                <h2>Octopus jobs</h2>
            </div>
        </div>
        <div class="grid-col-3">
            <div class="card-body card-body-sm">
                <div class="row no-gutters">
                    <div class="col-12 col-md-10 col-sm-8">
                        <div class="card bg-light border-light">
                            <div class="card-body card-body-sm">{% cron_tasks_short_new %}</div>
                            <div class="card-footer card-footer-shrink txt-nice">
                                Cron tasks for today {% now "Y-m-d" %}
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-2">
                        <div class="card bg-light border-light">
                            <div class="card-body card-body-sm">
                                <table id="workers_state" class="table table-shrink table-hover table-sm">
                                    <tr>
                                        <thead class="table-light bg-light table-sm">
                                            <tr>
                                                <th scope="col" id="col_addm" class="bg-light text-center" style="max-width: fit-content">Queue</th>
                                                <th scope="col" id="col_active" class="bg-light text-center" style="max-width: fit-content">Tasks</th>
                                            </tr>
                                        </thead>
                                    </tr>
                                    <tbody id="worker-table"></tbody>
                                </table>
                            </div>
                            <div class="card-footer card-footer-shrink txt-nice">
                                Workers status
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot-space grid-col-3"></div>
    </div>
    <!-- Navbar bottom fixed -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
        <a class="navbar-brand" href="#"><i class="fab fa-github"></i></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
        </ul>
        <span class="navbar-text">Octopus automation</span>
    </nav>
    <script src="{% static 'octopus/js/upload-test-table-color.js' %}"></script>
    <script src="{% static 'octopus/js/interactive-requests/celery-workers-short-inspect-loop.js' %}"></script>
{% endblock %}