{% extends "main/main.html" %}
{% load template_simplify %}
{% block page_title %}
    {% load_host_names as hostnames %}
    {% if hostnames.LOBSTER_SITE_DOMAIN in request.get_host %}Lobster home
    {% elif hostnames.OCTOPUS_SITE_DOMAIN in request.get_host %}Octopus home
    {% else %}Local..
    {% endif %}
{% endblock %}
{% block content %}
    {% load static %}
    {% load humanize %}
    {% load tz %}
    {% load intro_selections %}
    {% get_minmax_test_date as LAST_RUN %}
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/workbench-mainpage.css' %}"/>
    <div class="main-page-content">
        {# TEST DIGEST #}
        <div class="main-page-addm-digest">
            <div class="row">
                {% with objects.addm_digest as addm_digest %}
                    <div class="col-sm-6 col-shrink">
                        <div class="card border-light">
                            <div class="card-body card-body-sm">
                                {% include 'digests/tables_details/addm_digest_table.html' with var_branch='tkn_main' %}
                            </div>
                            <div class="card-footer card-footer-shrink txt-nice">{% select_icon 'git-branch' 26 'right' 0.4 %}"TKN Main" pattern test digest</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-shrink">
                        <div class="card border-light">
                            <div class="card-body card-body-sm">
                                {% include 'digests/tables_details/addm_digest_table.html' with var_branch='tkn_ship' %}
                            </div>
                            <div class="card-footer card-footer-shrink txt-nice">{% select_icon 'git-merge' 26 'right' 0.4 %}"TKN Ship" pattern test digest</div>
                        </div>
                    </div>
                {% endwith %}
            </div>
        </div>
        {# TKU UPLOAD CONTINUOUS DIGEST#}
        <div class="main-page-upload-cont-digest">
            <div class="row tku-upload-latest">
                <div class="col-sm-6 col-shrink">
                    <div class="card border-light">
                        <div class="card-body card-body-sm">
                            <div class="last-upload-test">
                                {% regroup objects.upload_tests.upload_cont_main|dictsortreversed:'addm_name' by tku_type as upload_cont_main %}
                                {% for test_type in upload_cont_main %}
                                    {% include 'digests/tables_details/today_table.html' with object_list=test_type.list %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-footer card-footer-shrink txt-nice">{% select_icon 'git-branch' 26 'right' 0.4 %}Latest upload test continuous "TKN Main" branch: {{ objects.upload_tests.latest_cont_main.test_date_time }}</div>
                    </div>
                </div>
                <div class="col-sm-6 col-shrink">
                    <div class="card border-light">
                        <div class="card-body card-body-sm">
                            <div class="last-upload-test">
                                {% regroup objects.upload_tests.upload_cont_ship|dictsortreversed:'addm_name' by tku_type as upload_cont_ship %}
                                {% for test_type in upload_cont_ship %}
                                    {% include 'digests/tables_details/today_table.html' with object_list=test_type.list %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-footer card-footer-shrink txt-nice">{% select_icon 'git-merge' 26 'right' 0.4 %}Latest upload test continuous "TKN Ship" branch: : {{ objects.upload_tests.latest_cont_ship.test_date_time }}</div>
                    </div>
                </div>
            </div>
        </div>
        {# TKU UPLOAD GA DIGEST#}
        <div class="main-page-upload-ga-digest">
            <div class="row tku-upload-latest">
                <div class="col-sm-6 col-shrink">
                    <div class="card border-light">
                        <div class="card-body card-body-sm">
                            <div class="last-upload-test step-2">
                                <span class="txt-nice">{{ objects.upload_tests.upload_ga_upgrade.0.tku_type }}</span>
                                <span class="txt-monospace">{{ objects.upload_tests.upload_ga_upgrade.0.package_type }}</span>
                                <span class="badge badge-info txt-sm">{{ objects.upload_tests.upload_ga_upgrade.0.mode_key }}</span>
                                {% regroup objects.upload_tests.upload_ga_upgrade|dictsortreversed:'addm_name' by tku_type as upload_ga_upgrade %}
                                {% for test_type in upload_ga_upgrade %}
                                    {% include 'digests/tables_details/today_table.html' with object_list=test_type.list %}
                                {% endfor %}
                            </div>
                            <div class="last-upload-test step-1">
                                <span class="txt-nice">{{ objects.upload_tests.upload_ga_prep.0.tku_type }}</span>
                                <span class="txt-monospace">{{ objects.upload_tests.upload_ga_prep.0.package_type }}</span>
                                <span class="badge badge-info txt-sm">{{ objects.upload_tests.upload_ga_prep.0.mode_key }}</span>
                                {% regroup objects.upload_tests.upload_ga_prep|dictsortreversed:'addm_name' by tku_type as upload_ga_prep %}
                                {% for test_type in upload_ga_prep %}
                                    {% include 'digests/tables_details/today_table.html' with object_list=test_type.list %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-footer card-footer-shrink txt-nice">Latest upload test GA "upgrade": {{ objects.upload_tests.latest_ga_upgrade.test_date_time }}</div>
                    </div>
                </div>
                <div class="col-sm-6 col-shrink">
                    <div class="card border-light">
                        <div class="card-body card-body-sm">
                            <div class="last-upload-test">
                                <span class="txt-nice">{{ objects.upload_tests.upload_ga_fresh.0.tku_type }}</span>
                                <span class="txt-monospace">{{ objects.upload_tests.upload_ga_fresh.0.package_type }}</span>
                                <span class="badge badge-info txt-sm">{{ objects.upload_tests.upload_ga_fresh.0.mode_key }}</span>
                                {% regroup objects.upload_tests.upload_ga_fresh|dictsortreversed:'addm_name' by tku_type as upload_ga_fresh %}
                                {% for test_type in upload_ga_fresh %}
                                    {% include 'digests/tables_details/today_table.html' with object_list=test_type.list %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-footer card-footer-shrink txt-nice">Latest upload test GA "fresh": {{ objects.upload_tests.latest_ga_fresh.test_date_time }}</div>
                    </div>
                </div>
            </div>
        </div>
        {# CRON AND CELERY STATUS#}
        <div class="main-page-cron">
            <div class="row">
                <div class="col col-shrink">
                    <div class="card border-light">
                        <div class="card-body card-body-sm">
                            <h5 class="card-title">Cron tasks run today</h5>
                            <p class="card-text">Showing the task name and arguments to execute.</p>
                            {% cron_tasks_short_new %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-page-celery-queues">
            <div class="row">
                <div class="col col-shrink">
                    <div class="card border-light">
                        <div class="card-body card-body-sm">
                            <h5 class="card-title">Available workers queue</h5>
                            <p class="card-text">All workers are used for test run.</p>
                            {% worker_queues_short %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
        <a class="navbar-brand" href="#"><i class="fab fa-github"></i></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
        </ul>
        <span class="navbar-text">Octopus automation</span>
    </nav>
    <script src="{% static 'octopus/js/upload-test-table-color.js' %}"></script>
{% endblock %}