{% load static %}
{% load template_simplify %}
{% load humanize %}
{% load tz %}
<table id="workers_state" class="table table-shrink table-hover table-sm">
    <tr>
        <thead class="table-light bg-light table-sm">
        <tr>
            <th scope="col" id="col_addm" class="bg-light text-center" style="max-width: fit-content">Worker</th>
            <th scope="col" id="col_active" class="bg-light text-center" style="max-width: fit-content">Active & reserved</th>
        </tr>
        </thead>
    </tr>
    <tbody id="worker-table">

        {% comment %}<tr id="worker-row">
            <td class="bg-light text-dark">
                <a class="btn btn-sm btn-outline-dark" href="{% url "workers_status_single" %}?worker_name=DUMMY">DUMMY</a>
            </td>
            <td class="bg-light text-center text-dark">0</td>
        </tr>{% endcomment %}

        {% comment %}{% for worker in WORKERS %}
            {% for w_key, w_val in worker.items %}
                <tr>
                    <td class="bg-light text-dark">
                        <a class="btn btn-sm btn-light" title="Workers status" style="font-size: 0.8em;" href="{% url "workers_status_single" %}?worker_name={{ w_key }}">{{ w_key }}</a>
                    </td>
                    <td class="bg-light text-center text-dark">{{ w_val.all_tasks_len }}</td>
                </tr>
            {% endfor %}
        {% endfor %}{% endcomment %}
    </tbody>
</table>
