{% load static %}
{% block content %}
<!-- Historical results for last week place here: -->
<!-- Will use only last 7 days hardcoded. Later is better to use some type of auto-gemnerating pages for moths or not? -->
<div>
    <div style="padding-left:2%;padding-right:2%;margin-bottom: 5px;">
        <!-- Buttons -->
        <div class="btn-toolbar justify-content-around" role="toolbar" aria-label="History day buttons">
        <div class="badge badge-info"><h4>Older records:</h4></div>
            <!-- Days in past -->
            <div class="btn-group" role="group" aria-label="Last 7 days">
                <button type="button" class="btn btn-secondary" aria-label="Tests run 1 day before today">1</button>
                <button type="button" class="btn btn-secondary" aria-label="Tests run 2 days before today">2</button>
                <button type="button" class="btn btn-secondary" aria-label="Tests run 3 days before today">3</button>
                <button type="button" class="btn btn-secondary" aria-label="Tests run 4 days before today">4</button>
                <button type="button" class="btn btn-secondary" aria-label="Tests run 5 days before today">5</button>
                <button type="button" class="btn btn-secondary" aria-label="Tests run 6 days before today">6</button>
                <button type="button" class="btn btn-secondary" aria-label="Tests run 7 days before today">7</button>
            </div>
            <!-- Custom days in past -->
            <div class="badge badge-info"><h4>Custom days:</h4></div>
            <div style="padding-left:2%;padding-right:2%;">
                <form action="{% url 'patterns_digest' %}?branch={{ BRANCH }}&addm_name={{ ADDM_NAME }}" class="row" method="post" enctype="application/x-www-form-urlencoded">{% csrf_token %}
                    <div class="form-inline" aria-label="Browse custom day">
                        <label for="calendar_from"> From </label>
                        <img style="height:36px;width:36px;" src="{% static "/octicons/svg/calendar.svg" %}" alt="calendar_from"/>{{ test_select_form.date_from }}
                        <label for="calendar_to"> - to - </label>
                        <img style="height:36px;width:36px;" src="{% static "/octicons/svg/calendar.svg" %}" alt="calendar_to"/>{{ test_select_form.date_to }}
                        <button type="submit" class="btn btn-secondary" value="select">Submit</button>
                    </div>
                </form>
            </div>
        <!-- Buttons end-->
        </div>
    <!-- Historical results end-->
    </div>
</div>
{% endblock %}