{% extends "main/main.html" %}
{% block page_title %}
Octopus administration
{% endblock %}
{% block content %}
{% load static %}
<!-- Sub nav on child page P$ info Summary -->
<div style="padding-left:2%;padding-right:2%;margin-bottom:5px;margin-top:5px">
    <!-- Content header block with navigation: -->
    <div class="alert alert-secondary" role="alert">
        <!-- Subject: -->
        {{SUBJECT}}
    </div>
</div>
{#TODO: Add here just simple key-val iter#}
{% if power_user_bool %}
<div style="padding-left:2%;padding-right:2%">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Option</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
          {% for option, value in OPTION_VALUES.items %}
            <tr>
              <th scope="row">{{ option|lower }}</th>
              <td>{{ value }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <p>*Refresh = True - will delete all related test logs for selected pattern case in "latest" table.</p>
</div>
{% else %}
<!-- Login form request. -->
<div style="padding-left:2%;padding-right:2%;margin-bottom:5px;margin-top:5px">
    <div class="alert alert-warning" role="alert">
        Please log in as user, which authorised to manage this page.
    </div>
</div>
{% endif %}
{% endblock %}