{# COL 3 #}
<div class="col-sm-4">
    {# CARD 1#}
    <div class="card" style="width:auto;">
        <div class="card-body">
            <h5 class="card-title">Patterns parse user request</h5>
            <h6 class="card-subtitle mb-2 text-muted">Usual patterns parse + ADDM sync</h6>
            <p class="card-text text-info">Parse and sync options</p>
            <div class="btn-group-vertical">
                <a role="button" class="btn btn-sm btn-outline-info" href="{% url 'parse_patterns_user' %}?sync_shares=True&addm_group=foxtrot&branch=tkn_ship">Ship, Sync foxtrot</a>
                <a role="button" class="btn btn-sm btn-outline-info" href="{% url 'parse_patterns_user' %}?sync_shares=True&addm_group=foxtrot&branch=tkn_main">Main, Sync foxtrot</a>
            </div>
            <div class="btn-group-vertical">
                <a role="button" class="btn btn-sm btn-outline-info" href="{% url 'parse_patterns_user' %}?branch=tkn_main">Main</a>
                <a role="button" class="btn btn-sm btn-outline-info" href="{% url 'parse_patterns_user' %}?branch=tkn_ship">Ship</a>
            </div>
            <div class="btn-group-vertical">
                <a role="button" class="btn btn-sm btn-outline-info" href="{% url 'parse_patterns_user' %}">Both branches</a>
                <a role="button" class="btn btn-sm btn-outline-info" href="{% url 'parse_patterns_user' %}?sync_shares=True&addm_group=foxtrot">Both branches sync foxtrot</a>
            </div>
            <p class="card-text text-info">Sync Force:</p>
            <a role="button" class="btn btn-sm btn-outline-info" href="{% url 'p4_sync_force' %}?branch=tkn_main">tkn_main</a>
            <a role="button" class="btn btn-sm btn-outline-info" href="{% url 'p4_sync_force' %}?branch=tkn_ship">tkn_ship</a>
            <p class="card-text text-info">Sync Force use depot path: //addm/tkn_main/tku_patterns/CORE/10genMongoDB/...</p>
            <a role="button" class="btn btn-sm btn-outline-info" href="{% url 'p4_sync_force' %}?depot_path=//addm/tkn_main/tku_patterns/CORE/10genMongoDB/...">Depot path</a>
        </div>
    </div>
    {# CARD 2#}
    <div class="card" style="width:auto;">
        <div class="card-body">
            <h5 class="card-title">Execute test on user request</h5>
            <h6 class="card-subtitle mb-2 text-muted">User test request simple</h6>
            <p class="card-text">Should execute test with different options, like user do:
                10genMongoDB 10genMongoDB CORE tkn_main </p>
            <div class="btn-group-vertical">
                <a role="button" class="btn btn-sm btn-outline-info" href="{% url 'test_execute_web' %}?pattern_folder=10genMongoDB&pattern_library=CORE&branch=tkn_main&addm_group=foxtrot">Mongo main <b>foxtrot</b></a>
                <a role="button" class="btn btn-sm btn-outline-info" href="{% url 'test_execute_web' %}?pattern_folder=10genMongoDB&pattern_library=CORE&branch=tkn_main&refresh=true&addm_group=foxtrot">Mongo main <b>refresh & foxtrot</b></a>
                <p></p>
                <a role="button" class="btn btn-sm btn-outline-info" href="{% url 'test_execute_web' %}?pattern_folder=10genMongoDB&pattern_library=CORE&branch=tkn_ship&addm_group=foxtrot">Mongo tkn_ship <b>foxtrot</b></a>
                <a role="button" class="btn btn-sm btn-outline-info" href="{% url 'test_execute_web' %}?pattern_folder=10genMongoDB&pattern_library=CORE&branch=tkn_ship&refresh=true&addm_group=foxtrot">Mongo tkn_ship <b>refresh & foxtrot</b></a>
            </div>
            <div class="btn-group-vertical">
                <a role="button" class="btn btn-sm btn-outline-warning" href="{% url 'test_execute_web' %}?pattern_folder=10genMongoDB&pattern_library=CORE&branch=tkn_main">Mongo tkn_main <b>auto group</b></a>
                <a role="button" class="btn btn-sm btn-outline-warning" href="{% url 'test_execute_web' %}?pattern_folder=10genMongoDB&pattern_library=CORE&branch=tkn_main&refresh=true">Mongo tkn_main <b>refresh & auto group</b></a>
                <p></p>
                <a role="button" class="btn btn-sm btn-outline-warning" href="{% url 'test_execute_web' %}?pattern_folder=10genMongoDB&pattern_library=CORE&branch=tkn_ship">Mongo tkn_ship<b>auto group</b></a>
                <a role="button" class="btn btn-sm btn-outline-warning" href="{% url 'test_execute_web' %}?pattern_folder=10genMongoDB&pattern_library=CORE&branch=tkn_ship&refresh=true">Mongo tkn_ship <b>refresh & auto group</b></a>
            </div>
        </div>
    </div>
    {# CARD 3#}
    <div class="card" style="width:auto;">
        <div class="card-body">
            <h5 class="card-title">DEV and usual selections:</h5>
            <h6 class="card-subtitle mb-2 text-muted">Select from database with options:</h6>
            <p class="card-text"></p>
            <div class="btn-group-vertical">
            </div>
            <div class="btn-group-vertical">
            </div>
        </div>
    </div>
    {# CARD 4#}
    <div class="card" style="width:auto;">
        <div class="card-body">
            <h5 class="card-title">DEV tasks and fail:</h5>
            <h6 class="card-subtitle mb-2 text-muted">Forced task executions OR fails</h6>
            <p class="card-text"></p>
            <p>Forcely run task fail: time limit OR AttrErr: <br>task_sleep=0 or 10 task_fail=1 or Not set</p>
            <div class="btn-group-vertical">
                <a role="button" class="btn btn-sm btn-outline-info" href="#">No fail</a>
                <a role="button" class="btn btn-sm btn-outline-info" href="#?task_fail=1">Fail</a>
                <a role="button" class="btn btn-sm btn-outline-info" href="#?task_sleep=10">Time limit</a>
            </div>
        </div>
    </div>
    {# CARD 5#}
    <div class="card" style="width:auto;">
        <div class="card-body">
            <h5 class="card-title">NEW Upload tests: <span class="badge badge-secondary">Upload tasks and tests dev</span></h5>
            <div class="text-info">Upload test:</div>
            <div class="text-dark">
                Use set of options:
                <ul>
                    <li>addm_group: all available in ADDM table</li>
                    <li>tku_type: addm_released, ga_candidate, released_tkn, tkn_main_continuous(when None)</li>
                    <li>mode: update, step(use as fresh), other(None - will ignore tku_type arg)</li>
                    <li>tku_wget: True\False</li>
                </ul>
                <div class="text-dark">Run task t_routine_tku_upload_new -> RoutineCases.tku_upload_new -> TExecTest().t_upload_exec_threads -> UploadTestExec().upload_run_threads -> target=self.upload_test_exec</div>
                <div class="btn-group-vertical">
                    <a role="button" class="btn btn-sm btn-outline-secondary" href="#?addm_group=foxtrot;">Default(continuous)? mode=None</a>
                    <a role="button" class="btn btn-sm btn-outline-secondary" href="#?addm_group=foxtrot;tku_type=addm_released">addm_released mode=None</a>
                    <a role="button" class="btn btn-sm btn-outline-secondary" href="#?addm_group=foxtrot;tku_type=ga_candidate">ga_candidate mode=None</a>
                    <a role="button" class="btn btn-sm btn-outline-secondary" href="#?addm_group=foxtrot;tku_type=released_tkn">released_tkn mode=None</a>
                    <a role="button" class="btn btn-sm btn-outline-secondary" href="#?addm_group=foxtrot;tku_type=tkn_main_continuous">tkn_main_continuous mode=None</a>
                </div>
                <div class="btn-group-vertical">
                    <a role="button" class="btn btn-sm btn-outline-success" href="#?addm_group=foxtrot;tku_wget=True">Default(continuous)? mode=None wget</a>
                    <a role="button" class="btn btn-sm btn-outline-success" href="#?addm_group=foxtrot;tku_wget=True;tku_type=addm_released">addm_released mode=None wget</a>
                    <a role="button" class="btn btn-sm btn-outline-success" href="#?addm_group=foxtrot;tku_wget=True;tku_type=ga_candidate">ga_candidate mode=None wget</a>
                    <a role="button" class="btn btn-sm btn-outline-success" href="#?addm_group=foxtrot;tku_wget=True;tku_type=released_tkn">released_tkn mode=None wget</a>
                    <a role="button" class="btn btn-sm btn-outline-success" href="#?addm_group=foxtrot;tku_wget=True;tku_type=tkn_main_continuous">tkn_main_continuous mode=None wget</a>
                </div>
            </div>
            <div class="text-info">WGET\parse only:</div>
            <div class="text-dark">Modes:
                <ul>
                    <li>TExecTest().t_tku_sync -> LocalDownloads().wget_tku_build_hub_option - run WGET and Parse for all packages OR tku_key if set</li>
                    <li>TDev.dev_task_parse_local_tku -> LocalDownloads().only_parse_tku - just parse local TKU zips.</li>
                </ul>
            </div>
            <div class="btn-group-sm">
                <div class="btn-group-vertical">
                    <a role="button" class="btn btn-sm btn-outline-dark" href="#">WGET All</a>
                    <a role="button" class="btn btn-sm btn-outline-dark" href="#?tku_type=addm_released">WGET addm_released</a>
                    <a role="button" class="btn btn-sm btn-outline-dark" href="#?tku_type=ga_candidate">WGET ga_candidate</a>
                    <a role="button" class="btn btn-sm btn-outline-dark" href="#?tku_type=released_tkn">WGET released_tkn</a>
                    <a role="button" class="btn btn-sm btn-outline-dark" href="#?tku_type=tkn_main_continuous">WGET tkn_main_continuous</a>
                </div>
                <div class="btn-group-vertical">
                    <a role="button" class="btn btn-sm btn-outline-success" href="#">Parse All</a>
                    <a role="button" class="btn btn-sm btn-outline-success" href="#?tku_type=addm_released">Parse addm_released</a>
                    <a role="button" class="btn btn-sm btn-outline-success" href="#?tku_type=ga_candidate">Parse ga_candidate</a>
                    <a role="button" class="btn btn-sm btn-outline-success" href="#?tku_type=released_tkn">Parse released_tkn</a>
                    <a role="button" class="btn btn-sm btn-outline-success" href="#?tku_type=tkn_main_continuous">Parse tkn_main_continuous</a>
                </div>
            </div>
            <div class="text-info">TKU select options:</div>
            <div class="text-dark">Try to select different sets of TKU Zips. Based on tku_type or package_type, or select max latest, or select group of TKU zips for upload test routine</div>
            <div class="btn-group-sm">
                <div class="btn-group-vertical">
{#                    <a role="button" class="btn btn-sm btn-outline-dark" href="{% url 'tku_select' %}?addm_version=11.3">Select Default</a>#}
{#                    <a role="button" class="btn btn-sm btn-outline-dark" href="{% url 'tku_select' %}?addm_version=11.3;release_routine=True">Select release_routine</a>#}
{#                    <a role="button" class="btn btn-sm btn-outline-dark" href="{% url 'tku_select' %}?addm_version=11.3;tku_type=addm_released">Select addm_released</a>#}
{#                    <a role="button" class="btn btn-sm btn-outline-dark" href="{% url 'tku_select' %}?addm_version=11.3;tku_type=ga_candidate">Select ga_candidate</a>#}
{#                    <a role="button" class="btn btn-sm btn-outline-dark" href="{% url 'tku_select' %}?addm_version=11.3;tku_type=released_tkn">Select released_tkn</a>#}
{#                    <a role="button" class="btn btn-sm btn-outline-dark" href="{% url 'tku_select' %}?addm_version=11.3;tku_type=tkn_main_continuous">Select tkn_main_continuous</a>#}
{#                    <a role="button" class="btn btn-sm btn-outline-dark" href="{% url 'tku_select' %}?addm_version=11.3;package_type=tkn_main_continuous_2069-03-1-000">Select tkn_main_continuous_2069-03-1-000</a>#}
                </div>
            </div>
        </div>
    </div>
</div>