
.celery-content {
    padding: 10px 10px 100px 10px;
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;

    /*font-family: 'Jaldi', sans-serif;*/
    /*font-family: 'BenchNine', sans-serif;*/
    /*font-family: 'Assistant', sans-serif;*/

}

.celery-workers-tabs {

}

.card-header-shrink {
    padding: .2em;
}

.card-header-shrink > span:nth-child(2) {
    padding-left: 1em;
}

.card-body-shrink {
    padding: .2em;
}

.card-footer-shrink {
    padding: .2em;
}

.tasks-card {
    margin-top: .2em;
}

.td-task-id {
    font-size: .775em;
    font-family: 'Maven Pro', sans-serif;
}

.td-task-name {
    font-size: .775em;
    font-family: 'Maven Pro', sans-serif;
}
.td-task-args {
    font-size: .675em;
    font-family: 'Maven Pro', monospace;
}
.td-task-kwargs {
    font-size: .675em;
    font-family: 'Maven Pro', monospace;
}
.td-task-type {
    font-size: .775em;
    font-family: 'Maven Pro', sans-serif;
}
.td-task-time_start {
    font-size: .775em;
    font-family: 'Maven Pro', sans-serif;
}

.worker-buttons {
    float: right;
}


/* TOAST */
#task-request {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    padding-left: 1.2rem;
    background-image: url(/static/octicons/icons/hubot-16.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    margin: .2em;
}

#task-revoked {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    padding-left: 1.2rem;
    background-image: url(/static/octicons/icons/hubot-16.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    margin: .2em;
}

#task-state {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    padding-left: 1.2rem;
    background-image: url(/static/octicons/icons/pulse-16.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    margin: .2em;
}

#task-status {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    padding-left: 1.2rem;
    background-image: url(/static/octicons/icons/history-16.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    margin: .2em;
}

#task-time {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    padding-left: 1.2rem;
    background-image: url(/static/octicons/icons/clock-16.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    margin: .2em;
}

#revoked-count {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    padding-left: 1.2rem;
    background-image: url(/static/octicons/icons/law-16.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    margin: .2em;
}

#revoked-active{
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    padding-left: 1.2rem;
    background-image: url(/static/octicons/icons/law-16.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    margin: .2em;
}

#revoked-reserved{
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    padding-left: 1.2rem;
    background-image: url(/static/octicons/icons/law-16.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    margin: .2em;
}

.revoke-task-id {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    padding-left: 1.2rem;
    background-image: url(/static/octicons/icons/hubot-16.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    margin: .2em;
}