
.celery-content {
    padding: 10px 10px 100px 10px;
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    /*font-family: 'Catamaran', sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Jaldi', sans-serif;*/
    /*font-family: 'BenchNine', sans-serif;*/
    /*font-family: 'Assistant', sans-serif;*/
    /*font-family: 'Nunito', sans-serif;*/
}

.celery-workers-tabs {

}

.card-header-shrink {
    padding: .2em;
}

.card-body-shrink {
    padding: .2em;
}

.card-footer-shrink {
    padding: .2em;
}

.tasks-card {
    margin-top: 2em;
}

.worker-buttons {
    float: right;
}


/* TOAST */
#task-request {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    padding-left: 1.2rem;
    background-image: url(/static/octicons/svg/hubot.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    margin: .2em;
}

#task-revoked {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    padding-left: 1.2rem;
    background-image: url(/static/octicons/svg/hubot.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    margin: .2em;
}

#task-state {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    padding-left: 1.2rem;
    background-image: url(/static/octicons/svg/pulse.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    margin: .2em;
}

#task-status {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    padding-left: 1.2rem;
    background-image: url(/static/octicons/svg/history.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    margin: .2em;
}

#task-time {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    padding-left: 1.2rem;
    background-image: url(/static/octicons/svg/clock.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    margin: .2em;
}

#revoked-count {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    padding-left: 1.2rem;
    background-image: url(/static/octicons/svg/law.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    margin: .2em;
}

#revoked-active{
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    padding-left: 1.2rem;
    background-image: url(/static/octicons/svg/law.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    margin: .2em;
}

#revoked-reserved{
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    padding-left: 1.2rem;
    background-image: url(/static/octicons/svg/law.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    margin: .2em;
}


.revoke-task-id {
    font-size: .875em;
    font-family: 'Maven Pro', sans-serif;
    padding-left: 1.2rem;
    background-image: url(/static/octicons/svg/hubot.svg);
    background-repeat: no-repeat;
    background-size: 1.2em;
    margin: .2em;
}