/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Jaldi', sans-serif;*/
/*font-family: 'Catamaran', sans-serif;*/
/*font-family: 'BenchNine', sans-serif;*/
/*font-family: 'Assistant', sans-serif;*/
/*font-family: 'Maven Pro', sans-serif;*/
/*font-family: 'Nunito', sans-serif;*/

/* GENERAL */
.table-shrink td {
    padding: .1rem !important;
    vertical-align: middle;
}

.card-header-shrink {
    padding: .2em;
}

.card-body-sm {
    padding: .6em;
}

.card-body-shrink {
    padding: .2em;
}

.card-footer-shrink {
    padding: .2em;
}

.col-shrink {
    padding-right: .4em;
    padding-left: .4em;
}

.btn-sm-er {
    padding: .1rem .2rem;
    font-size: .775rem;
    line-height: 1.2;
    border-radius: .4rem;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-space-bw {
    display: flex;
    justify-content: space-between;
}

.btn-rows > div {
    padding: .2em;
}

.flt-right {
    float: right;
}

.flt-left {
    float: left;
}

/*Text styles*/
.txt-nice {
    font-size: 1em !important;
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Jaldi', sans-serif;*/
    /*font-family: 'Catamaran', sans-serif;*/
    /*font-family: 'BenchNine', sans-serif;*/
    /*font-family: 'Assistant', sans-serif;*/
    font-family: 'Maven Pro', sans-serif !important;
    /*font-family: 'Nunito', sans-serif;*/

}

.txt-left {
    text-align: left !important;
}

.txt-sm {
    font-size: .875em;
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Jaldi', sans-serif;*/
    /*font-family: 'Catamaran', sans-serif;*/
    font-family: 'BenchNine', sans-serif;
    /*font-family: 'Assistant', sans-serif;*/
    /*font-family: 'Maven Pro', sans-serif;*/
    /*font-family: 'Nunito', sans-serif;*/
}

.txt-shrink {
    font-family: 'BenchNine', sans-serif;
}

.txt-micro {
    font-size: .875em;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Jaldi', sans-serif;
    /*font-family: 'Catamaran', sans-serif;*/
    /*font-family: 'BenchNine', sans-serif;*/
    /*font-family: 'Assistant', sans-serif;*/
    /*font-family: 'Maven Pro', sans-serif;*/
    /*font-family: 'Nunito', sans-serif;*/
}

.txt-sm-it {
    font-size: 1em;
    font-style: italic;
}

.txt-sm-mon {
    font-size: 0.9em;
    /*font-family: 'Ubuntu Mono', monospace;*/
    font-family: 'Inconsolata', monospace !important;

}

.txt-br-w {
    word-wrap: break-word;
}

/* tst_status colors */
.tst-notpass {
    /*background-color: #FEDCDD !important;*/
    background-color: #E5C4CB !important;
}

.tst-fail {
    /*background-color: #FEDCDD !important;*/
    background-color: #E5C4CB !important;
}

.tst-error {
    /*background-color: #FFF9DD !important;*/
    background-color: #F9F1D5 !important;
}

.tst-skip {
    /*background-color: #CCC7E1 !important;*/
    background-color: #9998AE !important;
}

.tst-pass {
    /*background-color: #CFEDCD !important;*/
    background-color: #C6DABA !important;
}

.tst-None {
    background-color: #bfcbd4 !important;
}

/* TKU UPLOAD Workbench */
.toast {
    max-width: 550px!important;
    width: 550px!important;
}

.upload-workbench-content {
    padding: 0 20px 40px 20px;
}

.tku-packages-excerpt {
    padding-bottom: 1em;

}

.tku-upload-latest {
    padding-bottom: 1em;
}

.tku-upload-buttons {
    padding-bottom: 1em;
}

.tku-upload-product-content-update {
    padding: 0 0 40px 0;
}

.tku-upload-rest-references {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

/* Navigate on test reports NAV BAR */
.test-report-navbar {
    background-color: #ddfdd5;
    /*margin: 1%;*/
    margin: 20px 10px 20px 10px;
}

/*Navbar left part content*/
.nav-reports-left {
    display: flex;
    justify-content: flex-start !important;
}

.upload-test-today {
    padding-left: 20px;
}

.upload-test-last-day {
    padding-left: 20px;
}

.upload-test-index {
    padding-left: 20px;
}

/*Navbar right part content*/
.nav-reports-right {
    display: flex;
    justify-content: flex-end !important;
}

/* Specified */
.upload-packages-content {
    padding: 0 10px 40px 10px;
    font-size: 1em;
    text-align: center;
}

/*/octo_tku_upload/upload_today/*/
.upload-test-today-content {
    padding: 10px 10px 10px 10px;
    font-size: 1em;
    text-align: center;
}

/*octo_tku_upload/upload_day/2019/sep/24/*/
.upload-test-day-content {
    padding: 0 20px 0 20px;
    font-size: 1em;
    text-align: center;
}

/*/octo_tku_upload/upload_index/*/
.upload-test-index-content {
    padding: 0 20px 40px 20px;
    font-size: 1em;
    text-align: center;
}

/* TKU TEST INDEX tables */
/*1st table - row*/
.upload-test-continuous {
    padding-bottom: .5em;
}

/*2nd table - row*/
.upload-test-releases {
    padding-bottom: .5em;
}

/*3rd table - row*/
.upload-test-other {
    padding-bottom: .5em;
}

/* TABLES */
/* TKU PACKAGES */
.tku-packages-table {
    font-size: .975em;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Jaldi', sans-serif;
    /*font-family: 'Catamaran', sans-serif;*/
    /*font-family: 'BenchNine', sans-serif;*/
    /*font-family: 'Assistant', sans-serif;*/
    /*font-family: 'Maven Pro', sans-serif;*/
    /*font-family: 'Nunito', sans-serif;*/
}

/* TEST TABLES */
.upload-test-day-table {
    font-size: .975em;
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Jaldi', sans-serif;*/
    /*font-family: 'Catamaran', sans-serif;*/
    /*font-family: 'BenchNine', sans-serif;*/
    /*font-family: 'Assistant', sans-serif;*/
    font-family: 'Maven Pro', sans-serif;
    /*font-family: 'Nunito', sans-serif;*/
}

.upload-test-today-table {
    font-size: .975em;
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Jaldi', sans-serif;*/
    /*font-family: 'Catamaran', sans-serif;*/
    /*font-family: 'BenchNine', sans-serif;*/
    /*font-family: 'Assistant', sans-serif;*/
    font-family: 'Maven Pro', sans-serif;
    /*font-family: 'Nunito', sans-serif;*/
}

.upload-test-index-table {
    font-size: .8em;
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Jaldi', sans-serif;*/
    /*font-family: 'Catamaran', sans-serif;*/
    /*font-family: 'BenchNine', sans-serif;*/
    /*font-family: 'Assistant', sans-serif;*/
    font-family: 'Maven Pro', sans-serif;
    /*font-family: 'Nunito', sans-serif;*/
}


/* Tooltip for tku test in table */
.popover > div.popover-body > div {
    padding-bottom: .3em;
}

.popover > div.popover-body > div > span {
    padding-left: 1.6rem;
}

.popover > div.popover-body > div.addm_name {
    background-image: url('/static/fontawesome/svgs/solid/upload.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
}

.popover > div.popover-body > div.test_mode {
    background-image: url('/static/fontawesome/svgs/solid/flask.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
}

.popover > div.popover-body > div.mode_key {
    background-image: url('/static/fontawesome/svgs/solid/tag.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
}

.popover > div.popover-body > div.package_type {
    background-image: url('/static/fontawesome/svgs/solid/archive.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
}

.popover > div.popover-body > div.tku_type {
    background-image: url('/static/fontawesome/svgs/solid/tags.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
}

.popover > div.popover-body > div.tku_build {
    background-image: url('/static/fontawesome/svgs/brands/jenkins.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
}

.popover > div.popover-body > div.upload_test_status {
    background-image: url('/static/octicons/svg/tasklist.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
}

.popover > div.popover-body > div.upload_test_str_stderr {
    background-image: url('/static/octicons/svg/stop.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
}

.popover > div.popover-body > div.all_errors {
    background-image: url('/static/fontawesome/svgs/solid/exclamation-triangle.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
}

.popover > div.popover-body > div.upload_errors {
    background-image: url('/static/fontawesome/svgs/solid/exclamation-triangle.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
}

.popover > div.popover-body > div.all_warnings {
    background-image: url('/static/fontawesome/svgs/solid/exclamation-circle.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
}

.popover > div.popover-body > div.upload_warnings {
    background-image: url('/static/fontawesome/svgs/solid/exclamation-circle.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
}

.popover > div.popover-body > div.tested_zips {
    background-image: url('/static/fontawesome/svgs/solid/file-archive.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
}

.popover > div.popover-body > div.addm_host {
    background-image: url('/static/fontawesome/svgs/solid/server.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
}

.popover > div.popover-body > div.time_spent_test {
    background-image: url('/static/fontawesome/svgs/solid/stopwatch.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
}

.popover > div.popover-body > div.test_date_time {
    background-image: url('/static/fontawesome/svgs/solid/clock.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
}

/* Additional for TKU Package popover */
.popover > div.popover-body > div.tku_name {
    background-image: url('/static/fontawesome/svgs/solid/tags.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
}

.popover > div.popover-body > div.zip_file_md5_digest {
    background-image: url('/static/fontawesome/svgs/solid/file-archive.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
}

.popover > div.popover-body > div.updated_at {
    background-image: url('/static/fontawesome/svgs/solid/clock.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
}

.popover > div.popover-body > div.created_at {
    background-image: url('/static/fontawesome/svgs/solid/clock.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
}

.popover > div.popover-body > div.zip_file_path {
    background-image: url('/static/fontawesome/svgs/solid/folder.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
}

.popover > div.popover-body > div.zip_file_name {
    background-image: url('/static/fontawesome/svgs/solid/file-archive.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
}
