{% extends "main/main.html" %}
{% block page_title %}
    {% if not SUBJECT %}
        ADDM Workbench
    {% else %}
        {{ SUBJECT }}
    {% endif %}
{% endblock %}
{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}
{% load template_simplify %}
{% load intro_selections %}
{% block content %}
    {# STYLES #}
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/elements/navbar-secondary.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/admin_workbenches/admin-workbench.css' %}"/>
    <div aria-live="polite" aria-atomic="true" style="position: relative">
        <!-- Position it -->
        <div style="position: absolute; top: 0; left: 0;">
            <div id="toastStack" style="position: absolute;z-index: 2"></div>
        </div>
    </div>
    {% comment %}NAV BAR{% endcomment %}
    <nav class="navbar navbar-light test-report-navbar">
    {% spaceless %}
        <!-- Navbar content -->
        <!-- Navbar left part content -->
        <div class="nav-reports-left">
            <!-- Digest levels breadcrumbs: -->
            <div class="digest-breadcrumbs">
                <nav class="nav nav-pills">
                    <div class="btn-group btn-group-sm" role="group">
                        <a class="btn btn-sm btn-info" href="{% url 'admin_workbench' %}"><i class="fas fa-step-backward"></i> Admin Workbench</a>
                        <a class="btn btn-sm btn-info" href="{% url 'addm_workbench' %}" title="You are here..."><i class="fas fa-play"></i> ADDM Workbench</a>
                    </div>
                </nav>
            </div>
            <!-- Change branch here: -->
            <div class="digest-branch"></div>
            <div class="selection-state"></div>
        </div>
        <!-- Navbar right part content -->
        <div class="nav-reports-right digest-test-log-levels">
        </div>
    {% endspaceless %}
    </nav>
    {# CONTENT #}
    {# CONTENT #}
    <div class="addm-content">
        <div class="card-deck">
            <div class="card">
                <div class="card-header">ADDM Preparations</div>
                <div class="card-body">
                    <div class="card-text">V-center operations, data sync between ADDMs and so on.</div>
                    <div class="card">
                        <div class="card-header">Addm batch operations:</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <span class="card-text fl-left">Cleanup</span>
                                <div class="btn-group fl-right">
                                    <a class="btn btn-sm btn-outline-info" id="addm_cleanup" data-toggle="modal" data-target="#addmCleanupButtons">Routines</a>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <span class="card-text fl-left">Run custom cmd:</span>
                                <div class="btn-group fl-right">
                                    <a class="btn btn-sm btn-outline-info" id="addm_cmd_run" data-toggle="modal" data-target="#addmCMDRun">CMD Run</a>
                                </div>
                                </li>
                            <li class="list-group-item">
                                <span class="card-text fl-left">Sync ADDM:</span>
                                <div class="btn-group fl-right">
                                    <a class="btn btn-sm btn-outline-info" id="addm_sync_shares" data-toggle="modal" data-target="#addmSYNCButtons">Sync shares</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Control test environments and data on it</small>
                </div>
            </div>
            <div class="card">
                <div class="card-header">ADDM alt views</div>
                <div class="card-body">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <span class="card-text fl-left">ADDM Tables old:</span>
                                <div class="btn-group fl-right">
                                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'old_addm_workbench' %}">ADDM Workbench</a>
                                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'addm_buttons_page' %}">ADDM Buttons</a>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <span class="card-text fl-left">ADDM admin models:</span>
                                <div class="btn-group fl-right">
                                    <a class="btn btn-sm btn-outline-info" href="{% url 'admin:index' %}run_core/addmdev/">ADDM Admin</a>
                                    <a class="btn btn-sm btn-outline-info" href="{% url 'admin:index' %}run_core/addmdevproxy/">ADDM Proxy</a>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <span class="card-text fl-left">ADDM table CopyPaste:</span>
                                <div class="btn-group fl-right">
                                    <a class="btn btn-sm btn-outline-info" id="addm_sync_shares" data-toggle="modal" data-target="#addmTableStale">Stale Table</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Execute custom commands on ADDMs</small>
                </div>
            </div>
            <div class="card border-warning">
                <div class="card-header bg-warning">ADDM Servicing</div>
                <div class="card-body">
                    <div class="card-text">Reboot ADDM vms, revert snapshots, etc.</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span class="card-text fl-left"></span>
                            <div class="btn-group fl-right"></div>
                        </li>
                        <li class="list-group-item">
                            <span class="card-text fl-left"></span>
                            <div class="btn-group fl-right"></div>
                        </li>
                        <li class="list-group-item">
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Maintenance operations, such as restarts, upgrades.</small>
                </div>
            </div>
        </div>
        <div>
            {% regroup objects|dictsort:'branch_lock' by branch_lock as branch_lock_addms %}
            {% regroup objects|dictsort:'vm_cluster' by vm_cluster as addm_vm_cluster %}
        </div>
        <div class="addm-vms-tabs">
            <nav>
                <div class="nav nav-pills flex-column flex-sm-row" id="nav-tab" role="tablist">
                    <a class="flex-sm-fill btn-outline-dark text-sm-center nav-link active"
                       id="nav-all-addm-tab"
                       href="#all-addm"
                       aria-controls="all-addm"
                       data-toggle="tab" role="tab" aria-selected="true">All</a>
                    <a class="flex-sm-fill btn-outline-dark text-sm-center nav-link"
                       id="nav-addm-tkn_main-tab"
                       href="#addm-tkn_main"
                       aria-controls="nav-addm-tkn_main"
                       data-toggle="tab" role="tab" aria-selected="false">Lock 'tkn_main'</a>
                    <a class="flex-sm-fill btn-outline-dark text-sm-center nav-link"
                       id="nav-addm_tkn_ship-tab"
                       href="#addm_tkn_ship"
                       aria-controls="nav-addm_tkn_ship"
                       data-toggle="tab" role="tab" aria-selected="false">Lock 'tkn_ship'</a>
                    <a class="flex-sm-fill btn-outline-dark text-sm-center nav-link"
                       id="nav-aus-addm-tab"
                       href="#aus-addm"
                       aria-controls="nav-aus-addm"
                       data-toggle="tab" role="tab" aria-selected="false">AUS</a>
                    <a class="flex-sm-fill btn-outline-dark text-sm-center nav-link"
                       id="nav-pune-addm-tab"
                       href="#pune-addm"
                       aria-controls="nav-pune-addm"
                       data-toggle="tab" role="tab" aria-selected="false">PUNE</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="all-addm" role="tabpanel" aria-labelledby="all-addm-tab">
                    {% include 'addm_workbench/includes/addm_vm_table.html' with addm_set=objects|dictsort:'addm_group' %}
                    <small>* Table of all ADDMs</small>
                </div>
                <div class="tab-pane fade" id="addm-tkn_main" role="tabpanel" aria-labelledby="addm-tkn_main-tab">
                    {% include 'addm_workbench/includes/addm_vm_table.html' with addm_set=branch_lock_addms.0.list|dictsort:'addm_group' %}
                    <small>* Table of ADDMS locked on branch 'tkn_main' </small>
                </div>
                <div class="tab-pane fade" id="addm_tkn_ship" role="tabpanel" aria-labelledby="addm_tkn_ship-tab">
                    {% include 'addm_workbench/includes/addm_vm_table.html' with addm_set=branch_lock_addms.1.list|dictsort:'addm_group' %}
                    <small>* Table of ADDMS locked on branch 'tkn_ship' </small>
                </div>
                <div class="tab-pane fade" id="aus-addm" role="tabpanel" aria-labelledby="aus-addm-tab">
                    {% include 'addm_workbench/includes/addm_vm_table.html' with addm_set=addm_vm_cluster.1.list|dictsort:'addm_group' %}
                    <small>* Located at AUS TKU CLuster ADDMS</small>
                </div>
                <div class="tab-pane fade" id="pune-addm" role="tabpanel" aria-labelledby="pune-addm-tab">
                    {% include 'addm_workbench/includes/addm_vm_table.html' with addm_set=addm_vm_cluster.0.list|dictsort:'addm_group' %}
                    <small>* Located at PUNE ADDMS</small>
                </div>
                {# {% include 'addm_workbench/includes/addm_vm_table.html' with addm_set=branch_lock_addms.0.list %} tkn_branch group #}
            </div>
        </div>
    </div>
    {% comment %}Nav sticky bottom{% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
        <a class="navbar-brand" href="#"><i class="fab fa-github"></i></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin_workbench' %}">Admin Workbench</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'addm_workbench' %}">ADDM Workbench</a>
            </li>
        </ul>
        <span class="navbar-text">Octopus automation</span>
    </nav>
    {# INCLUDES #}
    {% include 'digests/includes/toast_popup.html' %}
    {% include 'addm_workbench/includes/modal_addm_table_stale.html' with addm_set=objects|dictsort:'addm_group' %}
    {% include 'addm_workbench/includes/modal_addm_ui_buttons.html' %}
    {% include 'addm_workbench/includes/modal_addm_cleanup.html' %}
    {% include 'addm_workbench/includes/modal_addm_cmd_run.html' %}
    {% include 'addm_workbench/includes/modal_addm_sync.html' %}
    {# JS #}
    <script src="{% static 'octopus/js/test-cases-tables-methods.js' %}"></script>
    <script src="{% static 'octopus/js/admin-workbench/addm-btn.js' %}"></script>
    {% comment %}DEBUG{% endcomment %}
    <div class="debug-context">
        {% if request.GET.debug %}
            <p>DEBUG enabled</p>
            <p>actual addm_names: {{ addm_names }}</p>
            <p>Selector: {{ selector }}</p>
            <ul>
                {% for sel_k, sel_v in selector.items %}
                    {% if sel_v %}
                        <li class="text-success">{{ sel_k }} = "{{ sel_v }}"</li>
                    {% else %}
                        <li class="text-warning">{{ sel_k }} = "{{ sel_v }}"</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}