{% extends "service/emails/mail_main.html" %}

{% block content %}
    <div style="margin-bottom:1em;margin-top:1em">
        <div><b>{{ SUBJECT }}</b></div>
    </div>
    <div style="margin-left: 1em">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Current state:</th>
                <td>{{ CURRENT_STATE }}</td>
            </tr>
            <tr>
                <th scope="row">Server time:</th>
                <td>{{ TIME_FORMATTED }}</td>
            </tr>
            {% if ADDM_NAME %}
                <tr>
                    <th scope="row">On ADDM:</th>
                    <td>{{ ADDM_NAME }} - {{ ADDM_IP }}</td>
                </tr>
            {% endif %}
            <tr>
                <th scope="row">Branch</th>
                <td>{{ BRANCH }}</td>
            </tr>
            <tr>
                <th scope="row">Library</th>
                <td>{{ PATTERN_LIBRARY }}</td>
            </tr>
            <tr>
                <th scope="row">Pattern folder</th>
                <td>{{ PATTERN_FOLDER }}</td>
            </tr>
            <tr>
                <th scope="row">Is key pattern</th>
                <td>{{ IS_KEY_PATTERN }}</td>
            </tr>
            <tr>
                <th scope="row">Test py</th>
                <td>{{ TEST_PY }}</td>
            </tr>
            <tr>
                <th scope="row">Pattern depoth path</th>
                <td>{{ PATTERN_FOLDER_PATH_DEPOT }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}