{% extends "main/main.html" %}
{% load static %}
{% block page_title %}
    {% if not SUBJECT %}
        TKU Upload Workbench
    {% else %}
        {{ SUBJECT }}
    {% endif %}
{% endblock %}
{% load i18n %}
{% load tz %}
{% load humanize %}
{% load template_simplify %}
{% load intro_selections %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/upload-tests.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'octopus/css/tests_reports.css' %}"/>
    <!-- Toast draw here -->
    <div aria-live="polite" aria-atomic="true" style="position: relative">
        <!-- Position it -->
        <div style="position: absolute; top: 0; left: 0;">
            <div id="toastStack" style="position: absolute;z-index: 2"></div>
        </div>
    </div>
    <!-- Workbench navbar -->
    <nav class="navbar navbar-light test-report-navbar">
        <!-- Navbar content -->
        <!-- Navbar left part content -->
        <div class="nav-reports-left">
            <!-- Digest levels breadcrumbs: -->
            <div class="digest-breadcrumbs">
                <nav class="nav nav-pills">
                    <div class="btn-group btn-group-sm" role="group">
                        <a class="btn btn-sm btn-light active" href="{% url 'tku_workbench' %}"><i class="fas fa-play"></i> TKU Upload Workbench</a>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar right part content -->
        <div class="nav-reports-right">
            <div class="upload-test-today">
                <a class="btn btn-sm btn-outline-info" href="{% url 'upload_test_today' %}">Today</a>
            </div>
            <div class="upload-test-last-day">
                <a class="btn btn-sm btn-outline-info"
                   href="{% url 'upload_test_day' year=objects.latest_cont_main.test_date_time|date:'Y' month=objects.latest_cont_main.test_date_time|date:'b' day=objects.latest_cont_main.test_date_time|date:'d' %}">Last day</a>
            </div>
            <div class="upload-test-index">
                <a class="btn btn-sm btn-outline-info" href="{% url 'upload_test_index' %}">Upload index</a>
            </div>
        </div>
    </nav>
    <!-- Content of the page -->
    <div class="upload-workbench-content">
        {# Latest upload tables in cards #}
        <div class="row tku-upload-latest">
            <div class="col-sm-6 col-shrink">
                <div class="card">
                    <div class="card-body card-body-sm">
                        <h5 class="card-title txt-nice">latest_cont_main: {{ objects.latest_cont_main.test_date_time }}</h5>
                        <div class="last-upload-test">
                            {% regroup objects.upload_cont_main|dictsortreversed:'addm_name' by tku_type as upload_cont_main %}
                            {% for test_type in upload_cont_main %}
                                {% include 'digests/tables_details/today_table.html' with object_list=test_type.list %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-shrink">
                <div class="card">
                    <div class="card-body card-body-sm">
                        <h5 class="card-title txt-nice">latest_cont_ship: {{ objects.latest_cont_ship.test_date_time }}</h5>
                        <div class="last-upload-test">
                            {% regroup objects.upload_cont_ship|dictsortreversed:'addm_name' by tku_type as upload_cont_ship %}
                            {% for test_type in upload_cont_ship %}
                                {% include 'digests/tables_details/today_table.html' with object_list=test_type.list %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-shrink">
                <div class="card">
                    <div class="card-body card-body-sm">
                        <h5 class="card-title txt-nice">latest_ga_upgrade: {{ objects.latest_ga_upgrade.test_date_time }}</h5>
                        <div class="last-upload-test step-2">
                            <span class="txt-nice">{{ objects.upload_ga_upgrade.0.tku_type }}</span>
                            <span class="txt-monospace">{{ objects.upload_ga_upgrade.0.package_type }}</span>
                            <span class="badge badge-info txt-sm" >{{ objects.upload_ga_upgrade.0.mode_key }}</span>
                            {% regroup objects.upload_ga_upgrade|dictsortreversed:'addm_name' by tku_type as upload_ga_upgrade %}
                            {% for test_type in upload_ga_upgrade %}
                                {% include 'digests/tables_details/today_table.html' with object_list=test_type.list %}
                            {% endfor %}
                        </div>
                        <div class="last-upload-test step-1">
                            <span class="txt-nice">{{ objects.upload_ga_prep.0.tku_type }}</span>
                            <span class="txt-monospace">{{ objects.upload_ga_prep.0.package_type }}</span>
                            <span class="badge badge-info txt-sm" >{{ objects.upload_ga_prep.0.mode_key }}</span>
                            {% regroup objects.upload_ga_prep|dictsortreversed:'addm_name' by tku_type as upload_ga_prep %}
                            {% for test_type in upload_ga_prep %}
                                {% include 'digests/tables_details/today_table.html' with object_list=test_type.list %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-shrink">
                <div class="card">
                    <div class="card-body card-body-sm">
                        <h5 class="card-title txt-nice">latest_ga_fresh: {{ objects.latest_ga_fresh.test_date_time }}</h5>
                        <div class="last-upload-test">
                            <span class="txt-nice">{{ objects.upload_ga_fresh.0.tku_type }}</span>
                            <span class="txt-monospace">{{ objects.upload_ga_fresh.0.package_type }}</span>
                            <span class="badge badge-info txt-sm" >{{ objects.upload_ga_fresh.0.mode_key }}</span>
                            {% regroup objects.upload_ga_fresh|dictsortreversed:'addm_name' by tku_type as upload_ga_fresh %}
                            {% for test_type in upload_ga_fresh %}
                                {% include 'digests/tables_details/today_table.html' with object_list=test_type.list %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# Upload operations stats and buttons #}
        <div class="row tku-upload-buttons">
            {# Upload buttons: #}
            <div class="col-sm-6 col-shrink">
                <!-- upload-test-buttons-card -->
                <div class="card upload-test-buttons-card">
                    <div class="card-body card-body-sm">
{#                        <h5 class="card-title txt-nice">Run upload tests</h5>#}
                        <div>
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#releaseUpload">
                                    <div class="d-flex w-100 justify-content-between"><h5 class="mb-1 txt-nice">Release preparations</h5><small>Upload\Upgrade</small></div>
                                    <p class="mb-1">Upload tests for release candidates. Use two modes: fresh and upgrade</p>
                                    <small>Executed for RC and GA</small>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dailyUpload">
                                    <div class="d-flex w-100 justify-content-between"><h5 class="mb-1 txt-nice">Continuous upload</h5><small class="text-muted">daily routine</small></div>
                                    <p class="mb-1">Upload tests for CONTINUOUS builds, just simple fresh installation</p>
                                    <small class="text-muted">Usually run automatically</small>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#wgetRefresh">
                                    <div class="d-flex w-100 justify-content-between"><h5 class="mb-1 txt-nice">Refresh TKU Packages</h5><small class="text-muted">WGET zips buildhub</small></div>
                                    <p class="mb-1">Manually shot the task to refresh TKU packages on Octopus via WGET from buildhub</p>
                                    <small class="text-muted">Usually run automatically</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {# Upload stats, last packages names, octotests#}
            <div class="col-sm-6 col-shrink">
                <div class="card">
{#                    <div class="card-header txt-nice">TKU Latest packages</div>#}
                    <div class="card-body card-body-sm">
                        <div class="tku-packages-table">
                            <div class="max_released">
                                <span class="txt-nice">{{ objects.max_released.tku_type }}: </span>
                                <span class="txt-monospace">{{ objects.max_released.package_type }}: </span>
                                <span class="badge badge-info flt-right">{{ objects.max_released.tku_build }}.{{ objects.max_released.tku_month }}.{{ objects.max_released.tku_date }}</span>
                                <span class="badge badge-light flt-right">{{ objects.max_released.updated_at|timezone:"Europe/London"|naturaltime }}</span>
                            </div>
                            <div class="max_ga">
                                <span class="txt-nice">{{ objects.max_ga.tku_type }}: </span>
                                <span class="txt-monospace">{{ objects.max_ga.package_type }}: </span>
                                <span class="badge badge-info flt-right">{{ objects.max_ga.tku_build }}.{{ objects.max_ga.tku_month }}.{{ objects.max_ga.tku_date }}</span>
                                <span class="badge badge-light flt-right">{{ objects.max_ga.updated_at|timezone:"Europe/London"|naturaltime }}</span>
                            </div>
                            <div class="max_cont_main">
                                <span class="txt-nice">{{ objects.max_cont_main.tku_type }}: </span>
                                <span class="txt-monospace">{{ objects.max_cont_main.package_type }}: </span>
                                <span class="badge badge-info flt-right">{{ objects.max_cont_main.tku_build }}.{{ objects.max_cont_main.tku_month }}.{{ objects.max_cont_main.tku_date }}</span>
                                <span class="badge badge-light flt-right">{{ objects.max_cont_main.updated_at|timezone:"Europe/London"|naturaltime }}</span>
                            </div>
                            <div class="max_cont_ship">
                                <span class="txt-nice">{{ objects.max_cont_ship.tku_type }}: </span>
                                <span class="txt-monospace">{{ objects.max_cont_ship.package_type }}: </span>
                                <span class="badge badge-info flt-right">{{ objects.max_cont_ship.tku_build }}.{{ objects.max_cont_ship.tku_month }}.{{ objects.max_cont_ship.tku_date }}</span>
                                <span class="badge badge-light flt-right">{{ objects.max_cont_ship.updated_at|timezone:"Europe/London"|naturaltime }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
{#                    <div class="card-header txt-nice">TKU Upload test cases (TBA)</div>#}
                    <div class="card-body card-body-sm">
                        <div class="tku-upload-cases-table">
                            <p>Upload cases PLUGABLE</p>
                            <ul>
                                <li>Show table with parsed octo_upload_test.py</li>
                                <li>Each case is an upload test receipt.</li>
                                <li>User can execute them from here.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# Upload routine of product content update logs #}
        <div class="row tku-upload-product-content-update">
            <div class="col-sm-6 col-shrink">
                <div class="card">
                    <div class="card-body card-body-sm">
{#                        <h5 class="card-title txt-nice">Product Content Update TKN Main</h5>#}
                        <div>{{ objects.upload_product_content_main.test_date_time }}</div>
                        <div class="last-upload-test">
                            {% regroup objects.upload_product_content_main|dictsortreversed:'addm_name' by tku_type as product_content_update_main %}
                            {% for test_type in product_content_update_main %}
                                {% include 'digests/tables_details/today_table.html' with object_list=test_type.list %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-shrink">
                <div class="card">
                    <div class="card-body card-body-sm">
{#                        <h5 class="card-title txt-nice">Product Content Update TKN Ship</h5>#}
                        <div>{{ objects.upload_product_content_ship.test_date_time }}</div>
                        <div class="last-upload-test">
                            {% regroup objects.upload_product_content_ship|dictsortreversed:'addm_name' by tku_type as product_content_update_ship %}
                            {% for test_type in product_content_update_ship %}
                                {% include 'digests/tables_details/today_table.html' with object_list=test_type.list %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row tku-upload-rest-references">
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'tku_operations' %}">REST TKU Operations All</a>
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'tku_operations'%}?operation_key=tku_install_test">REST 'tku_install_test'</a>
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'tku_operations'%}?operation_key=tku_sync_packages">REST 'tku_sync_packages'</a>
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'tku_operations'%}?operation_key=tku_parse_packages">REST 'tku_parse_packages'</a>
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'tku_operations'%}?operation_key=show_latest_tku_type">REST 'show_latest_tku_type'</a>
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'tku_operations'%}?operation_key=select_latest_tku_type">REST 'select_latest_tku_type'</a>
        </div>
    </div>
    <!-- Navbar bottom fixed -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
        <a class="navbar-brand" href="#"><i class="fab fa-github"></i></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tku_workbench' %}">TKU Upload Workbench</a>
            </li>
        </ul>
        <span class="navbar-text">Octopus automation</span>
    </nav>
    {# INCLUDES #}
    {% include 'digests/includes/toast_popup.html' %}
    <!-- Modals for upload-test-buttons-card  -->
    <!-- Modal 1 Run upload test for release-->
    {% include 'includes/modal_releaseUpload.html' %}
    <!-- Modal 2 Run upload test for daily - continuous -->
    {% include 'includes/modal_dailyUpload.html' %}
    <!-- Modal 3 Refresh TKU Packages in Octopus database -->
    {% include 'includes/modal_wgetRefresh.html' %}
    {# JS #}
    <script src="{% static 'octopus/js/upload-workbench/upload-btn.js' %}"></script>
    <script src="{% static 'octopus/js/upload-test-table-color.js' %}"></script>
{% endblock %}