<table class="table table-hover table-sm table-shrink">
    <thead class="table-light">
        <tr>
            <td>#</td>
            <td></td>
            <td>Group</td>
            <td>Branch</td>
            <td>Role</td>
            <td>V.</td>
            <td>Name</td>
            <td>full v.</td>
            <td>Host</td>
            <td>IP</td>
            <td>Buttons</td>
        </tr>
    </thead>
    <tbody>
        {% for addm in addm_set %}
            <tr class="addm-group-color-{{ addm.addm_group }}">
                <td id="num"><a href="{% url 'admin:index' %}run_core/addmdev/{{ addm.id }}/change/">{{ forloop.counter }}</a></td>
                {# user view #}
                <td id="disables">{% if addm.disables %}off{% endif %}</td>
                <td id="addm_group">{{ addm.addm_group }}</td>
                <td id="branch_lock"><span class="{{ addm.branch_lock }}">{{ addm.branch_lock }}</span></td>
                <td id="addm_role">{{ addm.role }}</td>
                <td id="addm_v_int">{{ addm.addm_v_int }}</td>
                <td id="addm_name">{{ addm.addm_name }}</td>
                <td id="addm_full_version">{{ addm.addm_full_version }}</td>
                <td id="addm_host">{{ addm.addm_host }}</td>
                <td id="addm_ip">{{ addm.addm_ip }}</td>
                <td id="buttons">
                    <a type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal"
                       data-target="#addmServiceButtonsModal"
                       data-addm_id="{{ addm.id }}"
                       data-addm_host="{{ addm.addm_host }}"
                    >Service</a>
                    <a type="button" class="btn btn-sm btn-outline-info" data-toggle="modal"
                       data-target="#addmUIButtonsModal"
                       data-addm_id="{{ addm.id }}"
                       data-addm_host="{{ addm.addm_host }}"
                    >ADDM UI</a>
                </td>
                {# Service: #}
                <td id="vm_cluster" style="display: none">{{ addm.vm_cluster }}</td>
                <td id="id" style="display: none">{{ addm.id }}</td>
                <td id="vm_id" style="display: none">{{ addm.vm_id }}</td>
                <td id="description" style="display: none">{{ addm.description }}</td>
                <td id="addm_v_code" style="display: none">{{ addm.addm_v_code }}</td>
                <td id="addm_branch" style="display: none">{{ addm.addm_branch }}</td>
                <td id="addm_owner" style="display: none">{{ addm.addm_owner }}</td>
                {# Security hidden #}
{#                <td id="tideway_user">{{ addm.tideway_user }}</td>#}
{#                <td id="tideway_pdw">{{ addm.tideway_pdw }}</td>#}
{#                <td id="root_user">{{ addm.root_user }}</td>#}
{#                <td id="root_pwd">{{ addm.root_pwd }}</td>#}
            </tr>
        {% endfor %}
    </tbody>
</table>