<div class="modal fade bd-example-modal" id="addmButtonsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ADDM Buttons</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-details"></div>
                <span id="addm_details_str"></span>
                <div class="card-text">Cleanup routine</div>
                <div class="btn-group addm-cleanup">
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#">Day</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#">Week</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#">Month</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#">Etc</a>
                </div>
                <div class="card-text">CMD Run</div>
                <div class="btn-group addm-cmd-run">
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#">Cmd1</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#">Cmd1</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#">Cmd1</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#">Cmd1</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#">Cmd1</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#">Cmd1</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#">Cmd1</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#">Cmd1</a>
                </div>
                <div class="card-text">Sync data</div>
                <div class="btn-group addm-rsync">
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#">Rsync</a>
                </div>
                <div class="card-text">ADDM Appliance</div>
                <div class="btn-group addm-setup">
                    <a class="btn btn-sm btn-outline-info addm-btn" title="ADDM SetupHome" target="_blank" href="http://__addm.addm_host__.bmc.com/ui/SetupHome">Setup</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" title="ADDM SetupApplianceInfo" target="_blank" href="http://__addm.addm_host__.bmc.com/ui/SetupApplianceInfo">Info</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" title="ADDM SetupLogging" target="_blank" href="http://__addm.addm_host__.bmc.com/ui/SetupLogging">Log</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" title="ADDM SetupUpgrade" target="_blank" href="http://__addm.addm_host__.bmc.com/ui/SetupUpgrade">Upgr</a>
                </div>
                <div class="card-text">ADDM Discovery</div>
                <div class="btn-group addm-discovery">
                    <a class="btn btn-sm btn-outline-primary addm-btn" title="ADDM SetupDiscoveryOptions" target="_blank" href="http://__addm.addm_host__.bmc.com/ui/SetupDiscoveryOptions">Disc.Opt</a>
                    <a class="btn btn-sm btn-outline-primary addm-btn" title="ADDM DiscoveryStats" target="_blank" href="http://__addm.addm_host__.bmc.com/ui/DiscoveryStats">Disc.St.</a>
                    <a class="btn btn-sm btn-outline-primary addm-btn" title="ADDM DiscoveryHome" target="_blank" href="http://__addm.addm_host__.bmc.com/ui/DiscoveryHome">Disc.Home</a>
                    <a class="btn btn-sm btn-outline-primary addm-btn" title="ADDM DiscoveryKnowledgeManagement" target="_blank" href="http://__addm.addm_host__.bmc.com/ui/DiscoveryKnowledgeManagement">TKU</a>
                </div>
                <div class="card-text">ADDM Model</div>
                <div class="btn-group addm-model">
                    <a class="btn btn-sm btn-outline-warning addm-btn" title="ADDM SetupModelTaxonomy" target="_blank" href="http://__addm.addm_host__.bmc.com/ui/SetupModelTaxonomy">Taxonomy</a>
                    <a class="btn btn-sm btn-outline-warning addm-btn" title="ADDM SetupModelMaintenance" target="_blank" href="http://__addm.addm_host__.bmc.com/ui/SetupModelMaintenance">Model</a>
                    <a class="btn btn-sm btn-outline-warning addm-btn" title="ADDM SetupSyncTargetOverview" target="_blank" href="http://__addm.addm_host__.bmc.com/ui/SetupSyncTargetOverview">CMDB Sync</a>
                </div>
                <div class="card-text">ADDM Appliance service</div>
                <div class="btn-group addm-appliance">
                    <a class="btn btn-sm btn-outline-dark addm-btn" title="ADDM ApplianceSupport" target="_blank" href="http://__addm.addm_host__.bmc.com/ui/ApplianceSupport">Appliance Support</a>
                    <a class="btn btn-sm btn-outline-dark addm-btn" title="ADDM SetupApplianceControl" target="_blank" href="http://__addm.addm_host__.bmc.com/ui/SetupApplianceControl">Appliance Control</a>
                    <a class="btn btn-sm btn-outline-dark addm-btn" title="ADDM SetupDiskUtils" target="_blank" href="http://__addm.addm_host__.bmc.com/ui/SetupDiskUtils">HDD</a>
                    <a class="btn btn-sm btn-outline-dark addm-btn" title="ADDM SetupApplianceBaseline" target="_blank" href="http://__addm.addm_host__.bmc.com/ui/SetupApplianceBaseline">Baseline</a>
                    <a class="btn btn-sm btn-outline-dark addm-btn" title="ADDM SetupApplianceJVMSize" target="_blank" href="http://__addm.addm_host__.bmc.com/ui/SetupApplianceJVMSize">JVM</a>
                    <a class="btn btn-sm btn-outline-dark addm-btn" title="ADDM SetupNTP" target="_blank" href="http://__addm.addm_host__.bmc.com/ui/SetupNTP">NTP</a>
                    <a class="btn btn-sm btn-outline-dark addm-btn" title="ADDM SetupApplianceBaselineActions" target="_blank" href="http://__addm.addm_host__.bmc.com/ui/SetupApplianceBaselineActions">Act</a>
                    <a class="btn btn-sm btn-outline-dark addm-btn" title="ADDM SetupApplianceMail" target="_blank" href="http://__addm.addm_host__.bmc.com/ui/SetupApplianceMail">Mail</a>
                    <a class="btn btn-sm btn-outline-dark addm-btn" title="ADDM SetupApplianceBaselineOptions" target="_blank" href="http://__addm.addm_host__.bmc.com/ui/SetupApplianceBaselineOptions">Mail to's</a>
                </div>
                <div class="btn-group">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>