<div class="modal fade bd-example-modal" id="addmCMDRun" tabindex="-1" role="dialog" aria-labelledby="addmCMDRun"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ADDM CMD Buttons</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-details"></div>
                <span id="addm_details_str"></span>
                <div class="card-text">Run CMD_NAME</div>
                <div class="btn-group addm-cmd-run">
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-cmd_k="show_v" data-addm_group="alpha">alpha</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-cmd_k="show_v" data-addm_group="beta">beta</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-cmd_k="show_v" data-addm_group="charlie">charlie</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-cmd_k="show_v" data-addm_group="delta">delta</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-cmd_k="show_v" data-addm_group="echo">echo</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-cmd_k="show_v" data-addm_group="foxtrot">foxtrot</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-cmd_k="show_v" data-addm_group="golf">golf</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-cmd_k="show_v" data-addm_group="all">all</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>