{% load static %}
{% load template_simplify %}
{% all_addm_groups as all_addm_groups %}
<div class="modal fade bd-example-modal" id="addmCMDRun" tabindex="-1" role="dialog" aria-labelledby="addmCMDRun"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ADDM CMD Buttons</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-details"></div>
                <span id="addm_details_str"></span>
                <div class="card-text">
                    <p>ADDM Full cleanup. Uses REST <a href="{% url 'admin_operations' %}?operation_key=addm_cmd_run">addm_cmd_run</a> method.
                        Run ADDM registered command. Commands should be added to Octopus system. (see <a href="{% url 'admin:index' %}run_core/addmcommands/">/admin/run_core/addmcommands/</a>)
                        Require: admin_users; Options: (command_key=(), addm_group=()</p>
                </div>
                <div class="btn-group addm-cmd-run">
                    <form>
                        <div class="form-group">
                            <label for="addmCMDSelect">Example multiple select</label>
                            <select multiple class="form-control" id="addmCMDSelect" size="20">
                                {% for command in addm_commands %}
                                    <option value="{{ command.command_key }}">{{ command.command_key }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                {% for addm_group in all_addm_groups %}
                                    <input class="form-check-input addm-group-checkbox" type="checkbox"
                                           id="addmGroupCMDCheckbox-{{ addm_group }}" value="{{ addm_group }}">
                                    <label class="form-check-label" for="addmGroupCMDCheckbox-{{ addm_group }}"
                                           style="padding-right: .7em">{{ addm_group }}</label>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input addm-branch-checkbox" type="checkbox"
                                       id="inlineCheckbox_tkn_main" value="tkn_main">
                                <label class="form-check-label" for="inlineCheckbox_tkn_main"
                                       style="padding-right: .7em">tkn_main</label>
                                <input class="form-check-input addm-branch-checkbox" type="checkbox"
                                       id="inlineCheckbox_tkn_ship" value="tkn_ship">
                                <label class="form-check-label" for="inlineCheckbox_tkn_ship"
                                       style="padding-right: .7em">tkn_ship</label>
                            </div>
                        </div>
                        <a id="runAddmCMD" class="btn btn-primary">Run selected</a>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>