<div class="modal fade bd-example-modal" id="addmCleanupButtons" tabindex="-1" role="dialog" aria-labelledby="addmCleanupButtons"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ADDM Cleanup Buttons</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-details"></div>
                <span id="addm_details_str"></span>
                <div class="card-text">Daily</div>
                <div class="btn-group addm-clean addm-clean-daily">
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="daily" data-addm_group="alpha">alpha</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="daily" data-addm_group="beta">beta</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="daily" data-addm_group="charlie">charlie</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="daily" data-addm_group="delta">delta</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="daily" data-addm_group="echo">echo</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="daily" data-addm_group="foxtrot">foxtrot</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="daily" data-addm_group="golf">golf</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="daily" data-addm_group="all">all</a>
                </div>
                <div class="card-text">Weekly</div>
                <div class="btn-group addm-clean addm-clean-weekly">
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="weekly" data-addm_group="alpha">alpha</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="weekly" data-addm_group="beta">beta</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="weekly" data-addm_group="charlie">charlie</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="weekly" data-addm_group="delta">delta</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="weekly" data-addm_group="echo">echo</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="weekly" data-addm_group="foxtrot">foxtrot</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="weekly" data-addm_group="golf">golf</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="weekly" data-addm_group="all">all</a>
                </div>
                <div class="card-text">tests</div>
                <div class="btn-group addm-clean addm-clean-tests">
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="tests" data-addm_group="alpha">alpha</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="tests" data-addm_group="beta">beta</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="tests" data-addm_group="charlie">charlie</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="tests" data-addm_group="delta">delta</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="tests" data-addm_group="echo">echo</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="tests" data-addm_group="foxtrot">foxtrot</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="tests" data-addm_group="golf">golf</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="tests" data-addm_group="all">all</a>
                </div>
                <div class="card-text">Etc</div>
                <div class="btn-group addm-clean addm-clean-etc">
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="etc" data-addm_group="alpha">alpha</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="etc" data-addm_group="beta">beta</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="etc" data-addm_group="charlie">charlie</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="etc" data-addm_group="delta">delta</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="etc" data-addm_group="echo">echo</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="etc" data-addm_group="foxtrot">foxtrot</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="etc" data-addm_group="golf">golf</a>
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-mode="etc" data-addm_group="all">all</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>