{% load template_simplify %}
{% all_addm_groups as all_addm_groups %}
<div class="modal fade bd-example-modal" id="addmSYNCButtons" tabindex="-1" role="dialog" aria-labelledby="addmSYNCButtons"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ADDM SYNC Buttons</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-details"></div>
                <span id="addm_details_str"></span>
                <div class="card-text">Run RSYNC Test Shares</div>
                <div class="btn-group addm-rsync">
                    {% for addm_group in all_addm_groups %}
                        <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-operation="addm_sync_shares"
                           data-addm_group="{{ addm_group }}">{{ addm_group }}</a>
                    {% endfor %}
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-operation="addm_sync_shares"
                       data-addm_group="{{ all_addm_groups|join:"," }}">all</a>
                </div>
                <div class="card-text">Run RSYNC Utils Shares</div>
                <div class="btn-group addm-rsync">
                    {% for addm_group in all_addm_groups %}
                        <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-operation="addm_sync_utils"
                           data-addm_group="{{ addm_group }}">{{ addm_group }}</a>
                    {% endfor %}
                    <a class="btn btn-sm btn-outline-info addm-btn" href="#" data-operation="addm_sync_utils"
                       data-addm_group="{{ all_addm_groups|join:"," }}">all</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>