{% load template_simplify %}
{% all_addm_groups as all_addm_groups %}
<div class="modal fade bd-example-modal" id="addmCleanupButtons" tabindex="-1" role="dialog"
     aria-labelledby="addmCleanupButtons"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ADDM Cleanup Buttons</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-details"></div>
                <span id="addm_details_str"></span>
                <div class="btn-group addm-clean addm-clean-daily">
                    <div class="form-group">
                        <div class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="card-text">
                                    <p>ADDM Full cleanup.
                                        Uses REST <a href="{% url 'admin_operations' %}?operation_key=addm_cleanup">addm_cleanup</a> method.
                                        Run selected ADDM cleanup therapy.
                                        Require: admin_users;  addm_group=()
                                        Example: operation_key=addm_cleanup;addm_group=alpha  :return: mode: task.id</p>
                                </div>
                                <form>
                                    <div class="form-check form-check-inline">
                                        {% for addm_group in all_addm_groups %}
                                            <input class="form-check-input addm-group-checkbox" type="checkbox"
                                                   id="addmGroupCleanupCheckbox-{{ addm_group }}" value="{{ addm_group }}">
                                            <label class="form-check-label" for="addmGroupCleanupCheckbox-{{ addm_group }}"
                                                   style="padding-right: .7em">{{ addm_group }}</label>
                                        {% endfor %}
                                        {# FOR ALL: #}
                                        <input class="form-check-input addm-group-checkbox" type="checkbox"
                                               id="inlineCheckbox_all" value="{{ all_addm_groups|join:"," }}">
                                        <label class="form-check-label" for="inlineCheckbox_all"
                                               style="padding-right: .7em">all</label>
                                    </div>
                                    <a id="runADDMCleanup" class="btn btn-sm btn-secondary"
                                       data-operation_key="addm_cleanup">Run cleanup</a>
                                </form>
                            </li>
                            <li class="list-group-item"></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>