{% load template_simplify %}
{% all_addm_groups as all_addm_groups %}
<div class="modal fade bd-example-modal" id="addmServiceButtonsModal" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ADDM Operations Buttons</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-details"></div>
                <span id="addm_details_str"></span>
                <div class="card w-100 addm-clean">
                    <div class="card-header">Usual routines</div>
                    <div class="card-body">
                        <div class="card-text"></div>
                        {# "goto": "http://127.0.0.1:8000/octo_admin/admin_operations/?operation_key=addm_cleanup"#}
                        <a class="btn btn-sm btn-outline-info addm-btn" href="#">addm_cleanup</a>
                        <a class="btn btn-sm btn-outline-info addm-btn" href="#">addm_sync_shares</a>
                        <a class="btn btn-sm btn-outline-info addm-btn" href="#">addm_sync_utils</a>
                    </div>
                </div>
                <div class="addm-cmd-run">
                    <div class="card w-100">
                        <div class="card-header">CMD Run</div>
                        <div class="card-body">
                            <div class="card-text">Choose one or multiple commands to execute on selected ADDM machine
                                one by one.
                            </div>
                            <form>
                                <div class="form-group">
                                    <label for="addmSingleCMDSelect">Example multiple select</label>
                                    <select multiple class="form-control" id="addmSingleCMDSelect" size="10">
                                        {% for command in addm_commands %}
                                            <option value="{{ command.command_key }}">{{ command.command_key }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <a id="runSingleAddmCMD" class="btn btn-primary">Run selected</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="btn-group">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>