{% load template_simplify %}
{% all_addm_groups as all_addm_groups %}
<div class="modal fade bd-example-modal" id="addmSYNCButtons" tabindex="-1" role="dialog" aria-labelledby="addmSYNCButtons"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ADDM SYNC Buttons</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-details"></div>
                <span id="addm_details_str"></span>
                <div class="form-group">
                    <div class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card-text">
                                <p>Run RSYNC Test Shares. Uses REST
                                    <a href="{% url 'admin_operations' %}?operation_key=addm_sync_shares">addm_sync_shares</a> or
                                    <a href="{% url 'admin_operations' %}?operation_key=addm_sync_utils">addm_sync_utils</a> methods.
                                    Execute routine for Octopus NFS -> ADDM sync all files for test utils.
                                    Using rsync. keys used rsync.python.testutils, rsync.tideway.utils  Require: admin_users;  Options: addm_group=()
                                </p>
                            </div>
                            <form>
                                <div class="form-check form-check-inline">
                                    {% for addm_group in all_addm_groups %}
                                        <input class="form-check-input addm-group-checkbox" type="checkbox"
                                               id="addmGroupRsyncTestsCheckbox-{{ addm_group }}" value="{{ addm_group }}">
                                        <label class="form-check-label" for="addmGroupRsyncTestsCheckbox-{{ addm_group }}"
                                               style="padding-right: .7em">{{ addm_group }}</label>
                                    {% endfor %}
                                    {# FOR ALL: #}
                                    <input class="form-check-input addm-group-checkbox" type="checkbox"
                                           id="ddmGroupRsyncTestsCheckbox-all" value="{{ all_addm_groups|join:"," }}">
                                    <label class="form-check-label" for="ddmGroupRsyncTestsCheckbox-all"
                                           style="padding-right: .7em">all</label>
                                </div>
                                <a id="runADDMRsyncTests" class="btn btn-sm btn-secondary"
                                   data-operation_key="addm_sync_shares">Run RSYNC Test Shares</a>
                            </form>
                        </li>
                        <li class="list-group-item">
                            <div class="card-text">Run RSYNC Utils Shares</div>
                            <form>
                                <div class="form-check form-check-inline">
                                    {% for addm_group in all_addm_groups %}
                                        <input class="form-check-input addm-group-checkbox" type="checkbox"
                                               id="addmGroupRsyncUtilsCheckbox-{{ addm_group }}" value="{{ addm_group }}">
                                        <label class="form-check-label" for="addmGroupRsyncUtilsCheckbox-{{ addm_group }}"
                                               style="padding-right: .7em">{{ addm_group }}</label>
                                    {% endfor %}
                                    {# FOR ALL: #}
                                    <input class="form-check-input addm-group-checkbox" type="checkbox"
                                           id="addmGroupRsyncUtilsCheckbox-all" value="{{ all_addm_groups|join:"," }}">
                                    <label class="form-check-label" for="addmGroupRsyncUtilsCheckbox-all"
                                           style="padding-right: .7em">all</label>
                                </div>
                                <a id="runADDMRsyncUtils" class="btn btn-sm btn-secondary"
                                   data-operation_key="addm_sync_utils">Run RSYNC Utils Shares</a>
                            </form>
                        </li>
                        <li class="list-group-item"></li>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>